@import url('https://fonts.googleapis.com/css?family=Lobster');

gbody{margin: 0px;padding: 0px;font-family: DejaVuSans,Lato;color: #919191;}
a:focus , a:hover{outline:0;text-decoration: none;}
a {
color: #42a5f5;
}
@font-face {
font-family:"DejaVuSans";
src:url("../fonts/DejaVuSans.ttf");
}
@font-face {
font-family:"DejaVuSans-Bold";
src:url("../fonts/DejaVuSans-Bold.ttf");
}
.browse_btn span {
background: #0E3C5E;
border: 1px solid #d6d6d6;
border-radius: 5px;
color: #ffffff;
float: left;
font-size: 13px;
padding: 7px 16px;
margin-top: 10px;
cursor: pointer;
}
.browse_btn p {
color: #996666;
float: left;
font-size: 16px;
width: 100%;
}
.browseimage img {
border: 2px solid #3399cc;
height: 90px;
width: 90px;
}
.searchresultbg {
min-height: 270px !important;
}
.searchresultbg .img-responsive {
    width: 100%;
    height: 180px;
    margin:0 auto;/* wish list page image */
    object-fit: cover;
}
form.complete_service {
padding-top: 35px;
}
.rating_checkbox {
float: left;
margin-top: 0px !important;
margin-right: 10px !important;
}
.contactform .form-group textarea::-moz-placeholder {
color: #323334;
font-size: 15px;
font-family: Lato;
/*text-transform: capitalize;*/
}
.error {
font-size: 15px !important;
font-weight: 500;
color: red !important;
} 
.field-icon {
/*float: right;
margin-left: -25px;
margin-top: -25px;*/
position: relative;
z-index: 2;
}
.fa {
display: inline-block;
font: normal normal normal 14px/1 FontAwesome;
font-size: 14px;
font-size: inherit;
text-rendering: auto;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}
.fa-fw {
width: 1.28571429em;
text-align: center;
}
.profileinput textarea {
border: 0 none;
box-shadow: none;
color: #444545;
float: left;
font-size: 20px;
padding: 0;
width: calc(100% - 30px);
}
.centered{float: none;margin: auto;}
.leftheader > ul {
list-style: outside none none;
padding: 0;margin: 0px;
}
.leftheader li {
border-right: 1px solid #fff;
display: inline;
padding: 0 40px;
}
.leftheader li:first-child{padding-left: 0px;}
.leftheader li:last-child{border-right: 0px;}
.top_header {
background: #1B9BD8; padding: 10px 0;
}
.leftheader a {
color: #fff;
font-family: DejaVuSans;
font-size: 14px;
font-weight: bold;
}
.leftheader a b{font-family:"DejaVuSans-Bold";}
.rightheader ul li {
display: inline;padding: 0 2px;
}
.rightheader ul{margin: 0px;padding:0px;}
.rightheader span{color: #fff;font-family:"DejaVuSans-Bold"; padding-right: 10px;}
.rightheader li a i {
    color: #39c;
    font-size: 13px;
    border: 2px solid #fff;
    background-color: #ffffff;
    border-radius: 50%;
    height: 25px;
    width: 25px;
    text-align: center;
    line-height: 22px;
    padding: 0px;
    margin: 0px;
}
nav.navigationbar {
background: #ffffff none repeat scroll 0 0;
border: 0 none;
border-radius: 0;
margin-bottom: 0px;padding: 0px 0px;
box-shadow: 0px 0px 10px #ccc;
}
.navbar-default.navigationbar li {
transition: .7s ease;
}
.navbar-default.navigationbar li a {
color: #0f3b5e;
font-family: Roboto;
font-size: 14px;
padding-bottom: 24px;
padding-top: 25px;
transition: .7s ease;
}
.navbar-default.navigationbar li a:hover , .navbar-default.navigationbar li a:focus{/*background: #0E3C60*/;color: #fff;}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
color: #555;
background-color: #ffffff;
}
.navigationbar ul {
margin-right: 0;
}
.nopadding{padding:0px;}
.logodiv{
    /*padding: 10px 15px;*/
  
}
.loginbtn a {
color: #0E3C5E;
float: left;font-weight: bold;
font-family: Roboto;
font-size: 19px;
padding-top: 20px;
width: 100%;
}
.loginbtn a i {
padding-right: 10px;
}
.droplist a i {
width: 25px;
}
.site-footer {
background: rgba(0, 0, 0, 0) url("../images/footerbg.jpg") no-repeat fixed center center / cover ;
font-family: open sans;float: left;width: 100%;
}
.tg-features li {
float: left;
line-height: inherit;
list-style-type: none;
padding: 0 1px;
width: 50%;

}
.tg-feature {
background: #333 none repeat scroll 0 0;
border-radius: 3px;
float: left;
padding: 20px 26px;
width: 100%;
min-height: 235px;
margin: 35px 0px;
}
.tg-features {
color: #919191;
float: left;
font-size: 13px;
line-height: 16px;
list-style: outside none none;
padding: 60px 0;
width: 100%;
}
.tg-featureicon {
border-radius: 50%;
float: left;
height: 60px;
line-height: 60px;
overflow: hidden;
text-align: center;
width: 60px;
}
.tg-featureicon.pinkicon{background: #ec407a;}
.tg-featureicon.blueicon{background: #42a5f5;}
.tg-featureicon.greenicon{background: #66bb6a;}

.tg-featureicon i {
color: #fff;
display: block;
font-size: 30px;
line-height: inherit;
}
.tg-featurecontent {
overflow: hidden;
padding: 11px 0 10px 10px;
}
.tg-features li:nth-child(1) .tg-featurecontent h3 {
color: #ec407a;
}
.tg-features li:nth-child(2) .tg-featurecontent h3 {
color: #42a5f5;
}
.tg-features li:nth-child(3) .tg-featurecontent h3 {
color: #66bb6a;
}
.tg-featurecontent h3 {
font-size: 18px;
line-height: 18px;
margin: 0;
overflow: hidden;
text-overflow: ellipsis;
white-space: nowrap;
width: 100%;
}
.tg-featurecontent span {
display: block;
overflow: hidden;
padding: 5px 0 0;
text-overflow: ellipsis;
white-space: nowrap;
width: 100%;
}
.tg-footercolumn .tg-description {
padding: 0 0 30px;
}
.tg-description {
float: left;
width: 100%;
}
.tg-footercolumn .tg-description p {
margin: 0;
}
.tg-description a:hover{color: #42a5f5;}
.tg-contactinfo li i {
width: 25px;
}
footer .tg-logo {
float: left;
margin-bottom: 20px;
width: 100%;
}
.tg-contactinfo {
float: left;margin-bottom: 0px;
list-style: outside none none;
width: 100%;padding-left: 0px;
}
.tg-contactinfo li i {
float: left;
padding-top: 3px;
width: 25px;
}
.tg-contactinfo address {
margin-bottom: 0;
}
.tg-contactinfo > li {
padding-bottom: 10px;
}
.tg-socialicons li a i {
color: #fff;
display: block;
font-size: 13px;
line-height: 30px;
text-align: center;
width: 30px;
}
.tg-socialicons li a {
background: #000 none repeat scroll 0 0;
border-radius: 30px;
color: #fff;
display: block;
height: 30px;
line-height: 30px;
overflow: hidden;
position: relative;
text-align: center;
/*text-transform: capitalize;
*/width: 30px;
}
.tg-footercolumn .tg-socialicons {
float: left;
padding: 0px 0 0;
width: 100%;
}
.tg-socialicons li {
float: left;
line-height: inherit;
list-style-type: none;
padding: 0 4px;
}
.tg-socialicons li.tg-facebook a{background: #3B5999;}
.tg-socialicons li.tg-twitter a{background: #55ACEE;}
.tg-socialicons li.tg-linkedin a{background: #0077B5;}
.tg-socialicons li.tg-googleplus a{background: #DD4B39;}
.tg-socialicons li.tg-rss a{background: #FF6600;}
.tg-fourcolumns .tg-footercolumn {
padding: 0 0 60px;
}
.tg-widgettitle {
border-bottom: 1px solid #ddd;
float: left;
margin: 0 0 20px;
padding: 0 0px 20px;
position: relative;
width: 100%;
}
.tg-footercolumn .tg-widgettitle h3 {
color: #aaa;
}
.tg-footercolumn .tg-widgetcontent {
padding: 0;
}
.tg-widgetcontent ul {
float: left;
font-size: 13px;
line-height: 16px;
list-style: outside none none;
width: 100%;
}
.tg-widgettwitter .tg-widgetcontent ul li {
padding: 0 0 0 25px;
position: relative;
}
.tg-widgettitle h3 {
color: #333;
font-family: Roboto;
font-size: 18px;
font-weight: 100;
line-height: 18px;
margin: 0;
}
.tg-widgetcontent ul {
float: left;padding: 0px;
font-size: 13px;
line-height: 16px;
list-style: outside none none;
width: 100%;
}
.tg-widgettwitter .tg-widgetcontent ul li::before {
content: "";
font-family: "FontAwesome";
font-size: 12px;
left: 0;
line-height: 10px;
position: absolute;
top: 7px;
}
.tg-widgettwitter .tg-widgetcontent ul li .tg-description {
padding: 0;
}
.tg-widgettwitter .tg-widgetcontent ul li:last-child::before {
display: none;
}
.tg-widgettwitter .tg-widgetcontent ul li {
padding: 0 0 0 25px; line-height: 20px;
position: relative;
}
.tg-widgetcontent > ul > li {
float: left;
width: 100%;
}
.tg-widgettwitter .tg-widgetcontent ul li a {
display: block;
margin: 5px 0;
}
.tg-widgettwitter .tg-widgetcontent ul li + li {
margin: 30px 0 0;
}
.tg-widgetusefullinks .tg-widgetcontent ul li {
padding: 0 0 8px;
width: 50%;
}
.tg-widgetusefullinks .tg-widgetcontent ul li a::before {
content: "\f105";
font-family: "fontawesome";
font-size: 15px;
left: 0;
line-height: inherit;
position: absolute;
top: 0;
}
.tg-widgetcontent ul li a {
color: #aaa;
float: left;
line-height: 16px;
position: relative;
}
.tg-widgetusefullinks .tg-widgetcontent ul li a {
padding: 0 0 0 15px;
}
footer.site-footer .viewlink a{color: #42a5f5;}
.tg-widgetfreeinspection ul li figure {
background: #fff none repeat scroll 0 0;
border-radius: 50%;
float: left;
height: 40px;
margin: 0 10px 0 0;
width: 40px;
}
.tg-widgetcontent img {
width: 40px;
}
.tg-widgetfreeinspection .tg-contentbox {
float: none;
overflow: hidden;
padding: 2px 0;
width: auto;
}
.tg-widgetfreeinspection .tg-contentbox h4 {
float: left;
font-size: 14px;
line-height: 17px;
margin: 0 0 4px;
width: 100%;
}
.tg-widgetfreeinspection .tg-contentbox .tg-matadata {
margin: 0;
}
.tg-stars span::after, .tg-stars::before {
color: rgba(218, 218, 218, 0.8);
content: "";
font-family: "FontAwesome";
font-size: 16px;
left: 0;
letter-spacing: 4px;
line-height: 16px;
position: absolute;
top: 0;
}
.tg-matadata li .tg-stars {
width: 80px;
}
.tg-matadata li .tg-stars, .tg-matadata li .tg-stars span::after, .tg-matadata li .tg-stars::before {
font-size: 13px;
height: 13px;
line-height: 13px;
}
.tg-stars span, .tg-stars {
float: left;
height: 16px;
line-height: 16px;
position: relative;
width: 100px;
}
.tg-stars span::after {
color: #fdd003;
}
.tg-widgetfreeinspection .tg-widgetcontent > ul > li + li {
padding: 30px 0 0;
}
.tg-matadata li + li::before {
content: "/";
font-size: 13px;
left: -2px;
line-height: 16px;
position: absolute;
top: 0;
}
.tg-matadata li {
float: left;
line-height: inherit;
list-style-type: none;
padding: 0 10px;
position: relative;
}
.tg-widgetfreeinspection .tg-contentbox .tg-matadata li:first-child {
padding-left: 0;
}
.tg-widgetfreeinspection .tg-contentbox .tg-matadata li {
padding: 0 5px;
width: auto;
}
.tg-widgetcontent time {
float: left;
width: 100%;
}
a, a:hover, a:focus, a:active, p a, p a:hover, .tg-features li:nth-child(2) .tg-featurecontent h3, .tg-widgettwitter .tg-widgetcontent ul li a, .tg-widgetfreeinspection ul li:last-child a, .tg-breadcrumb li a, .tg-matadata li a:hover, .alert-info strong, .tg-btnaddservices, .tg-weatherarea i {
color: #1d9bd7;
}
.formbg {
background: #eceff1 none repeat scroll 0 0;
border: 8px solid #f7f9f9;
float: left;
margin: 40px 0;
padding: 30px 30px;
width: 100%;
}
.formarea h2 {
color: #323334;margin-top:0px;
font-family: Lato;
}
.formarea p {
color: #323334;
font-family: Lato;
font-size: 15px;
margin-bottom: 20px;
}
.formarea .forminput > input {
background: #fff none repeat scroll 0 0;
border: 1px solid #ccc;
border-radius: 5px;font-family: Lato;
font-size: 16px;
height: 50px;color: #323334;
width: 100%;padding: 0 10px;
}
.formarea .forminput > input::-moz-placeholder {
color: #323334;
font-family: Lato;
font-size: 16px;
opacity: 1;
}
.formarea .forminput > input::-webkit-placeholder {
color: #323334;
font-family: Lato;
font-size: 16px;
opacity: 1;
}
.formarea .forminput > input::placeholder {
color: #323334;
font-family: Lato;
font-size: 16px;
opacity: 1;
}
/*.buttondiv input.btn {
background:#0E3C5E;
color: #ffffff;
font-family: Lato;
font-size: 24px;
padding: 12px 0;height: 60px;
width: 100%;
}*/
.buttondiv input.btn:hover{background: #1B9BD8;color: #fff;}
.buttondiv {
margin-top: 30px;
}
.formlink > span {
color: #323334;
font-family: Lato;
font-size: 15px;
}
.formlink {
text-align: center;margin-top: 10px;
}
.formlink > a {
color: #1B9BD8;
font-family: Lato;
font-size: 17px;
}
.formlink > a:hover{color: #323334;}
/**checkbox-css**/
.checkboxdiv {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxdiv input {
position: absolute;
opacity: 0;
cursor: pointer;
}

/* Create a custom checkbox */
.checkboxdiv .checkmark {
background-color: #eee;
border: 1px solid #ccc;
border-radius: 7px;
height: 25px;
left: 0;
position: absolute;
top: 0;
width: 25px;
}

/* On mouse-over, add a grey background color */
.checkboxdiv:hover input ~ .checkmark {
background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.checkboxdiv input:checked ~ .checkmark {
background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxdiv .checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.checkboxdiv input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.checkboxdiv .checkmark:after {
left: 9px;
top: 5px;
width: 5px;
height: 10px;
border: solid #323334;
border-width: 0 3px 3px 0;
-webkit-transform: rotate(45deg);
-ms-transform: rotate(45deg);
transform: rotate(45deg);
}
.checkboxdiv .checkmark:hover {
background: transparent none repeat scroll 0 0 !important;
}
label.checkboxdiv {
color: #323334;
font-family: Lato;
font-size: 16px;
font-weight: 200;
}
/**checkbox-end**/

.forminput .error {
color: red;
font-size: 13px;
}
.serviceformbg {
background: #636363 none repeat scroll 0 0;
float: left;
padding: 25px;
width: 100%;
}
.serviceform h3 {
color: #fff;
font-family: Lato;
font-size: 30px;
margin-top: 0;
}
.formdiv {
padding: 0 3px;
}
.formdiv select {
border: 0 none;
height: 45px;-moz-appearance:none;-webkit-appearance:none;background-image: url(../images/dropdwonicon.png);
background-repeat: no-repeat;background-position: 97%;color: #666666;font-size: 17px;font-family: Lato;

}
.formdiv input {
border: 0 none;
height: 45px;
font-weight: bold;
font-family: Lato;
}
.formbutton input {
background: #1B9BD8;
color: #ffffff !important;
font-family: Lato;
font-size: 17px;
font-weight: bold;
height: 45px;
width: 100%;
margin-bottom: 20px;
}
.formbutton a {
background: #00A0DA none repeat scroll 0 0;
border-radius: 4px;
color: #fff;
float: left;
font-family: Lato;
font-size: 21px;
font-weight: bold;
height: 45px;
padding: 6px 0;
text-align: center;
width: 100%;
}
.formbutton{padding: 0px 4px;}
.serviceformbg {
    box-shadow: 1px 4px 11px 0 #9e9b9e;
    background: rgb(12, 62, 100,0.8);
    float: left;
    margin-top: -88px;
    padding: 35px 25px;
    position: relative;
    width: 100%;
}
.abtservicecontent .pagetitle {
	margin-bottom: 25px;
}

h1.pagetitle {
color: #0E3C5E;
font-family: Lato;
font-weight: bold;
}
.pagetext {
color: #000;
font-family: Lato;
font-size: 17px;
line-height: 30px;
margin: 20px 0;
}
.pagesection {
padding-top: 30px;
}
.howitwrkblk {
border-radius: 6px;
padding: 30px 20px;
background: rgb(244, 245, 247);
transition: 0.5s ease;
margin: 0px 15px;
width: 30.33%;
}
[unselectable="on"] {
    display: none;
}
.howitworkblks {
margin-top: 50px;
}
.howitwrkblk:hover {
box-shadow: rgba(0, 0, 0, 0.24) 0px 12px 16px 0px, rgba(0, 0, 0, 0.19) 0px 17px 50px 0px;
}
.closeaccount h4 {
font-size: 24px !important;
color: #444545;
margin: 0px;
}
.howitwrkblkbg img {
margin: auto;
}
.howitwrkblkbg > h3 {
color: #000;
font-family: Lato;
font-size: 20px;
font-weight: bold;/*padding: 0 20px;*/
line-height: 26px;
/*white-space: nowrap*/;
overflow: hidden;
/*text-overflow: ellipsis;*/
}
.howitwrkblkbg > p {
color: #666666;
font-family: Lato;
font-size: 17px;
/*padding: 0 50px;*/
/*white-space: nowrap;*/
overflow: hidden;

}
.howitworkimg {
align-items: center;
display: flex;
min-height: 210px;
}

/**slider-start**/
.serviceblks .carousel-inner > .item.next,
.serviceblks .carousel-inner > .item.active.right {
left: 0;
-webkit-transform: translate3d(16.6%, 0, 0);
transform: translate3d(16.6%, 0, 0);
}
.serviceblks .carousel-inner > .item.prev,
.serviceblks .carousel-inner > .item.active.left {
left: 0;
-webkit-transform: translate3d(-16.6%, 0, 0);
transform: translate3d(-16.6%, 0, 0);
}
.serviceblks .carousel-inner > .item.next.left,
.serviceblks .carousel-inner > .item.prev.right,
.serviceblks .carousel-inner > .item.active {
left: 0;
-webkit-transform: translate3d(0, 0, 0);
transform: translate3d(0, 0, 0);
}
.serviceblks .carousel-control{background: none;opacity: 1}
.serviceblks {
background: #fff none repeat scroll 0 0;padding: 30px 40px; margin-top: 50px;
box-shadow: 14px 31px 94px 0 #d4ccd5;border-radius: 6px;position: relative;
}
.slideboxcontent {
background: #f5f5f5 none repeat scroll 0 0;
min-height: 150px;
padding: 3px 0;
}
.slideimg img{margin: auto;height: 90px;}
.slideimg{   }
.slidebox {
padding: 0 5px;
}
.slideboxcontent > h4 {
color: #0E3C5E;
font-family: Lato;
font-size: 19px;
font-weight: bold;
margin-top: 0;
padding: 0 20px;
}
/*.serviceblks .item.active .slideboxcontent:hover{box-shadow:1px 1px 74px 0 #dadada; }*/
.serviceblks .carousel-control i {
background: #0E3C5E;
border-radius: 40px;
color: #fff;
font-size: 20px;
height: 40px;
padding-top: 9px;
text-shadow: none;
width: 40px;
}
.serviceblks .right.carousel-control{right: -6%;}
.serviceblks .left.carousel-control{left: -6%;}
.abtservicecontent .pagetext {
	margin: 10px auto;
	width: 1000px; 
}
.abtserviceimg img{margin:60px auto 0px auto;}
.aboutservice.pagesection {
background: #f6f6f6 none repeat scroll 0 0;
margin-top: -110px;
padding-top: 170px;
}
.whitebg {
background: #fff none repeat scroll 0 0;
height: 220px;
margin-top: -220px;
}
.testimonialslider h4 {
color: #9b9b9f;
font-family: Lato;
font-weight: bold;
}
.testimonialslider h1 {
color: #0E3C5E;
font-family: Lato;
font-weight: bold;
}
.testimonialslider .carousel-control{background: none;}
.testislidecntnt > p {
font-family: Lato;
font-size: 17px;
line-height: 28px;float: left;
width: 100%;
}
.clientinfo > img {
border-radius: 60px;
float: left;
height: 50px;
margin-right: 20px;
width: 50px;margin-top: 3px;
}
.clientinfo > h4 {
color: #0E3C5E;
font-family: Roboto;
font-weight: bold;margin-bottom: 4px;
}
.clientinfo > span {
font-family: Roboto;
}
.clientinfo {
float: left;
width: calc(100% - 50px);
}
.clientinfo img.quoteimg {
float: right;
height: auto;
margin-top: -40px;
width: 70px;
}
.testimonialsection.pagesection {
padding-bottom: 130px;
}
.newslettersec {
    background: rgba(0, 0, 0, 0.6) url(../images/subscribe-bg.jpg) no-repeat scroll center center / cover;
    padding: 70px 0;
    background-blend-mode: overlay;
}
.newsletterbox {
    background: rgba(255,255,255,0.7);
    padding: 40px 25px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
.newsletterbox > h1 {
color: #0E3C5E;
font-family: Lato;
font-weight: bold;margin-top:0px;
text-transform: uppercase;
}
.newsletterbox > h4 {
color: #0E3C5E;
font-family: Lato;
font-size: 16px;
margin-bottom: 20px;
}
.newsletterform {
margin: auto;
max-width: 65%;
}
.newsletterform .formgroup input {
border: 1px solid #0E3C5E;
box-shadow: none;
height: 45px;
}
.newsletterform .formgroup input::-moz-placeholder{color: #333131;font-size: 15px;font-family: Open sans;}
.newsletterform .formgroup input::-webkit-input-placeholder{color: #333131;font-size: 15px;font-family: Open sans;}
.subscribebtn .btn {
background: #0E3C5E;
border: 0 none;
color: #fff;
font-family: Lato;
font-size: 22px;
font-weight: bold;
margin-top: 10px;
padding: 10px 0;
width: 100%;
}
.howitwrkblkbg span {
color: #1B9BD8;
}
.roundborderimg img{margin: auto;}
label.error {
color: red;
font-size: 13px;
}
.sidebarbg {
background: #fff none repeat scroll 0 0;
float: left;
padding: 0 25px;
width: 100%;
}
.sidebartitle h4 {
color: #333333;
font-family: Lato;
font-weight: bold;
margin: 0;
}
.leftsidebar span {
color: #2e4c65;
font-family: Lato;
font-size: 17px;
}
.sidebartitle {
border-bottom: 3px solid #e0dede;
float: left;
padding: 20px 0;
width: 100%;position: relative;
}
.mainmenu .list-group-item {
border-left: 0 none;
border-right: 0 none;
border-top: 0 none;
padding: 0;
}

.mainmenu .list-group a {
color: #333333;
font-family: Lato;
font-size: 16px;margin: 0px;
padding: 6px 0; border-bottom: 1px solid #ddd;
}
.mainmenu .list-group a:hover , .mainmenu .list-group a:focus{background: none ;}
.sidebartitle::before {
background: #000 none repeat scroll 0 0;
content: "";
height: 3px;
position: absolute;
top: 100%;
width: 100px;
}
.mainmenu .list-group a.selected{font-weight: bold;border-bottom: 0px;}
.mainmenu .list-group .selected .submenu{display: block;}
.mainmenu a i {
float: right;
font-size: 20px;
line-height: 21px;
}
.mainmenu .list-group .selected .fa-angle-down{display: block;}
.mainmenu .list-group .selected .fa-angle-up{display: none;}
.mainmenu a i.fa-angle-down{display: none;}
.mainmenu ul{padding: 0px;list-style: none;}
.mainmenu .list-group.panel{box-shadow: none;}
.submenu {
padding-left: 15px;
}
.mainmenu .list-group .submenu{border-bottom: 1px solid #ddd;}
.mainmenu .list-group .submenu a{border-bottom: 0px;padding: 4px 0;}
.sidebartitle.filterdiv {
border-bottom: 1px solid #ddd;
padding: 4px 0;
}
.sidebartitle.filterdiv:before{background: none;}
/*.filterblks li {
background: #e9e9e9 none repeat scroll 0 0;
border-radius: 4px;
float: left;
font-family: Lato;
font-size: 17px;
list-style: outside none none;
margin: 3px 2px;
padding: 10px 15px;
width: auto;color: #202020;
}*/
.filterblks ul{padding: 0px;}
.filterblks i {
padding-left: 4px;
}
.filterblks {
float: left;
padding-top: 7px;
width: 100%;
}

*::after, *::before {
box-sizing: border-box;
}
*::after, *::before {
box-sizing: border-box;
}
.sidebarinput select {
border: 1px solid #c7c7c7;
border-radius: 5px;
font-family: Lato;
padding: 0 10px;
width: 100%;-moz-appearance:none;-webkit-appearance:none;background-image: url(../images/dropdwonicon.png);
background-repeat: no-repeat;background-position: 97%;
}
.sidebartitle.areatitle{border-bottom: 0px; padding: 10px 0;}
.sidebartitle.areatitle:before{background: none;}

.pricecheckbox {
-moz-user-select: none;
cursor: pointer;
display: block;
float: left;
font-family: Lato;
font-size: 16px;
font-weight: normal;
line-height: 21px;
margin-bottom: 12px;
padding-left: 30px;
position: relative;
width: auto;padding-right: 30px;
}
/* Hide the browser's default checkbox */
.pricecheckbox input {
position: absolute;
opacity: 0;
cursor: pointer;
height: 0;
width: 0;
}

/* Create a custom checkbox */
.pricecheckbox .checkmark {
background-color: #fff;
border: 1px solid #ccc;
border-radius: 4px;
height: 20px;
left: 0;
position: absolute;
top: 0;
width: 20px;
}

/* On mouse-over, add a grey background color */
.pricecheckbox:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.pricecheckbox input:checked ~ .checkmark {
background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.pricecheckbox .checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the checkmark when checked */
.pricecheckbox input:checked ~ .checkmark:after {
display: block;
}

/* Style the checkmark/indicator */
.pricecheckbox .checkmark::after {
-moz-border-bottom-colors: none;
-moz-border-left-colors: none;
-moz-border-right-colors: none;
-moz-border-top-colors: none;
border-color: #696969;
border-image: none;
border-style: solid;
border-width: 0 3px 3px 0;
height: 10px;
left: 7px;
top: 3px;
transform: rotate(45deg);
width: 5px;
}
.topspacing {
float: left;
padding-top: 20px;
width: 100%;
}
.fillratingbox {
background: #696969 none repeat scroll 0 0;
float: left;
height: 15px;border-radius: 3px;
width: 15px;   margin-right: 10px;
}
.ratingbox {
border: 1px solid #696969;
float: left;
height: 15px;border-radius: 3px;
width: 15px;margin-right: 10px;
}
.fa.ycolor {color: #ffcd00;font-size:11px;}
.fa.fa-star.gcolor {
color: #dad9d9;
}
.starratingdiv span i {
float: left;
font-size: 20px;
line-height: 17px;
padding: 0 2px;
}
.starratingdiv {
float: left;
margin-bottom: 10px;
width: 100%;
}
.mapimg img {
height: 470px; width: 100%;  
object-fit: cover;
}
.searchbarbg{float: left;width: 100%;}
.resultdiv h5 {
color: #333333;
font-family: Lato;
font-size: 20px;
font-weight: bold;
}
.resultselbox > select {
background: #fff none repeat scroll 0 0;
border: 1px solid #999999;
border-radius: 5px;
font-family: Lato;
font-size: 17px;
height: 45px;
padding-left: 5px;
width: 100%;-moz-appearance:none;-webkit-appearance:none;background-image: url(../images/dropdwonicon.png);
background-repeat: no-repeat;background-position: 97%;
}
.srchheaderbrdr {
border-bottom: 1px solid #d6d6d6;
float: left;padding-bottom: 25px;
width: 100%; padding-top: 25px;
}
.wishlistdiv {
position: absolute;
top: 0;
width: 100%;
}
.discountdiv > span {
background: rgba(68, 69, 69, 0.8) none repeat scroll 0 0;
color: #fff;
float: left;
font-family: Lato;
font-size: 20px;
left: -8px;
margin: 10px 0;
padding: 2px 10px;
position: relative;
}
.wishlisticon {
float: right;
position: relative;
right: 12px;
top: 2px
}
.wishlisticon i {
background: #1B9BD8;
border-radius: 28px;
color: #fff;
font-size: 21px;
height: 40px;
padding-top: 11px;
text-align: center;
width: 40px;
}
.resultcntntbox {
background: #fff none repeat scroll 0 0;
}
.searchresultbg {
border: 1px solid #d9dee1;position: relative;
padding: 10px;/*image paddding from top*/
background: #fff;
}
.resultbox_title h4 {
color: #3399cc;font-size: 16px;
font-family: Lato;margin-top: 0px;
font-weight: bold;
}
.resultbox_title span {
color: #333333;
padding-left: 10px;
}
.startdiv i {
color: #ffcc00;
float: left; padding: 0 1px;
}
.startdiv{padding-left: 0px; display: flex;display: -webkit-flex; -webkit-justify-content: right;
justify-content: right; padding-top: 5px;}
.resultcntntbox > p {
color: #333333;
float: left;
font-family: Lato;
font-size: 17px;
line-height: 21px;
margin-top: 5px;
width: 100%;
}
.amtdiv {
color: #0099cc;
font-family: Lato;
font-size: 20px;
}
.amtdiv span {
color: #686868;
font-size: 18px;
}
.resultcntntbox {
padding: 4px 13px;
}
.searchresults {
display: flex;
flex-wrap: wrap;
margin-top: 30px;
margin-bottom: 30px;
width: 100%;
}
.searchresultdiv {
margin-bottom: 25px;
}

.pagecontent{float: left;width:100%;}
.greybgdiv {
background: #edf2f5 none repeat scroll 0 0;
}
.whitebgdiv {
background: #ffffff none repeat scroll 0 0;
}
.banner_content h1 {
color: #0E3C5E;
font-family: Lato;
font-size: 30px;
font-weight: bold;
margin: 0;
}
.bannerimg {
background: rgba(0, 0, 0, 0) url("../images/banner-img.jpg") no-repeat scroll 0 0 / cover ;
padding: 30px 0;
}
.profileinfo > h2 {
color: #666666;
font-family: Lato;
margin-top: 0;
}
.maincontent {
font-family: Lato;
}
.profileinfo > p {
color: #333333;
font-size: 20px;
}
.profileinfo p i {
color: #ffdb4b;
padding: 0 1px;
}
.profileinfo b {
padding-right: 10px;
}
.reviews {
color: #333333;
font-weight: bold;
font-size: 12px;
}
.profile_img > img {
border: 4px solid #fff;
border-radius: 4px;
box-shadow: 3px 6px 19px -1px #b6b6b6;
width: 100%;
}
.profileinfo .prflinfo {
font-size: 18px;
}
.prflinfo > span {
color: #3399cc;
font-weight: bold;
padding-right: 20px;
}
.profilebtns a {
background: red none repeat scroll 0 0;
border-radius: 5px;
box-shadow: 1px 3px 12px 0 #919191;
font-family: Lato;
font-size: 12px;
font-weight: bold;
margin-right: 10px;
padding: 10px 25px;
}
.profilebtns a.yellowbtn{color: #fff;
    background-color: #337ab7;}
.profilebtns a.greybtn{background: #696969;color: #fff;}
.profilebtns a i {
margin-right: 5px; font-size: 20px;
}
.greybtn .fa.fa-heart-o {
background: #fff none repeat scroll 0 0;
border-radius: 30px;
color: #696969;
height: 30px;
padding-top: 5px;
position: relative;
text-align: center;
width: 30px;
}
.profilebtns {
float: left;
margin-top: 20px;
width: 100%;
}
.durationdiv h2 {
color: #444545;margin-top: 0px;
font-family: Lato;
font-weight: bold;
}
.singlepageslider .carousel-control{background:none;}
.singlepageslider .item a img {
height: 320px;
object-fit: cover;
width: 100%;
}
.singlepageslider {
border: 6px solid #fff;
border-radius: 6px;
box-shadow: 2px 0 23px -1px #d0d0d0;
}
.singlepageslider a.carousel-control span {
background: #f2f2fa none repeat scroll 0 0;
}
.singlepageslider a.carousel-control{opacity: 1;}
.singlepageslider a.carousel-control span {
background: #f2f2fa none repeat scroll 0 0;
border-radius: 60px;
box-shadow: -1px 0 14px -3px #5b5b5b;
color: #000;
font-size: 18px;
height: 50px;
padding-top: 16px;
text-shadow: none;
width: 50px;
}
.singlepageslider a.left.carousel-control {
left: -20px;
width: auto;
}
.singlepageslider a.right.carousel-control{right: -20px;
width: auto;}
.singlepageleft > h2 {
color: #444545;
}
.singlepageleft > p {
color: #666666;
font-size: 17px;
line-height: 30px;
margin-top: 20px;
}
.singlepageslider {
border: 6px solid #fff;
border-radius: 6px;
box-shadow: 2px 0 23px -1px #d0d0d0;
margin-top: 30px;margin-bottom: 40px;
}
.singlepagecontent {
padding-top: 30px;
}
.singleprofile_listing > h3 {
border-bottom: 3px solid #e2e2e2;margin-bottom: 0px;
padding-bottom: 15px;color: #444545;
}
.listingitem1 > li {
color: #444545;
font-size: 17px;
padding-bottom: 5px;list-style: none;
}
ul.listingitem1{padding-left: 0px;}
.listingitem1 > li i {
font-size: 30px;
padding-right: 10px;
position: relative;
top: 4px;
}
.listingitem1 > li i.fa-check-circle{color: #41ad49;}
.listingitem1 > li i.fa.fa-times-circle {
color: #f05228;
}
.listingitem2 {
padding: 10px 0 0;
}
.listingitem2 > li {
color: #000;
font-size: 17px;margin-bottom: 4px;
list-style: outside none none;
}
.listingitem2 span {
color: #159ee2;
}
.singleprofile_listing > h4 {
color: #0091cb;
font-weight: bold;
}
.singleprofile_listing > p {
color: #444545;
font-size: 17px;
}
.singleprofile_listing h5 {
color: #0091cb;
font-size: 17px;
}
.singleprofile_listing {
margin-top: 40px;float:left;width:100%;
}
.imgbtns {
align-items: center;
background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
display: none;
height: 100%;
justify-content: center;
position: absolute;
text-align: center;
top: 0;
width: 100%;
border-radius: 50%;
border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
-webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
-o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
-moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
-ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
-ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
-o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
cursor: pointer;
}
.imgbtns i {
color: #d7d1cf;
font-size: 25px;
}
.imagediv {
position: relative;
}
.acccompletion_tabs ul li a {
background: #f6f6f6 none repeat scroll 0 0;
border-radius: 0;
color: #323334;
font-size: 17px;
margin: 0;
padding: 15px 50px;
}
/*.acccompletion_tabs ul li.active a {
border-top: 4px solid #f5e812 !important;border-bottom: 0px;
}*/
.acccompletion_tabs ul li a:hover {
border-bottom: 0px;
}
.profileform_right label {
color: #808080;
font-family: Lato;
font-size: 15px;
font-weight: normal;
}
/*.profileform_right {
margin-bottom: 60px;
}*/
.profileinput input {
border: 0 none;
box-shadow: none;
color: #444545;
float: left;
font-size: 15px;
padding: 0px 10px;
width: calc(100% - 30px);
}
.profileinput select {
border: 0 none;
box-shadow: none;padding: 0;
color: #444545;
font-size: 20px;-moz-appearance:none;-webkit-appearance:none;background: url(../images/black-arrow.png);
background-repeat: no-repeat;background-position: right;
}
.profileinput input:focus{box-shadow: none;}
.profileinput select:focus{box-shadow: none;outline: 0;}
.profileinput {
/*border-bottom: 1px solid #eeeeef;*/
padding-bottom: 10px;
}
.nextbtn input {
background: #1B9BD8 !important;
border: 0 none;
box-shadow: 0px 0px 10px #ccc !important;
float: left;
font-size: 16px;
font-weight: 500;
height: auto;
padding: 7px 22px;
width: auto;
color: #ffffff !important;
}
.profileinput i.fa.fa-check {
color: #16d972; padding-top: 10px;
float: left;
font-size: 20px;
width: 30px;
}
form.completionform {
padding-top: 35px;
padding-bottom: 50px;
}
.acccompletionsec h1 {
margin-bottom: 30px;
font-size: 30px;
color: #434545;
font-weight: bold;
font-family: lato;
}
.profiletabss .nav.nav-tabs li.active a.one {
background: #3399cc;
color: #fff;
border: 0px;
border-top: 4px solid yellow !important;
border-radius: 0px;
padding: 15px;
}
.profiletabss .nav.nav-tabs li a.three {
background: #3399cc;
color: #fff;
border: 0px;
border-top: 4px solid yellow !important;
border-radius: 0px;
padding: 15px;
}
.accounttabs .nav.nav-tabs li a.two {
background: transparent;
}
.acccompletionsec {
padding-top: 30px;
}
.clientimg > img {
border: 3px solid #fff;
border-radius: 190px;
box-shadow: 3px 3px 34px 1px #757575;
height: 70px;
width: 70px;
}
.client_text h4 {
color: #009bdb;
font-size: 20px;
font-weight: bold;
margin-top: 5px;
}
.client_text p {
color: #444545;margin-top: 15px;
font-size: 17px;
}
.clientimg {
float: left;
padding: 0 15px;
width: 10%;
}
.client_text {
float: left;
width: calc(100% - 10%);
}
.client_text h5 {
color: #444545;
font-weight: bold;
margin-top: 15px;
}
.client_text span i {
color: #ffcd01;
float: left;
font-size: 16px;
padding-right: 3px;
}
.reviewblk {
border-bottom: 1px solid #ebebeb;
padding: 30px 0;
}
.reviewblk:last-child{border-bottom: 0px;}
.review_section {
padding-bottom: 30px;
}
.singlepagesidebar {
/*background: #f8f8f8 none repeat scroll 0 0;*/
box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
float: left;
margin-bottom: 20px;
padding: 20px;
width: 100%;
border-top: 5px solid #3399cc;
}
.singlepagesidebar > h5 {
color: #595359;
font-weight: bold;
}
.singlepagesidebar > ul {
list-style: outside none none;
padding: 0;
}
.singlepagesidebar li {
color: #595359;
font-size: 15px;
padding-bottom: 15px;
}
.singlepagesidebar img {
float: left;
padding-right: 9px;
width: 35px;
}
.singlepagesidebar > h3 {
color: #444545;
font-size: 22px;
font-weight: bold;
margin-bottom: 20px;
}
.babysitter_img {
float: left;
width: 25%; padding-right: 10px;
}
.babysitter_text {
float: left;
width: calc(100% - 25%);
}
.babysitter_img > img {
border: 3px solid #fff;
border-radius: 3px;
box-shadow: 0px 2px 10px 0 #dddddd;
padding-right: 0;
width: 100%;
}
.babysitter_text > h4 {
color: #323334;
font-size: 16px;
margin-bottom: 2px;
margin-top: 0;
}
.babysitter_text span i {
color: #ffd320;
float: left;
padding-right: 2px;
}
.babysitter_text > span {
float: left;
margin: 3px 0;
width: 100%;
}
.babysitter_text > h5 {
color: #323334;
float: left;
font-size: 16px;
font-weight: bold;
margin: 0 0 1px;
width: 100%;
}
.babysitter_div {
float: left;
margin-bottom: 20px;
width: 100%;
}
.singlepagesidebar a {
color: #1195d7;
font-size: 16px;
}
.singlepagesidebar.faqsec li {
padding-bottom: 5px;
}
.booknow_popup .modal-dialog {
max-width: 800px;
}
.booknow_popup .modal-content {
border: 12px solid #d5d7d8;
border-radius: 5px;padding: 30px 0;
}
.booknow_popup h1 {
color: #323334;
}
.booknow_popup h4 {
color: #323334;margin-bottom: 20px;
font-size: 16px;
}
.booknow_popup .modal-body {
margin: auto;
width: 100%;
}
.datesec input {
background: #f6f6f6 none repeat scroll 0 0;
box-shadow: none;
height: 45px;color: #323334;font-size: 16px;
}
.datesec input::-moz-placeholder{color: #323334;font-size: 16px;}
.datesec select {
background-color: #f6f6f6;color: #323334;font-size: 16px;padding-left: 10px;
box-shadow: none;   border-radius: 4px;
height: 45px;-moz-appearance:none;-webkit-appearance:none;background-image: url(../images/dropdwonicon.png);
background-repeat: no-repeat;background-position: 98%;width: 100%;border: 1px solid #ccc;
}
.datesec textarea{background-color: #f6f6f6;width: 100%;color: #323334;font-size: 16px;padding-left: 15px;
box-shadow: none;   border-radius: 4px;border: 1px solid #ccc;resize: none;padding-top: 10px;}
.bookingamt_sec {
background: #f6f6f6 none repeat scroll 0 0;
border: 1px solid #ccc;
border-radius: 4px;
float: left;
padding: 20px;
width: 100%;
}
.forgotpwdlink > a {
color: #000;
text-decoration: underline;
}
.datesec textarea::-moz-placeholder{color: #323334;font-size: 16px; opacity: 1;}
.datesec textarea::-webkit-placeholder{color: #323334;font-size: 16px; opacity: 1;}
.amtdetails > p {
border-bottom: 1px solid #e3e3e3;
color: #898989;
font-size: 20px;
padding-bottom: 15px;
}
.amountdiv{text-align: right;}
.amountdiv > span {
font-size: 20px;
}
.totalamtdiv .amtdetails > p {
color: #333333;
font-size: 22px;
font-weight: bold;
}
.totalamtdiv .amountdiv span{color: #333333;
font-size: 22px;
font-weight: bold;}
.amtsec:last-child p{border-bottom: 0px;}
.booknowbtn .btn {
/*background: #323334 none repeat scroll 0 0;
color: #f5e812;*/
font-size: 24px;
margin-top: 30px;
padding: 15px 0;
width: 100%;
}
.invitepage_div h1 {
color: #333333;
font-size: 40px;
margin-bottom: 15px;
}
.inviteform input.form-control {
background: #f5f5f5 none repeat scroll 0 0;
border: 0 none;
box-shadow: none;
height: 50px;
width: 100%;
}
.inviteform input.form-control::-moz-placeholder{color: #797777;font-size: 24px;}
.copybtn input {
/*background: #f5e812 none repeat scroll 0 0;*/
border: 0 none;
/*border-radius: 0 4px 4px 0;*/
font-size: 20px;
font-weight: bold;
height: 50px;
width: 100%;
}
.invite-img > img {
width: 100%;
}
.invite-img {
float: left;
padding: 40px 0px;
width: 100%;
}
.getfrndsec {
background: rgba(0, 0, 0, 0) url("../images/invitebg.png") repeat scroll 0 0;
box-shadow: 3px 15px 60px 16px #e9e9e9;
float: left;
margin-bottom: 120px;
padding: 50px 0;
text-align: center;
width: 100%;border-radius: 4px;
}
.invitepagecontent {
padding-top: 40px;
}
.getfrndsec h2 {
color: #333333;
font-size: 28px; margin-bottom: 5px;
}
.getfrndsec > h3 {
color: #028eff;
font-size: 28px;
font-weight: bold;
margin-top: 0;margin-bottom: 20px;
}
.getfriendform .form-group{width: 70%;float: left;}
.getfriendform .form-group input{width: 100%;}
.form-inline.getfriendform {
margin: auto;
width: 60%;
}
.sendbtn{width: 30%;float: left;}
.sendbtn input{width: 100%;/*background: #323334;*/height: 45px;border: 0px;border-radius: 0 4px 4px 0;
color: #ffffff;font-size: 18px;font-weight: bold;}
.getfriendform .form-group input {
background: #f5f5f5 none repeat scroll 0 0;
border: 0 none;
box-shadow: none;
height: 45px;
width: 100%;
}
.getfriendform .form-group input::-moz-placeholder{color: #333333;font-size: 18px;}
.getfriendform .form-group input::-webkit-placeholder{color: #333333;font-size: 18px;}
.getbaldiv {
float: left;padding-top: 10px;
width: 100%;
}
.getbaldiv > h1 {
color: #333333;margin-bottom: 0;
font-size: 50px;
font-weight: bold;
}
.getbaldiv h5 {
color: #333333;
font-size: 17px;
}
.bookingmsg_sec ul li a {
background: #e0dfdf;
border-radius: 0;
color: #323334;
font-size: 16px;
margin: 0;
padding: 0px;
transition: .7s ease;
font-weight: bold;
text-align: center;
height: 50px;
line-height: 50px;
}
.bookingmsg_sec ul li a:first-child {border-right: 1px solid #3399cc;border-left: 1px solid #3399cc;}
.bookingmsg_sec ul li.active a {
    /*border-top: 4px solid #3399cc !important;*/
    border-bottom: 0px;
    background-color: #3399cc;
    color: #fff;
    text-align: center;
}
.bookingmsg_sec ul li a:hover {
	border-bottom: 0px;
    background-color: #3399cc !important;
    color: #fff;
    text-align: center;
}
.bookingmsg_sec ul li a:active {
border-bottom: 0px;
border-top: 4px solid #3399cc !important;border-bottom: 0px;
background-color: #eeeeee !important;color:#333333;
}
.bookingmsg_sec ul li a:focus {
border-bottom: 0px;
    background-color: #3399cc;
    color: #fff; 
    text-align: center;
}
.bookingmsg_sec {
padding: 40px 0px;
}
.dashboard_tabs .tab-content {
/* padding-top: 60px;*/

background-color: #f8f9fa;
}
.bookmsgtab li {
/*margin-right: 5px;*/
width:33.33%;
}
.bookmsgtab .tab-content {
padding-top: 20px;
}
.username h4 {
color: #444545;
float: left;
font-size: 14px;
font-weight: bold;
margin: 0;
cursor: pointer;
}
.accounttabs li a {
background: #f7f7f7 none repeat scroll 0 0;
}
.accounttabs li a {
background: #f7f7f7 none repeat scroll 0 0;
color: #333333;
font-size: 17px;
}
.accounttabs li span {
color: #ffffff;
float: left;
font-size: 15px;
width: 100%;
}
.dashboard_tabs .accounttabs .nav-tabs li {
float: left;
width: 25%; padding-right: 5px;
}
.accounttabs li a {
float: left;
width: 100%;
}
.accounttabs .nav.nav-tabs{border: 0px;}

.accounttabs .nav.nav-tabs li.active a{background: #3399cc;color: #fff;border: 0px;}
.accounttabs .nav.nav-tabs li.active a:active {background: #3399cc !important;color: #fff !important;border: 0px;}
.accounttabs .nav.nav-tabs li.active a:hover {background: #3399cc !important;color: #fff !important;border: 0px;}
.accounttabs .nav.nav-tabs li.active a:focus {background: #3399cc !important;color: #fff !important;border: 0px;}
.accounttabs .nav.nav-tabs li a {background: rgba(51, 153, 204, 0.74);color: #fff;border: 0px;transition: .5s ease;}
.accounttabs .nav.nav-tabs li a:active {background: #3399cc !important;color: #fff !important;border: 0px;}
.accounttabs .nav.nav-tabs li a:hover {background: #3399cc !important;color: #fff !important;border: 0px;}
.accounttabs .nav.nav-tabs li a:focus {background: #3399cc !important;color: #fff !important;border: 0px;}
.subtabcontent h4 {
color: #444545;
font-size: 20px;
font-weight: bold;
}
form.carddetailform {
padding-top: 0;
}
.tabcontentbg {
background: #fff none repeat scroll 0 0;
border-radius: 4px;
/* box-shadow: 3px 4px 32px 16px #eee; */
float: left;
margin-bottom: 100px;
margin-top: 35px;
padding: 50px 50px;
width: 100%;
box-shadow: 0px 0px 10px rgba(101, 177, 215, 0.29);
border-top: 5px solid #3399cc;
}
.carddetailform .form-group {
float: left;
width: 100%;
}
.carddetailform .form-group label {
color: #8f8f8f;
font-size: 20px;
font-weight: normal;
}
.carddetailform .form-group input {
background: #f7f7f7 none repeat scroll 0 0;
border: 1px solid #ebebeb;
border-radius: 5px;padding: 0 15px;
box-shadow: none;  height: 45px;color: #8f8f8f;font-size: 17px;font-weight: normal;
}
.carddetailform .form-group input::-moz-placeholder{color: #8f8f8f;font-size: 17px;font-weight: normal;}
.carddetailform .form-group input::-webkit-placeholder{color: #8f8f8f;font-size: 17px;font-weight: normal;}
.carddetailform .form-group select {
background: #f7f7f7 none repeat scroll 0 0;
border: 1px solid #ebebeb; margin-right: 15px;
border-radius: 5px;padding:0 10px; color: #8f8f8f;
font-size: 17px;width: 100%;margin-bottom: 20px;
box-shadow: none;  height: 45px;-moz-appearance:none;-webkit-appearance:none;
background-image: url(../images/dropdwonicon.png);background-repeat: no-repeat;background-position: 98%;
}
.selectmonth {
width: 170px;
}
.selectyears {
width: 120px;
}
.cvv {
width: 100px;
}
.carddetailform .addcardbtn input {
background: #3c8dbc;
border: 0 none;
box-shadow: 1px 3px 18px 3px #e2e2e2;
color: #ffffff;
font-size: 16px;
height: auto;
padding: 7px 22px;
}
.inviteform.dashboardinviteform .form-control{background: #c5c1c1;}
.dashboardinviteform .copybtn input {
background: #fff;color: #ffffff;font-weight: normal;border:1px solid #ccc;
font-size: 14px;
}
.inviteform.dashboardinviteform {
float: left;
margin-bottom: 20px;
width: 100%;
}
.loadbtn {
text-align: center;
}
.loadbtn > a {
background: #fff00d none repeat scroll 0 0;
border-radius: 4px;
box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.35);
color: #000;
font-weight: bold;
padding: 10px 20px;
}
.loadbtn {
float: left;
margin-bottom: 60px;
text-align: center;
width: 100%;
}
.imagediv:hover .imgbtns {
display: flex;
transition: all 0.8s ease 0s;
}
.changeprflimg {
float: left;
left: 15px;
position: relative;
text-align: center;
top: 8px;
width: 100%;display: none;
}

.changeprflimg > a {
color: #000;
font-size: 16px;
}
.imagediv:hover .changeprflimg{display: block;}
.contactform .form-group input {
background: #fff none repeat scroll 0 0;
border-radius: 0;
box-shadow: none;border: 1px solid #e0e0e0;
height: 50px;  /*text-transform: capitalize;*/color: #323334;font-size: 15px;font-family: Lato;
}
.contactform .form-group textarea {
background: #fff none repeat scroll 0 0;
border-radius: 0;border: 1px solid #e0e0e0;
box-shadow: none;resize: none;
/*text-transform: capitalize;*/ 
color: #323334;font-size: 15px;font-family: Lato;
}
.contactform .form-group input::-moz-placeholder{color: #323334;font-size: 15px;font-family: Lato;
/*text-transform: capitalize;*/}
.contactform .form-group input::-webkit-placeholder{color: #323334;font-size: 15px;font-family: Lato;
/*text-transform: capitalize;*/}
#email {
text-transform: none;
}
.contact-info .icon i {
font-size: 22px;
}
.logodiv img {
height: auto;
width:100px;
}
.sticky .navigationbar {
background: #fff none repeat scroll 0 0;
box-shadow: 4px 4px 13px 0 #eee;
position: fixed;
top: 0;
width: 100%;
}
header.site-header {
position: relative;
z-index: 999;
}
.redme {
background-color: #3c8dbc !important;
border-radius: 0px;
}
.formlink > a{word-break: break-word;}
.registerradio {
    padding: 0;
    margin-top: 10px;
}
.registerradio label{width: 48%;}
@media (min-width: 1600px) and (max-width: 1920px) {
.seriveformsec .container{width: 1500px;}
}
@media (max-width:1600px) {
.leftsidebar span{font-size:15px;}
}
@media (min-width:1281px) and (max-width: 1400px) {
	.registerformbg.formbg {
    padding: 40px 30px;
}
}
@media (min-width: 1200px) and (max-width: 1280px) {
.navbar-default.navigationbar li a{ font-size: 16px;}
.loginbtn a{font-size: 16px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
.navbar-default.navigationbar li a{font-size: 13px !important;
    padding-left: 6px;
    padding-right: 6px;}
.navlinks .navbar-collapse {
padding: 0;
}
.loginbtn a{font-size: 14px;padding-top: 25px;}
.loginbtn a i {
padding-right: 2px;
}
.formbutton input{font-size: 13px;}
/*.other_box {
    width: 29.33% !important;
}*/

}
@media (min-width: 768px) and (max-width: 991px) {
.dashboardinviteform .copybtn input {
width: 100%;
}
img.inviteimg {width: 100%;}

.navigationbar .navbar-header{display: block;}
.navigationbar .navbar-header .navbar-toggle{display: block;}
.navbar-collapse.collapse {
display: none !important;
}

.navbar-collapse {
overflow-x: visible !important;
}

.navbar-collapse.in {
overflow-y: auto !important;
}

.collapse.in {
display: block !important;
}
.loginbtn {text-align: center;}
.loginbtn a{padding-top: 0;}
.mapimg img {
height: 470px;
object-fit: cover;
}
nav.navigationbar {
padding-bottom: 10px;

}
.navigationbar .navbar-header button {
background: #1b9bd8 none repeat scroll 0 0;
border: 0 none;
margin: 15px 0;
}
/*.serviceformbg{z-index: 9999;}*/
.serviceblks .right.carousel-control {
right: 0%;
}
.serviceblks .left.carousel-control {
left: 0%;
}
.howitworkblks .row {
margin: 0;
}
.navigationbar .loginbtn a{margin-top: 0px;}
.navbar-default.navigationbar li a {
padding: 25px 12px;
font-size: 14px;
}
.navlinks {
width: 100%;
}
.navigationbar .loginbtn a{margin-top:0px !important;}
.serviceformbg{padding: 35px 0px;}
.formbutton input{font-size: 15px;}
.formdiv select{font-size:12px;}
.formdiv input::-moz-placeholder{font-size: 12px;color: #666666;}
.formdiv input::-webkit-input-placeholder{font-size: 12px;color: #666666;}
.howitwrkblkbg > h3{line-height: 22px;font-size: 17px;}
.howitwrkblkbg > p {
font-size: 16px;
padding: 0 15px;
}
.radimate .col-sm-3.single_img {width: 50%;}
/*.other_box {
    width: 28.33% !important;
    margin: 20px 2%;
}*/
}
@media (max-width: 767px) {
.navigationbar .navbar-header button {
background: #1b9bd8 none repeat scroll 0 0;
border: 0 none;
margin: 30px 0 0;
}
.loginbtn {text-align: center;}
.loginbtn a{padding-top: 0;}
nav.navigationbar {
padding-bottom: 10px;
}
.abtservicecontent p.pagetext{width: 100%;}
.serviceblks .right.carousel-control {
right: 0%;
}
.serviceblks .left.carousel-control {
left: 0%;
}
.howitworkblks .row {
margin: 0;
}
.navigationbar ul.dropdown-menu.mega-dropdown-menu.droplist {
top: 123px;
left: 20%;
}
.serviceform .formdiv {
margin-bottom: 4px;
}
.serviceformbg{z-index: 9;}
.testimonialslider {
padding: 0px 20px;
}
.newsletterbox{padding: 40px 10px;}
.newsletterbox > h1{font-size: 20px;}
.profileformmainright {
margin: 0px 0px; 
overflow: hidden;
}
.profileformmainright label.col-sm-6 {
padding: 0px;
}
.radimate label.col-sm-3 {padding: 0px;}
.radimate .col-sm-9.browseimage.nopadding {padding: 0px;}
.radimate .col-sm-3.single_img {padding: 0px;}
.radimate .col-sm-3.single_img {
padding: 0px;
width: 20%;
float: left;
}
.radimate .col-sm-9.col-xs-9.new_up_sec {padding:0px;}
/*.other_box {
    width: 48% !important;
}  */
#contactform .form-group {  
    padding: 0;
}
form#contactform.contactform {
    margin: 0;
    width: 100%;
}
}



@media (max-width: 480px) {
.leftheader li {
border: 0 none;
float: left;
padding: 0;
text-align: center;
width: 100%;
}
.rightheader ul {
float: left;
text-align: center;
width: 100%;
}
.loginbtn a{padding-top: 0;}
.loginbtn {text-align: center;}
nav.navigationbar {
padding-bottom: 10px;
}
.tg-features li{width: 100%;}
.tg-featurecontent span{white-space: normal;}
.formbg{ margin: 60px 0;
padding: 40px 30px;} 
.acccompletionsec h1{font-size: 30px;}
.acccompletion_tabs li {
text-align: center;
width: 50%;
}
.acccompletion_tabs ul li a{padding: 10px 15px;}
form.completionform {
padding-top: 30px;
}
/*.other_box {
    width: 100% !important;
}*/
}


/**new-css-**/
.navigationbar .loginbtn a {
font-size: 12px;
margin-top: 0px;
font-weight:400;
}
.navigationbar ul.dropdown-menu.mega-dropdown-menu.droplist li a{margin-top: 0px;border-bottom: 1px solid #ddd;}
.formdiv input::-moz-placeholder{font-size: 14px;color: #666666;}
.formdiv input::-webkit-input-placeholder{font-size: 14px;color: #666666;}
/*.serviceformbg{z-index: 9999;}*/
.navbar-default.navigationbar li a:hover {color: #0f3b5e;}
.navbar-default.navigationbar li a:active {color: #0f3b5e;}
.navbar-default.navigationbar li a:focus {color: #0f3b5e;}



/* chnage alert box text to center aligned pp*/
.alert{
text-align:center !important;   

}

.H_ib_body {
background: #222d32 !important;
padding: .3em .5em !important;
border: 1px solid #d6d3d3;
box-shadow: 0px 0px 15px 0 rgb(27, 155, 216);
bottom: 2em !important;
}
svg.H_icon {
fill: #dedada !important;
width: .6em !important;
height: .6em !important;
}
.H_ib_body:after {
display: block;
content: "";
position: absolute;
bottom: -25px;
right: 0px;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
border: 13px solid transparent;
border-top: 13px solid #222d32;
}
.map-mainhead a {
font-size: 15px;
color: #333;
font-weight: 600;
margin-bottom: 6px;
display: inline-block;
font-family: Lato;
}
.H_ib_close {
font-size: 1.4em !important;
right: .45em !important;
top: .45em !important;
}
.mapbodytext {
font-size: 12px;
color: #fff;
font-weight: 400;
padding: 3px 0px;
font-family: Lato;
float: right;
width: 76%;
}
span.mapheading {
font-size: 14px;
color: #fff;
font-weight: 500;
font-family: Lato;
}
.H_ib_content {
min-width: 13em !important;
}
.mapheading i.fa.fa-star {
color: #dd4b39;
padding: 0px 2px;
}
.mapheading i.fa.fa-star-half-o {
color: #dd4b39;
padding: 0px 2px;
}
.mail-images img {
    width: 65px;
    height: 65px;
    object-fit: fill;
    border-radius: 50%;
    float: left;
    margin: 5px;
    border: 1px solid #e3eaec;
    box-shadow: 0px 0px 4px #333;
    background: #fff;
}
.mapbodytext a {
font-size: 14px;
font-family: Lato;
}
.mapbodytext .user_txt{
	font-size: 15px;
	font-family: Lato;
}
.mapphonenumber a {
font-size: 14px;
font-family: Lato;
}
.mapphonenumber {
margin-bottom: 5px;
}
.mapbodyrating {
margin: 5px 0px;
/*text-align: center;*/
clear: both;
width: 100%;
}
.raitingread {
font-size: 14px;
}
/*.img-circle {
border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
-webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
-o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
-moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
-ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}*/
.profileinput select.form-control {
padding: 0px 10px;
    
}
.profileinput textarea#address {
padding: 0px 10px;
width:100%;
}
.acccompletionsec.profile-accountcomplete li {
float: left;
width: 25%;
padding-right: 5px;
cursor:pointer;
}
.acccompletionsec.profile-accountcomplete li:active a {
cursor: pointer;
}
.acccompletionsec.profile-accountcomplete li a {
background: #3399cc;
color: #fff;
border: 0px;
border-radius: 5px 5px 0px 0px;
cursor: pointer;
}
.acccompletionsec.profile-accountcomplete li a:hover {
background: #3399cc !important;
color: #fff;
border: 0px;
border-radius: 5px 5px 0px 0px;
}
.acccompletionsec.profile-accountcomplete li a:active {
background: #3399cc !important;
color: #fff;
border: 0px;
border-radius: 5px 5px 0px 0px;
}
.acccompletionsec.profile-accountcomplete li a:focus {
background: #3399cc !important;
color: #fff;
border: 0px;
border-radius: 5px 5px 0px 0px;
}







/* new radio button style css*/

.user_roles1 .radio_btn_label{
display:inline-block;
}/* register page radio button css chnage*/





.radio_btn_label {
display: block;
position: relative;
padding-left: 35px;
margin-bottom: 12px;
cursor: pointer;
font-size: 22px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

/* Hide the browser's default radio button */
.radio_btn_label input {
position: absolute;
opacity: 0;
cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
position: absolute;
top: 0px;
left: 0;
height: 20px;
width: 20px;
background-color:#ccc;
border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radio_btn_label:hover input ~ .checkmark {
background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radio_btn_label input:checked ~ .checkmark {
/* background-color: #128910;*/
border: 2px solid #3399cc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radio_btn_label .checkmark:after {
content: "";
position: absolute;
display: none;
}

/* Show the indicator (dot/circle) when checked */
.radio_btn_label input:checked ~ .checkmark:after {
display: block;
}

/* Style the indicator (dot/circle) */
.radio_btn_label .checkmark:after {
top: 3px;
left: 3px;
width: 10px;
height: 10px;
border-radius: 50%;
background: #3399cc;
}


/* calender events customized css*/
.calendar {
width: 650px;
height: 319px;
position: absolute;
z-index: 9999;
}
.switchrolhead h6 {
font-size: 20px;
color: #333;
margin-top: 35px;
margin-left: 50px;
}
.switchrole {
box-shadow: 0px 0px 10px rgba(101, 177, 215, 0.29);
border-top: 7px solid #3399cc;
padding: 50px;
margin: 20px 40px 50px 40px;
overflow: hidden;
}
.switchrole h4 {
/*font-size: 50px !important;*/
margin: 0px;
}
.radioradio .radio_btn_label {
display: inline-block;
}
/*.imagediv {
border-top: 5px solid #3399cc;
position: relative;
background-color: #fff;
box-shadow: 0px 0px 10px #ccc;
padding: 50px 20px;
word-break: break-all;
float: left;
width: 100%;
}*/
/*.profileformmainright {
border-top: 5px solid #3399cc;
position: relative;
background-color: #fff;
box-shadow: 0px 0px 10px #ccc;
padding: 40px 0px 30px 0px;
}*/
.profileg {
border-top: 5px solid #3399cc;
position: relative;
background-color: #fff;
box-shadow: 0px 0px 10px #ccc;
padding: 40px 0px 30px 0px;
}
.profileform_right input {
width: 100% !important;
box-shadow: none !important;
border: 2px solid #e0e0e0;
}
.profileform_right select {
font-size: 15px;
}  
.profileform_right textarea {
font-size: 15px;
padding: 5px 10px;

}
.text-right input {
float: right;
}
.imagebrowse {
width: 170px;
height: 170px;
margin: 0 auto;
position:relative;
/*border-radius: 50%;
border: 10px solid #3399ccb3;*/
border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
-webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
-o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
-moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
-ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
-webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
-ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
-o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
-moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
}
.usrnam {
font-size: 20px;
text-align: center;
/*margin-top: 20px;*/
color: #333;
float: left;
width: 100%;
}
.usreml {
font-size: 16px;
text-align: center;
/*margin-top: 20px;*/
color: #333;
float: left;
width: 100%;
}
.availableback {
margin: 40px 0px;
float: left;
width: 100%;
}
.morning-schedule {
background-color: #fff;
box-shadow: 0px 0px 20px #ccc;
overflow: hidden;
/*margin: 10px;*/
border-radius: 10px;
}
.morning-schedule h4 {
background-color: #1793d1;
padding: 20px 20px;
margin: 0px;
font-family: lato;
font-size: 20px;
font-weight: bold;
color: rgba(255, 255, 255, 0.41);
}
.morning-radio {
border: 1px solid #EDEDED;
padding: 20px;
text-align: center;
width: auto;
margin: 30px 20px;
border-radius: 0px;
}
.afternoon-schedule h4 {
background-color: #1793d1;
padding: 20px 20px;
margin: 0px;
font-family: lato;
font-size: 20px;
font-weight: bold;
color: rgba(255, 255, 255, 0.41);
}
.morning-schedule.afternoon_schedule h4 {
background-color: #ea1d5d;
padding: 20px 20px;
margin: 0px;
font-family: lato;
font-size: 20px;
font-weight: bold;
color: rgba(255, 255, 255, 0.41);
}
.morning-schedule.evening-schedule h4 {
background-color: #6a67ce;
padding: 20px 20px;
margin: 0px;
font-family: lato;
font-size: 24px;
font-weight: bold;
color: rgba(255, 255, 255, 0.41);
}
.morning-schedule p {
background-color: #1793d1;
padding: 15px 20px;
margin: 0px;
}
.morning-schedule.afternoon_schedule p {
background-color: #ea1d5d;
padding: 15px 20px;
margin: 0px;
}
.morning-schedule.evening-schedule p {
background-color: #6a67ce;
padding: 15px 20px;
margin: 0px;
}
.availableback h2 {
font-size: 24px;
color: #434545;
font-weight: bold;
font-family: lato;
margin-bottom: 20px;
}
.morning-radio label.radio_btn_label {
font-size: 15px;
}
.morning-radio .checkmark {
height: 20px;
width: 20px;
top: 2px;
}
.morning-radio .radio_btn_label {margin-bottom: 0px;}
.morning-radio .radio_btn_label .checkmark:after {
top: 3px;
left: 3px;
width: 10px;
height: 10px;
}
.profileform_right {
overflow:inherit;
}
.readcolr {
background-color: #eee !important;
width: 100% !important;
}
.greenbtn input {
background-color: #ffff00;
color: #000;
border: none;
box-shadow: 0px 0px 3px #ccc;
padding: 2px 25px 7px 25px;
font-size: 20px;
}
.greenbtn input:hover {
background-color: #ffff00;
color: #000;
border: none;}
.greenbtn input:focus {
background-color: #ffff00;
color: #000;
border: none;}
.maxmax-width {
max-width: 800px;
}
@media screen and (max-width: 1200px) {
input#myInput {
color: #000;
width: 100%;
}
input.btn.btn-default.col-xs-3.redme {
width: 100%;
}
}

@media screen and (max-width: 991px) {
.site-header .navbar-nav>li {
width: 100%;
}
.site-header .navigationbar ul {
width:100%;
}
.loginbtn {
text-align: left;
}

.pagesection {
padding-top: 30px;
}
.aboutservice.pagesection {
padding-top: 150px;
}
.abtservicecontent p {
margin: 15px auto;
}
.fullwidth {
width: 100%;
}
.form_section {padding: 30px 0px 70px 0px !important;}
.marbot {margin-bottom: 20px;}
}
.profilebtns a.yellowbtn.marbot {
    padding: 10px!important;
}
@media screen and (max-width: 780px) { 
.tabs_box.nav-tabs > li > a {font-size: 15px !important;}  
}
@media screen and (max-width: 768px) {
.testimonialsection.pagesection {
padding-bottom: 50px;
}
#mc-embedded-subscribe {width:100%;}
div#map {overflow: hidden;} 
.searchresults {display: flow-root;} 
.tabs_box.nav-tabs > li > a {font-size: 15px !important;}  
}
@media (min-width: 768px) {
     .homeformdiv {
    width: 20%;
}
.testimonialslider{width: 80%;margin: auto;float: none;}
.homeformbutton{width: 20%;}
}
@media screen and (max-width: 767px) {
.morning-schedule {margin-bottom: 20px;}
.acccompletionsec.profile-accountcomplete li {width: 50% !important;}
.howitwrkblkbg {padding: 20px 0 30px 0px;margin-bottom: 15px;}
.servicesec h1.pagetitle {margin: 0px;}
.newsletterform {max-width: 80%;}
.serviceblks {margin-top: 30px;}
.form_section {padding: 10px 0px 30px 0px !important;}
.istbox:first-child {padding: 40px 0px !important;}
.istbox:last-child {padding: 40px 0px !important;}
.box-clr {margin-bottom: 30px;}
.box {margin-bottom: 30px;}
.dashboard_tabs .accounttabs .nav-tabs li {
width: 50%;
margin-bottom: 10px;
}
ul.nav.nav-tabs.tabs_box li {padding: 10px 10px !important;}
.loginbtn {text-align: left;}
}
@media screen and (max-width: 575px) {
.pagetext {margin: 10px 0px;}
.radimate .col-sm-3.single_img {width: 25%;}
}
@media screen and (max-width: 480px) {
.getfrndsec {
margin-bottom: 50px !important;
padding: 30px 10px !important;
}
.getfrndsec h2 {
font-size: 24px;
margin-top: 0px;
}
.getfrndsec > h3 {font-size: 24px;}
.getbaldiv > h1 {margin-top: 0px;font-size: 34px;}
.getbaldiv {padding-top: 0px;}
.sendbtn input {
font-size: 16px;
padding: 0px !important;
}
.form-inline.getfriendform {width: 80% !important;}
.invitepagecontent {
padding-top: 20px;
}
.dashboard_tabs .accounttabs .nav-tabs li {width: 100%;}
.tabcontentbg {padding: 30px 20px !important;}
.closeaccount {padding: 30px 20px !important;}
.closeaccount h4 {margin: 0px;font-size: 30px !important;}

}
@media screen and (max-width: 425px) {
.radimate .col-sm-3.single_img {width: 50%;}
select.selectmonth {
margin-bottom: 10px;
}
}


.MultiCarousel { float: left; overflow: hidden; padding: 0px; width: 100%; position:relative; }
.MultiCarousel .MultiCarousel-inner { transition: 1s ease all; float: left; }
.MultiCarousel .MultiCarousel-inner .item { float: left;}
.MultiCarousel .MultiCarousel-inner .item > div { text-align: center; padding:10px; margin:10px; background:#f1f1f1; color:#666;height: 168px; display: table-cell;
    vertical-align: middle;
    width: 170px;}
.MultiCarousel .leftLst, .MultiCarousel .rightLst { position:absolute; border-radius:50%;top:calc(50% - 20px); }
.MultiCarousel .leftLst { left:0; }
.MultiCarousel .rightLst { right:0; }

.MultiCarousel .leftLst.over, .MultiCarousel .rightLst.over { pointer-events: none; background: #337ab7;outline:none; }
.serviceblks h4 {
font-size: 14px;
font-family: Lato;
font-weight: bold;
line-height: 18px;
}
input#myInput {
color: #000;
}
.accounttabs .nav.nav-tabs li.active:after {
content: "";
border: 25px solid #3399cc;
border-left: 25px solid transparent;
border-right: 25px solid transparent;
border-bottom: 10px solid transparent;
position: absolute;
bottom: -30px;
left: 50%;
transform: translate(-50%);
}

/**********23-JAN-2019*****************/
/** Custom Select **/
.custom-select-wrapper {
position: relative;
display: inline-block;
user-select: none;
width:100%;
}
.custom-select-wrapper select {
display: none;
}
.custom-select {
position: relative;
display: inline-block;
width:100%;
}
.custom-select-trigger {
position: relative;
display: block;
width: 100%;
padding: 0 30px 0 10px;
font-weight: 300;
line-height: 45px;
background: #ffffff;
border-radius: 5px;
cursor: pointer;
color: #666666; 
font-size: 12px;
font-family: 'FontAwesome', 'sans-serif' !important;
height:45px; 
font-weight: 500;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
font-weight: bold;
}
.custom-select-trigger:after {
position: absolute;
display: block;
content: '';
width: 10px;
height: 10px;
top: 50%;
right: 10px;
margin-top: -3px;
border-bottom: 2px solid #666;
border-right: 2px solid #666;
transform: rotate(45deg) translateY(-50%);
transition: all .4s ease-in-out;
transform-origin: 50% 0;
}
.custom-select.opened .custom-select-trigger:after {
margin-top: 3px;
transform: rotate(-135deg) translateY(-50%);
}
.custom-options {
position: absolute;
display: block;
top: 100%; left: 0; right: 0;
min-width: 100%;
margin: 15px 0;
border: 1px solid #b5b5b5;
border-radius: 4px;
box-sizing: border-box;
box-shadow: 0 2px 1px rgba(0,0,0,.07);
background: #fff;
transition: all .4s ease-in-out;
opacity: 0;
visibility: hidden;
pointer-events: none;
transform: translateY(-15px);
z-index:9;
}
.custom-select.opened .custom-options {
opacity: 1;
visibility: visible;
pointer-events: all;
transform: translateY(0);
}
.custom-options:before {
position: absolute;
display: block;
content: '';
bottom: 100%; right: 25px;
width: 7px; height: 7px;
margin-bottom: -4px;
border-top: 1px solid #b5b5b5;
border-left: 1px solid #b5b5b5;
background: #fff;
transform: rotate(45deg);
transition: all .4s ease-in-out;
}
.option-hover:before {
background: #f9f9f9;
}
.custom-option {
position: relative;
display: block;
padding: 8px;
border-bottom: 1px solid #b5b5b5;
font-size: 14px;
font-weight: 300;
color: #666;
line-height: 18px;
cursor: pointer;
transition: all .4s ease-in-out;
}
.custom-option:first-of-type {
border-radius: 4px 4px 0 0;
display: none;
}
.custom-option:last-of-type {
border-bottom: 0;
border-radius: 0 0 4px 4px;
}
.custom-option:hover,
.custom-option.selection {
background: #f9f9f9;
}





/* find provider button css wishlist page */
.Find_provider{
background: #286090;
border: 0 none;
box-shadow: 0px 0px 10px #ccc !important;
float: left;
font-size: 18px;
font-weight: bold;
height: auto;
padding: 10px 22px;
width: auto;
color: white;
border-radius: 3px;
}
.provider_btn_div {
width: 300px;
float: none;
margin: 0 auto;
}
/* end css */
/* highlight offer your services */
li.provider_service {
background: #b8c6cc;
}
/* end css */
/* footer service provider text csss*/
p.service_provider_footer_text {
    padding-top: 15px;
}
/**end*/

.copyright_text {
    padding-top: 30px;
}
.mapheading-city {
    color: #333;
    font-size: 13px;
}/*search page map heading city css*/
.mapheading-category {
    color: #333;
    font-size: 13px;/*search page map heading city css*/
}
/* admin side category create page css*/
form#contactform{
    width:93%;
    float:none;
    margin:0 auto;
}
h3.add_service {
    padding-left: 50px;
}
/* frontend side profile account page css*/
.alert.alert-warning.alert-dismissible.msgAlert {
	width: 90%;
	float: none;
	margin: 0 20px 16px 43px;
}


.alert.alert-danger.alert-dismissible.fade.in.profle_alert {
    width: 80%;
    float: none;
    margin: 0 auto;
}
thead {
    background-color: #3399cc;
    color: #fff;
}

/*tooltip css*/
div#tooltip468476 {
    top: unset !important;
    left: unset !important;
    display: block !important;
    z-index: 9999;
    position: absolute;
}


/*.imagebrowse img {
    width: 100% !important;
    height: 100% !important;border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}*/

.screw_text {
    padding: 0px;
}
.screw_text li {
    padding: 0px;
    width:100% !important;
}
.tg-contactinfo > li span {
    width: 80%;
    float: left;
    word-break: break-all;
}
@media screen and (max-width: 1200px){
.tg-socialicons li {margin-bottom: 10px;}
}
@media screen and (max-width: 991px){
.foot_mar {margin-bottom: 30px;}
}

i.fa.fa-envelope {
    color: #fff;
}
i.fa.fa-star-half-o.ycolor {
    color: #ffcd00;
}
/******map popup 19Feb***/
.mail-images{
    width: 20%;
    float: left;    
    margin-top: -12%;
    margin-left: -12%;
}
/* stars display in custom rating box*/
.custom-select-trigger {font-family: 'FontAwesome', 'sans-serif';}
.rating .custom-option {
    color: #ffcd00!important;
    font-family: "FontAwesome"; 
}
div#exampleModal {
    z-index: 9999;
}

.profile_compl {
    margin-bottom: 21px;
}

/*22-feb-2019*/

/*newnotification drop down*/


.notlist {
    padding: 0px;
    width: 250px;
    border-radius: 5px;
    border: none !important;
    box-shadow: 0px 0px 10px #dddddd;
    position: absolute;
    left: 50% !important;
    top: 100%;
    transform: translate(-50%);
    z-index: 99;
}
.notihead {
    background-color: #1b9bd8;
    color: #fff;
    font-size: 14px;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    font-family: lato;
    overflow: hidden;
}
.notihead a.viewlink {
    display: inline-block !important;
    padding: 0px !important;
    width: auto;
    float: right;
    font-size: 13px !important;
    color: #fff !important;
    text-decoration: underline;
}
.notibody li a {
    padding: 7px 10px !important;
    border-bottom: 1px solid #ddd;
}
.noticenotice {position: relative;}
.notlist:after {
    display: block;
    content: "";
    position: absolute;
    top: -25px;
    border: 13px solid transparent;
    border-bottom: 13px solid #1b9bd8;
    left: 50%;
    transform: translate(-50%);
}
.notibody {
    max-height: 350px;
    overflow-y: scroll;
}
.profile-detail { 
    font-size: 20px;
    color: #444545;
    font-family: lato;
    margin-bottom: 15px;
}
.check_avail{
	margin: 16% auto;
}
#loadnotification {
    padding: 0px;
}
#loadnotification li {
    list-style: none;
    padding: 5px;
    float: left;
    width:100%;
    border-bottom: 1px solid #ddd;
}
#loadnotification li img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}  
#loadnotification li span {
    float: left;
    width: calc(100% - 50px);
    padding-left: 10px;
    font-size: 12px;
    border-bottom: none !important;
}
#loadnotification li span a {font-size:12px;padding:0px !important;border:none;}
.wishlistul {
    padding: 5px 0px;
    list-style: none;
    width: 100%;
    margin: 0px;
}
.wishlistul li {
    padding: 5px 0px;
    font-size: 13px;
    font-weight: bold;
    /*text-transform: capitalize;
*/}
.textalign li {
    float: right;
}
.radioli li {
	padding: 10px 0px;
}
.capitalize {
	text-transform: capitalize;
}
.feedback_listing {
    margin: 60px 0px 70px 0px;
}
.martopbot {
    margin: 60px 0px;
}
span.fa.toggle-password {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
}
.martop {padding-top: 10px;}
.rrtop {margin-bottom: 25px;}
span.fa.fa-fw.field-icon.toggle-password.fa-eye-slash {
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.bookmsgtab .nav-tabs {
    border-bottom: 1px solid #ddd !important;
}
.droplist:after {
    display: block;
    content: "";
    position: absolute;
    top: -25px;
    border: 13px solid transparent;
    border-bottom: 13px solid #1b9bd8;
    right: 15px;
}
.drophead {
    height: 15px;
    background: #1b9bd8;
    border-radius: 4px 4px 0px 0px;
}
ul.dropdown-menu.mega-dropdown-menu.droplist {
    top: 85%;
    border-radius: 5px;
}
.tabs_box.main-box li.active:after {
    content: "";
    border: 15px solid #1B9BD8;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%);
}
.tablewrapper.tablediv {
    text-align: center;
}
.tablewrapper.tablediv h2 {
    font-size: 17px;
}
.bookingmsg_sec ul li.active a:hover {color: #fff !important;}
.bookmsgtab li.active:after {
    content: "";
    border: 15px solid #1B9BD8;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translate(-50%);
}
.closeaccount .addcardbtn input {
    background: #1B9BD8;
    border: 0 none;
    box-shadow: 1px 3px 18px 3px #e2e2e2;
    color: #ffffff;
    font-size: 16px;
    height: auto;
    padding: 7px 22px;
}
.btn-primary {
    color: #fff;
    background-color: #1B9BD8 !important;
    border-color: #1B9BD8 !important;
} 
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
    color: #fff;
    background-color: #1B9BD8 !important;
    border-color: #1B9BD8 !important;
}
.btn-default  {
    color: #fff;
    background-color: #1B9BD8 !important;
    border-color: #1B9BD8 !important;
} 
.btn-default:hover, .btn-default:active, .btn-default:focus, .btn-default:visited  {
    color: #fff !important;
    background-color: #1B9BD8 !important;
    border-color: #1B9BD8 !important;
} 
ol.carousel-indicators.user_glry_slider{
    position:inherit !important;
    bottom:-35px;
}
.font-change2 {
    text-align: center;
    font-size: 45px;
    font-weight: 600;
    margin: 40px 0px;
}
.termbox h6 {
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 5px;
    color: #333;
}
.General p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    margin: 0 auto;
}
.General h6 {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 5px;
    color: #333;
    line-height: 26px;
}
.same-size {
    font-size: 16px;
    font-weight: 300;
    line-height: 27px;
    color: #333;
}
.same-size li {
    color: #333!important;
    font-weight: 300!important;
    padding: 2px 0px;
}
.same-size4 li {
    line-height: 27px;
    font-size: 16px;
    font-weight: 300;
    color: #333;
}
.General ol li a {
    color: #333;
    font-weight: normal;
}
.textright {
    text-align: right;
}
.termbox h4 {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
    margin: 26px 0px;  
}
.termbox h5 {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin: 26px 0px;  
}
.termbox p {
    color: #333;
    font-size: 16px;
    font-weight: 300;
}
.pribacytext {
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    margin: 0 auto;
    text-align: center;
    max-width: 900px;
}
.Privacy {
    margin-bottom: 60px;
}
.model-profile {
    column-count: 2;
    list-style: none;
    padding: 0px 10px;
}
.model-profile li {
    padding: 5px 0px;
    font-size: 14px;
    font-weight: bold;
    font-family: lato;
    text-align: left;
    width: auto;
}
.model-profile li span {
    font-size: 14px;
    font-weight: lighter;
    margin-left: 10px;
}
.modal-header .close {
    position: absolute;
    top: 3px;
    right: 7px;
}
img.modal-proimg {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 -10px 20px 0 rgba(0, 0, 0, 0.1);
    width:100%;
}
ul.dropdown-menu.mega-dropdown-menu.droplist {
    left: -8rem !important;
}
#booking_status .btn {
    margin-bottom: 5px;
}
/*.tablediv .tableheader th:first-child {
    width: 20%;  
}*/

.dashboard_tabs li a:focus {
    background: transparent;
}
a {
    word-break: break-all;
}.no-rec {
    text-align: center;
    width: 70%;
    float: none;
    margin: 0 auto;
}
.feedback_listing h1 {
    font-size: 18px;
    margin-bottom: 30px;
}
@media(max-width: 1024px) {
	.abtservicecontent .pagetext{width: 100%;}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
strong.tg-logo a img {
    width: 100px;
    height: auto;
}  
}
@media (min-width: 1200px) and (max-width: 1280px) {
	.navbar-default.navigationbar li a {
    padding: 24px 12px;
    font-size: 14px;
}
}
@media (min-width: 1025px) and (max-width: 1199px) {
.howitwrkblk {
    width: 30%;
    margin-left: 1%;
}
}
@media (min-width: 768px) and (max-width: 1199px) {
	.profileform_right{width: 100%;}
}
@media(min-width: 768px) and (max-width: 1024px) {
.howitwrkblk {
    width: 30%;
    margin-left: 1%;
}
.singlepagesidebar{padding: 10px;}


.foot_mar {
    margin-bottom: 0px;
}

}
@media(max-width: 767px) {
.howitwrkblk {
    width: 100%;
    margin-bottom: 10px;
}
.notlist {transform: none !important;}  
.notlist:after {top:22px;transform: none;left:15px;}
/*.MultiCarousel .MultiCarousel-inner .item {
    float: left;
    width: 190px !important;  
}*/
.switchrolhead h6{margin-left: 0px;}
.switchrole{padding: 20px 0px 50px 0px;margin: 20px 0 50px;}
.navigationbar ul.dropdown-menu.mega-dropdown-menu.droplist {float:left;width:100%;}
.droplist:after {right: unset;left: 15px;top:70px;}
.profileform_right label {padding: 0px;}
.other_box h2 {font-size: 14px !important;line-height: 1.4;}
.feedback_listing h1 {font-size: 20px;margin-bottom: 18px;line-height: 1.4;}
.profileimage .form-group.imagediv {
    float: left;
    width: 100%; 
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.profileformmainright  .viewprofile {
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.viewprofile span {font-size: 12px;}
.formarea h2 {font-size: 18px;}
.formarea p {font-size: 13px;}
.sticky .navigationbar {position: relative;}
.leftheader p {text-align: center !important;padding-bottom: 10px;}
.rightheader ul {text-align: center;}
 
} 

@media(max-width: 480px) {
    .bookmsgtab li{width: 100%;}
    .switchrole{padding: 20px 0px 50px 0px;margin: 20px 0 50px;} 
}
.custom-select.sources.rating .custom-select-trigger {font-family: 'FontAwesome', 'sans-serif' !important;font-size: 12px;font-weight: 600;} \
[name="name"], [name="state"] {text-transform: capitalize;}
.form-group.profileform_right {
    float: left;
    width: 100%;
}
.viewprofile span {
    width: 30%;
    display: inline-block;
    float: left;
}
.viewprofile .lastview { 
    width: 65%;
    display: inline-block;
    float: left;
    margin-left: 5%;
}
p.viewprofile {
    overflow: hidden;
} 
.ser_tak_profile {
    border-top: 5px solid #3399cc;
    position: relative;
    background-color: #fff; 
    box-shadow: 0px 0px 10px #ccc; 
    padding: 40px 0px 30px 0px;  
    overflow: hidden;
}   
.ser_tak_img {
    width: 170px;
    height: 170px;    
    margin: 0 auto;     
} 
@media screen and (max-width:991px) {
    .ser_tak_profile {margin-bottom: 30px;} 
}
a#logininfacebook {
    background-color: #3c579d !important;
    border: 1px solid #3c579d !important;   
}
.removewhishlist_profile {
    border-radius: 5px;
    box-shadow: 1px 3px 12px 0 #919191;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 25px;  
    color: #fff;
    background-color: #337ab7;
}
.addwhishlists {
    border-radius: 5px;
    box-shadow: 1px 3px 12px 0 #919191;
    font-family: Lato;
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
    padding: 10px 25px;  
    color: #fff;
    background-color: #696969 !important;
}

span.tkr-count {
    -webkit-animation: flickerAnimation 4s infinite;
    -moz-animation: flickerAnimation 4s infinite;
    -o-animation: flickerAnimation 4s infinite;
    animation: flickerAnimation 4s infinite;
    padding: 0px 5px;
    font-family: 'Lobster', cursive;
    font-size: 16px;
    font-weight: bold;
    color:red;
}
/*@keyframes flickerAnimation {
  0%   { color: red; }
  50%  { color:green; }
  100% { color:blue; }
}
@-o-keyframes flickerAnimation{  
  0%   { color: red; }
  50%  { color:green; }
  100% { color:blue; }
}
@-moz-keyframes flickerAnimation{
  0%   { color: red; }
  50%  { color:green; }
  100% { color:blue; }
}
@-webkit-keyframes flickerAnimation{
  0%   { color: red; }
  50%  { color:green; }
  100% { color:blue; }
}*/
.tablediv .table-striped > tbody > tr {
    border: solid 1px #f4f4f4;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
ul.wishlistul.textalign i.fa {
    color: #ffcd00;
}
.modal-dialog.kuchv img {
    width: 100%;
}  

.pagination_section ul.pagination>li {
    display: inline-block;
}
.pagination_section ul.pagination>li a {
    font-size: 15px !important;
}
.pagination_section {
    float: right;
    width: 100%;
    text-align: center; 
}
/********22-april-2019***********/
.feedback_centerdiv span {
    padding-left: 20px;
}
@supports (-moz-appearance:none) {
#mc_embed_signup input.email {
    font-family: "Open Sans","Helvetica Neue",Arial,Helvetica,Verdana,sans-serif;
    font-size: 15px;
    border: 1px solid #ABB0B2;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #343434;
    background-color: #fff;
    box-sizing: border-box;
    height: 32px;
    padding: 0px 0.4em;
    display: inline-block;
    margin: 0;
    width: 350px;
    vertical-align: top;
}
#mc_embed_signup .clear {
    display: inline-block;
}
}
span.btnmore {
    color: #3399cc;;
    word-break: normal;
    cursor: pointer!important;
}
div#map canvas {
    width: 100% !important;
}
.form-group.forminput.fadeInLeft {
    position: relative;
}
form#registerform .form-group.forminput {
    position: relative;
}  
span.btnless {
    color: #3399cc; 
    cursor: pointer!important;
}
.tabledata.confirmedtable img {
    border-radius: 40px;
    float: left;
    width: 40px;
    height: 40px;
}
tr#pending_32 h4 span {    
    float: left;  
    padding-left: 10px;
    padding-top: 15px;   
} 

input#zipcode {
    font-family: 'FontAwesome', 'sans-serif' !important;
}
input#autocomplete {
    font-family: 'FontAwesome', 'sans-serif' !important;
} 
input#zipcode::-webkit-input-placeholder, input#autocomplete::-webkit-input-placeholder  {
  font-size: 12px;
}
input#zipcode::-moz-placeholder, input#autocomplete::-moz-placeholder  {
  font-size: 12px;
}
input#zipcode:-ms-input-placeholder, input#autocomplete:-ms-input-placeholder {
  font-size: 12px;
}
input#zipcode:-moz-placeholder, input#autocomplete:-moz-placeholder {
  font-size: 12px;  
}


@media screen and (max-width: 768px) {
	.feedback_listing ul li {padding: 20px 0px;}
	.leftspace {
    float: left;
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
} 
}

img.cropd_img {
    width: 100%;
    position: relative;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
}
.question-mark {
    margin-left: 5px;
    vertical-align: top; 
}
/******30-april-2019********/

.leftheader p {margin-bottom: 0px;padding: 2px 0px;} 
.leftheader p span {padding-right: 10px;} 
.leftheader p a:hover {color: #ffffff;}
#inputzipcode {font-family: 'FontAwesome', 'sans-serif' !important;font-size: 12px;} 
#amount {font-family: 'FontAwesome', 'sans-serif' !important;font-size: 12px;}
@media screen and (max-width: 1024px) and (min-width: 768px) {
.MultiCarousel .MultiCarousel-inner .item {border-left: 5px solid #fff;}
} 


[role="presentation"].active:after {
    content: "";
    border: 25px solid #3399cc;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 10px solid transparent;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%);
} 
.cancelcancel {   
    padding: 6px 22px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    font-family: inherit !important;
}

.bodborder {border: 2px solid #e0e0e0 !important;}
.serviceblks h4 a {word-break: unset;}
.other_box h2 a {word-break: unset;} 
.servicebox a {color: #1d9bd7;
    line-height: 21px;} 
#loadnotification li span a {word-break: unset;} 

.pagination li {
    width:auto;  
}   
.pagination li a {
    padding: 6px 12px !important;
    height: auto !important;
    line-height: normal !important;
    border: 1px solid #e0dfdf;  
}    
.pagination li.active span {
    background-color: #3399cc !important;
    border: 1px solid #3399cc;
}
.pagination li.active span:hover {
    background-color: #3399cc !important;
    border: 1px solid #3399cc;
} 
.pagination li.active span:active {
    background-color: #3399cc !important;
    border: 1px solid #3399cc;
}
.pagination li.active span:focus {
    background-color: #3399cc !important;
    border: 1px solid #3399cc;
}  
.pagination li a:hover { 
    border: 1px 1px 2px 1px;
    border-color: #3399cc; 
} 
.pagination li.active:after {display: none;}
.pagination li a {
    border-right: 1px solid #e0dfdf !important;
    border-left: 1px solid #e0dfdf !important;
}
.edit_price input {
    border: 0;
    height: auto;
    padding: 0;
    text-align: right;
    width: 100%;
    border-bottom: 1px solid #ddd;
    border-radius: 0; 
} 

@media (max-width:767px) {
	.profile_box .text_content h3 {font-size: 16px;}
	.profile_box ul.style-chnage li {font-size: 14px;} 
	.profile_box ul.style-chnage span {font-size: 14px;} 
    .other_box h2 {font-size: 14px;}
    .banner_content h1 {font-size: 24px;}
    .content_box h3 {font-size: 18px !important;}
    .content_box p {font-size: 14px !important;}

}  

.leftheader p span {

    color: #fff;
    margin-right: 0px;
    font-weight: bold;
}
.emaildiv p {
    margin-bottom: 0;font-size: 14px;
}
.emaildiv a , .emaildiv i{color: #fff !important;}
.emaildiv i{padding-right:10px;}
.newsletterbox #mc_embed_signup{background: transparent;}
.newsletterbox #mc_embed_signup form input{height: 40px !important;
    border: 0px;
    border-radius: 0px;}

.newsletterbox #mc_embed_signup form input.btn-primary {
    padding: 0px 40px;
    font-weight: bold;
}
.imgservices.servicebanner {
    background-image:url(../images/banner-img2.jpg);
    background-size: cover;
    padding: 50px 0;
    background-blend-mode: overlay;
}
.servicebanner .banner_content h1 {
    color: #fff;
    font-size: 40px;    font-weight: normal;
}

.top_div.contactbanner {
    background: rgba(0,0,0,0.7) url(../images/36_feedback_banner.jpg);
    height: 220px;display: flex;display: -webkit-flex;
    align-items: center;-webkit-align-items:center;
    background-blend-mode: overlay;
}
.contactbanner h1 {
    color: #fff;
}
/*.leftheader p span {
    position: relative;
    animation: animate 2s linear infinite;
    font-weight: bold;
    font-size: 16px;
    color:#fff;
    background-color: #0247fe;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px; 
    border-radius: 5px;
    margin-right: 5px;
    
}*/

/*@keyframes animate {
  0% {
    background-color: #16A085;
  }
  50% {
    background-color: #000000; 
  }
  100% {
    background-color: blue; 
  }
}*/



/**new-css**/

@media screen and (max-width: 1200px) {
span#notiCount {top: 15px;right: 0;left:auto !important;}
.servicebanner .banner_content h1 {font-size: 30px;}
}
@media screen and (max-width: 991px) {
	nav.navbar.navbar-default.navigationbar {position: relative;}
	ul.dropdown-menu.mega-dropdown-menu.droplist {left: 0rem !important;}
	.droplist:after {right: auto;left: 15px;}
	/*header#myHeader .col-xs-9.logodiv {width: 75%;}*/
	header#myHeader .navbar-right {margin-right: -15px;}
	.navigationbar .navbar-header button:active {background: #1b9bd8;}
	.navigationbar .navbar-header button:hover {background: #1b9bd8;}
	.servicebanner .banner_content h1 {font-size: 24px;}
}

@media screen and (max-width: 768px) {
div#map {height: 250px !important;}
.contact-email p {font-size: 18px !important;}
}

@media screen and (max-width: 425px) {
button.btn.btn-box {font-size: 14px !important;}
h1#wishlist-empty-text {font-size: 24px;}
.leftheader p {font-size: 11px;}
.leftheader a {font-size: 11px;}
div#map {height: 200px !important;}
}

.butpadd {padding: 1px 5px;background-color: #1B9BD8 !important;
    border-color: #1B9BD8 !important;}
.g-recaptcha div {margin: 0 auto;}

div#subcat_queries2 <style>

#subcat_queries2 input.input-lg {  
    border: 0;
    height: auto;
    padding: 0;
    text-align: right;
    width: 100%; 
    border-bottom: 1px solid #ddd;
    border-radius: 0;
}
#subcat_queries2 h4 {
    font-size: 16px;
    color: #000;
    font-weight: bold;
    margin: 0px;
}

@media only screen and (min-width: 320px) and (max-width: 600px){
.tg-featurecontent h3 {
    text-overflow: inherit;
}
}
@media only screen and (min-width: 350px) and (max-width: 500px){
.formlink > a {
    color: #1B9BD8;
    font-family: Lato;
    font-size: 13px;
}
}
@media only screen and (min-width: 320px) and (max-width: 350px){
.formlink a {
    padding-bottom: 10px;
    position: relative;
    right: 20px;
    font-size: 13px;
}
}
@media only screen and (min-width: 351px) and (max-width: 370px){
.formlink a {
font-size: 11px;
}
}
@media only screen and (min-width: 320px) and (max-width: 767px){
.formbutton {
    overflow: hidden;
}
}
@media only screen and (min-width: 320px) and (max-width: 600px){
.tg-featurecontent h3 {
    white-space: inherit;
 }
 }
@media only screen and (min-width: 320px) and (max-width: 600px){
 .quoteimg {
    position: relative;
    left: 82px;
}
}

/*@media only screen and (min-width: 320px) and (max-width: 980px){
.tabledata.confirmedtable td:nth-of-type(4)::before {
    content: "Serviço" !important;
}
.tabledata.confirmedtable td:nth-of-type(6)::before {
    content: "Valor base" !important;
}
.tabledata.confirmedtable td:nth-of-type(1)::before {
    content: "Sobre o contratante" !important;
}
.tabledata.confirmedtable.ppending td:nth-of-type(1)::before {
    content: "Tem interesse no serviço?" !important;
}
}*/

@media only screen and (min-width: 320px) and (max-width: 350px){
.butpadd {
    margin-left: 6px;
}
}
@media only screen and (min-width: 320px) and (max-width: 980px){
.btn.btn-success.btn-sm.butpadd.blackuserModal_102 {
    vertical-align: top !important;
}
}