@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
body {
    overflow-x: hidden;
    background: #f3f3f9;
    /* visibility: hidden; */
}
/*
    Template: Admin Board
    Author: Saiful
    Developer by: Saiful Islam

    Table of Content
    ================

1. variable
2. fonts
3. card
4. global
5. badge
6. tab
7. modal
8. timeline
9. data-table
10. panel
11. button
12. header
13. gmap
14. chat
15. carousel
16. weather
17. invoice-edit
18. invoice
19. widget-stat
20. recent-comments
21. recent-message
22. forms
23. compose-email
24. progress-bar
25. todo-list
26. datamap
27. table
28. order-progress
29. login
30. chart
31. nestable
32. profile
33. profile-widget
34. ui-element-basic
35. calendar
36. flot-chart
37. morris-chart
38. products_1
39. products_2
40. products_3
41. favourite_menu
42. order-list
43. booking-system
44. scrollable
45. vector-map
46. menu-upload
47. social-media-stats
48. vertical-carousel
49. chartist
50. table-export
51. ui-widget-v1
42. responsive

*/
/*    Font Variable
----------------------*/
/*    Color Variable
-----------------------*/
/*    Solid Color
------------------*/
/*    Brand color
----------------------*/
/*----------------font-------------------*/
.icon-name {
  color: #000;
}
/*  Opensans
--------------- */
.card-body {
  padding: 0;
}
.card {
  background: #ffffff;
  margin: 7.5px 0;
  padding: 20px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.card-subtitle {
  font-size: 12px;
  margin: 10px 0;
}
.card-title {
  font-weight: 400;
  font-size: 18px;
  margin: 0;
}
.card-title h4 {
  display: inline-block;
  font-weight: 400;
  font-size: 18px;
}
.card-title p {
  font-family: 'Roboto', sans-serif;
  margin-bottom: 12px;
}
.card-header-right-icon {
  display: inline-block;
  float: right;
}
.card-header-right-icon li {
  float: right;
  padding-left: 14px;
  color: #868e96;
  cursor: pointer;
  vertical-align: middle;
  transition: all 0.5s ease-in-out;
  display: inline-block;
}
.card-header-right-icon li .ti-close {
  font-size: 12px;
}
.card-option {
  position: relative;
}
.card-option-dropdown {
  display: none;
  left: auto;
  right: 0;
}
.card-option-dropdown li {
  display: block;
  float: left;
  width: 100%;
  padding: 0;
}
.card-option-dropdown li a {
  line-height: 25px;
  font-size: 12px;
}
.card-option-dropdown li a i {
  margin-right: 10px;
}
.doc-link {
  float: right;
  position: relative;
  transition: all 0.5s ease-in-out;
}
.doc-link:focus:after,
.doc-link:hover:after {
  opacity: 1;
  visibility: visible;
}
.doc-link:after {
  border: 1px solid #e7e7e7;
  border-radius: 5px;
  content: "Documentation";
  font-size: 12px;
  padding: 5px 10px;
  position: absolute;
  right: -30px;
  top: -30px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease-in-out;
}

.badge-primary {
    background: #3c8dbc;
    color: #ffffff;
}
.badge-success {
  background: #28a745;
  color: #ffffff;
}
.badge-info {
  background: #03a9f4;
  color: #ffffff;
}
.badge-warning {
  background: #e7b63a;
  color: #ffffff;
}
.badge-danger {
  background: #dc3545;
  color: #ffffff;
}
.badge-pink {
  background: #e6a1f2;
  color: #ffffff;
}
.badge-dark {
  background: #545454;
  color: #ffffff;
}
span.badge {
  color: #ffffff;
  font-size: 11px;
}
.vtabs {
  display: table;
}
.vtabs .tabs-vertical {
  border-bottom: 0 none;
  border-right: 1px solid rgba(120, 130, 140, 0.13);
  display: table-cell;
  vertical-align: top;
  width: 150px;
}
.vtabs .tabs-vertical li .nav-link {
  border: 0 none;
  border-radius: 4px 0 0 4px;
  color: #263238;
  margin-bottom: 10px;
}
.vtabs .tab-content {
  display: table-cell;
  padding: 20px;
  vertical-align: top;
}
.tabs-vertical li .nav-link.active,
.tabs-vertical li .nav-link.active:focus,
.tabs-vertical li .nav-link:hover {
  background: #1976d2 none repeat scroll 0 0;
  border: 0 none;
  color: #ffffff;
}
.customvtab .tabs-vertical li .nav-link.active,
.customvtab .tabs-vertical li .nav-link:focus,
.customvtab .tabs-vertical li .nav-link:hover {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background: #ffffff none repeat scroll 0 0;
  border-color: currentcolor #1976d2 currentcolor currentcolor;
  border-image: none;
  border-style: none solid none none;
  border-width: 0 2px 0 0;
  color: #1976d2;
  margin-right: -1px;
}
.tabcontent-border {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  border-color: currentcolor #ddd #ddd;
  border-image: none;
  border-style: none solid solid;
  border-width: 0 1px 1px;
}
.customtab2 li a.nav-link {
  border: 0 none;
  color: #67757c;
  margin-right: 3px;
}
.customtab2 li a.nav-link.active {
  background: #1976d2 none repeat scroll 0 0;
  color: #ffffff;
}
.customtab2 li a.nav-link:hover {
  background: #1976d2 none repeat scroll 0 0;
  color: #ffffff;
}
.modal-dialog {
  margin: 30px auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%) !important;
  width: 70%;
}
.modal-header .close {
  font-size: 14px;
  margin-right: 15px;
  margin-top: 5px;
}
.modal-content {
  border-radius: 3px;
}
.timeline {
  list-style: none;
  padding: 0 0 8px;
  position: relative;
}
.timeline:before {
  top: 7px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #e7e7e7;
  left: 25px;
  margin-right: -1.5px;
}
.timeline-title {
  margin: 5px 0 !important;
  font-size: 14px;
}
.timeline > li {
  margin-bottom: 15px;
  position: relative;
}
.timeline > li:after,
.timeline > li:before {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: calc(100% - 70px);
  float: right;
  border: 1px solid #e7e7e7;
  border-radius: 2px;
  padding: 5px 20px;
  position: relative;
}
.timeline > li > .timeline-panel:before {
  position: absolute;
  top: 26px;
  left: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-right: 15px solid #e7e7e7;
  border-left: 0 solid #e7e7e7;
  border-bottom: 15px solid transparent;
  content: " ";
}
.timeline > li > .timeline-panel:after {
  position: absolute;
  top: 27px;
  left: -14px;
  display: inline-block;
  border-top: 14px solid transparent;
  border-right: 14px solid #ffffff;
  border-left: 0 solid #ffffff;
  border-bottom: 14px solid transparent;
  content: " ";
}
.timeline > li > .timeline-badge {
  color: #ffffff;
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 25px;
  left: 8px;
  margin-right: -25px;
  background-color: #e6a1f2;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
.timeline-body > p {
  font-size: 12px;
  margin-bottom: 10px;
}
.timeline-badge.primary {
  background-color: #5873fe !important;
}
.timeline-badge.success {
  background-color: #28a745 !important;
}
.timeline-badge.warning {
  background-color: #e7b63a !important;
}
.timeline-badge.danger {
  background-color: #dc3545 !important;
}
.timeline-badge.info {
  background-color: #03a9f4 !important;
}
.bootstrap-data-table-panel .dataTables_filter {
  text-align: right;
}
.bootstrap-data-table-panel .dataTables_filter .form-control {
  margin-left: 10px;
}
.bootstrap-data-table-panel .dataTables_filter .form-control:hover,
.bootstrap-data-table-panel .dataTables_filter .form-control:focus {
  background: transparent;
}
.dataTables_length {
  display: inline-block;
  float: left;
  margin-right: 30px;
}
.dt-buttons {
  margin-bottom: 15px;
}
.dt-buttons .dt-button {
  background-image: none;
  background: #ffffff;
  color: #373757;
  border-color: #e7e7e7;
  margin-right: 10px;
  padding: 7px 20px;
  border-radius: 0px;
}
.dt-buttons .dt-button:hover:not(.disabled),
.dt-buttons .dt-button:focus,
.dt-buttons .dt-button.active {
  background-image: none;
  background: #5873fe;
  color: #ffffff;
}
button.dt-button:hover:not(.disabled),
div.dt-button:hover:not(.disabled),
a.dt-button:hover:not(.disabled) {
  background-color: #5873fe;
  background-image: none;
  border: 1px solid #5873fe;
  box-shadow: none;
  color: #ffffff;
}
button.dt-button:focus:not(.disabled),
div.dt-button:focus:not(.disabled),
a.dt-button:focus:not(.disabled) {
  background-color: #5873fe;
  background-image: none;
  border: 1px solid #5873fe;
  box-shadow: none;
  color: #ffffff;
}
button.dt-button:active:hover:not(.disabled):not(.disabled),
button.dt-button.active:hover:not(.disabled):not(.disabled),
div.dt-button:active:hover:not(.disabled):not(.disabled),
div.dt-button.active:hover:not(.disabled):not(.disabled),
a.dt-button:active:hover:not(.disabled):not(.disabled),
a.dt-button.active:hover:not(.disabled):not(.disabled) {
  background-color: #5873fe;
  background-image: none;
  border: 1px solid #5873fe;
  box-shadow: none;
  color: #ffffff;
}
button.dt-button:active:not(.disabled),
button.dt-button.active:not(.disabled),
div.dt-button:active:not(.disabled),
div.dt-button.active:not(.disabled),
a.dt-button:active:not(.disabled),
a.dt-button.active:not(.disabled) {
  background-color: #5873fe;
  background-image: none;
  border: 1px solid #5873fe;
  box-shadow: none;
  color: #ffffff;
}


@media (max-width: 767px) {
  .dataTables_length {
    margin-left: 10px;
  }
  select.input-sm {
    width: 167px;
  }
  .bootstrap-data-table-panel .dataTables_filter {
    margin-left: 12px;
    text-align: left;
    padding-right: 10px;
  }
  .bootstrap-data-table-panel .dataTables_filter .form-control {
    margin-left: 0px;
  }
}
.panel {
  border-radius: 0;
  margin: 15px 0;
}
.panel-body {
  font-family: 'Roboto', sans-serif;
}
.panel-primary {
  border-color: #5873fe;
}
.panel-primary .panel-heading {
  background: #5873fe;
  border-color: #5873fe;
  color: #ffffff;
}
.panel-success {
  border-color: #28a745;
}
.panel-success .panel-heading {
  background: #28a745;
  border-color: #28a745;
  color: #ffffff;
}
.panel-info {
  border-color: #03a9f4;
}
.panel-info .panel-heading {
  background: #03a9f4;
  border-color: #03a9f4;
  color: #ffffff;
}
.panel-danger {
  border-color: #dc3545;
}
.panel-danger .panel-heading {
  background: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
}
.panel-warning {
  border-color: #e7b63a;
}
.panel-warning .panel-heading {
  background: #e7b63a;
  border-color: #e7b63a;
  color: #ffffff;
}
.panel-pink {
  border-color: #e6a1f2;
}
.panel-pink .panel-heading {
  background: #e6a1f2;
  border-color: #e6a1f2;
  color: #ffffff;
}
.panel-dark {
  border-color: #545454;
}
.panel-dark .panel-heading {
  background: #545454;
  border-color: #545454;
  color: #ffffff;
}
.panel-white {
  border-color: #252525;
}
.panel-white .panel-heading {
  background: #ffffff;
  border-color: #252525;
  color: #252525;
}
.btn-default {
  background: #878787;
  border-color: #878787;
  color: #ffffff;
}
.btn-default.active,
.btn-default:focus,
.btn-default:hover {
  background: #6e6e6e;
  border-color: #878787;
  color: #ffffff;
  box-shadow: none;
}
.btn-primary {
  background: #5873fe;
  border-color: #5873fe;
  color: #ffffff;
}
.btn-primary.active,
.btn-primary:focus,
.btn-primary:hover {
  background: #2549fe;
  border-color: #5873fe;
  color: #ffffff;
  box-shadow: none;
}
.btn-success {
  background: #1b9bd8;
  border-color: #1b9bd8;
  color: #ffffff;
}
.btn-success:hover {
  background: #1b9bd8;
  border-color: #1b9bd8;
  color: #ffffff;
}
.btn-success.active,
.btn-success:focus
{
  background: #1b9bd8;
  border-color: #1b9bd8;
  color: #ffffff;
  box-shadow: none;
}
.btn-success:hover {
  background: #1b9bd8;
  border-color: #1b9bd8;
  color: #ffffff;
  box-shadow: none;
}

.btn-info {
  background: #03a9f4;
  border-color: #03a9f4;
  color: #ffffff;
}
.btn-info.active,
.btn-info:focus,
.btn-info:hover {
  background: #0286c2;
  border-color: #03a9f4;
  color: #ffffff;
  box-shadow: none;
}
.btn-warning {
  background: #e7b63a;
  border-color: #e7b63a;
  color: #ffffff;
}
.btn-warning.active,
.btn-warning:focus,
.btn-warning:hover {
  background: #d49f1a;
  border-color: #e7b63a;
  color: #ffffff;
  box-shadow: none;
}
.btn-danger {
  background: #dc3545;
  border-color: #dc3545;
  color: #ffffff;
}
.btn-danger.active,
.btn-danger:focus,
.btn-danger:hover {
  background: #bd2130;
  border-color: #dc3545;
  color: #ffffff;
  box-shadow: none;
}
.btn-pink {
  background: #e6a1f2;
  border-color: #e6a1f2;
  color: #ffffff;
}
.btn-pink.active,
.btn-pink:focus,
.btn-pink:hover {
  background: #da74ec;
  border-color: #e6a1f2;
  color: #ffffff;
  box-shadow: none;
}
.btn-dark {
  background: #545454;
  border-color: #545454;
  color: #ffffff;
}
.btn-dark.active,
.btn-dark:focus,
.btn-dark:hover {
  background: #3b3b3b;
  border-color: #545454;
  color: #ffffff;
  box-shadow: none;
}
.btn-addon {
  position: relative;
  padding-left: 40px;
}
.btn-addon i {
  background: rgba(0, 0, 0, 0.1);
  left: -1px;
  margin-right: 20px;
  padding: 10px;
  position: absolute;
  top: -1px;
}
.btn-addon.btn-lg {
  padding-left: 60px;
}
.btn-addon.btn-lg i {
  padding: 14px;
}
.btn-addon.btn-md {
  padding-left: 45px;
}
.btn-addon.btn-md i {
  padding: 10px;
}
.btn-addon.btn-sm {
  padding-left: 40px;
}
.btn-addon.btn-sm i {
  padding: 9px;
}
.btn-addon.btn-xs {
  padding-left: 25px;
}
.btn-addon.btn-xs i {
  padding: 5px;
}
.btn-rounded {
  border-radius: 100px;
}
.btn-outline {
  background: transparent;
  color: #373757;
}
.btn-flat {
  border-radius: 0;
}
.dropdown-menu li {
  padding: 0 10px;
  font-size: 14px;
}
/*    Header
---------------*/
.header {
    background: #ffffff;
    z-index: 990;
    min-height: 70px;
    margin-left: 250px;
    width: calc(100% - 250px);
    /* box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1); */
    transition: margin-left 300ms ease-in-out 0s;
    box-shadow: 0px 7px 10px -4px #eee;
    position: fixed;
}
.dashboardlogo {
background: #fff none repeat scroll 0 0;
    display: inline-block;
    padding: 10px 20px 0px;  min-height: 70px;
    transition: width 300ms ease-in-out 0s;
    width: 250px;
}
.dashboardlogo span {
  color: rgba(160, 180, 200, 0.85);
  font-size: 20px;
  font-weight: 700;
}
.sidebar-hide .dashboardlogo {
  width: 0;
}
.sidebar-hide .dashboardlogo span {
  display: none;
}
.header-icon {
  font-size: 18px;
  padding: 0px 15px;
  color: #252525;
  position: relative;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  vertical-align: middle;
  float: left;
}
.header-icon i,
.header-icon img,
.header-icon span {
  cursor: pointer;
}
.header-icon.active,
.header-icon:focus,
.header-icon:hover {
  background: rgba(255, 255, 255, 0.3);
}
.header-icon.active .drop-down {
  visibility: visible;
  opacity: 1;
  transform: translateY(0px);
}
.drop-down {
  background: #ffffff;
  color: #252525;
  visibility: hidden;
  opacity: 0;
  width: 320px;
  position: absolute;
  right: 0;
  top: 55px;
  transform: translateY(50px);
  transition: all 0.4s ease-in-out;
  border-top: 0;
  border: 1px solid #e7e7e7;
  z-index: 999;
}
.header-left .drop-down {
  left: 0;
}
.dropdown-content-heading {
  padding: 10px 15px;
}
.dropdown-content-heading span {
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  color: #373757;
}
.dropdown-content-heading i {
  position: relative;
  top: 5px;
  opacity: 1!important;
  color: #5873fe;
}
.dropdown-content-body li {
  padding: 15px;
  border-top: 1px solid #eef5f9;
}
.dropdown-content-body li.active,
.dropdown-content-body li:focus,
.dropdown-content-body li:hover {
  background: #eef5f9;
  border-top: 1px solid #eef5f9;
}
.dropdown-content-body li a.active,
.dropdown-content-body li a:focus,
.dropdown-content-body li a:hover {
  color: #868e96;
}
.dropdown-content-body li:last-child {
  padding: 5px 15px;
}
.notification-heading {
  font-size: 13px;
  font-weight: 700;
  color: #373757;
}
.avatar-img {
  border-radius: 100px;
  width: 25px;
  position: relative;
  top: -3px;
}
.user-avatar {
  font-size: 14px;
  font-weight: 700;
}
.notification-text {
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 3px;
}
.notification-timestamp {
  font-size: 11px;
}
.notification-percentage {
  font-size: 12px;
  position: relative;
  top: 12px;
}
.notification-unread {
  background: #eef5f9;
}
.notification-unread .notification-heading {
  color: #555;
}
.more-link {
  font-size: 12px;
  color: #5873fe;
  display: inline-block;
}
.dropdown-profile {
  width: 200px;
}
.dropdown-profile .trial-day {
  font-size: 11px;
  padding-top: 2px;
  color: #5873fe;
}
.dropdown-profile li {
  padding: 7px 15px;
}
.dropdown-profile li a {
  display: block;
  color: #373757;
}
.dropdown-profile li a.active,
.dropdown-profile li a:focus,
.dropdown-profile li a:hover {
  color: #373757;
}
.dropdown-profile li a span {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}
.dropdown-profile li a i {
  margin-right: 5px;
  font-size: 14px;
}
.dropdown-profile li:last-child {
  padding: 7px 15px;
}
.header-link {
  position: relative;
  top: -3px;
  font-size: 14px;
}
/*    Search box
----------------------*/
.main .page-header {
  min-height: 50px;
  margin: 15px 0 5px;
  padding: 0 15px;
  border-bottom: 0;
  border-radius: 3px;
}
.main .page-header h1 {
  font-size: 18px;
  padding: 14px 0;
  margin: 0;
}
.main .page-header h1 span {
  font-size: 14px;
}
.main .page-header .breadcrumb {
  margin: 0;
  padding: 15px;
  background: transparent;
  float: right;
}
.main .page-header .breadcrumb li.active {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
}
.main .page-header .breadcrumb li a {
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
  display: block;
}
.dropdown-task .progress {
  height: 5px;
  margin-bottom: 0;
  margin-top: 20px;
  box-shadow: none;
}
.dropdown-task .progress-bar {
  box-shadow: none;
}
/*  Responsive*/
@media (min-width: 320px) and (max-width: 679px) {
  .sidebar {
    top: 50px;
  }
}
.map {
  width: 100%;
  height: 400px;
}
.chat-sidebar {
  background-color: #eef5f9;
  border-left: 1px solid #e7e7e7;
  position: fixed;
  right: -240px;
  bottom: 0;
  top: 55px;
  width: 240px;
  z-index: 2;
  -webkit-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.chat-sidebar .user-name {
  font-family: 'Roboto', sans-serif;
}
.chat-sidebar .content {
  font-family: 'Roboto', sans-serif;
}
.chat-sidebar .textarea {
  font-family: 'Roboto', sans-serif;
}
.chat-sidebar .seen {
  font-family: 'Roboto', sans-serif;
}
.chat-sidebar.is-active {
  right: 0;
}
.chat-user-search .input-group-addon {
  background: #ffffff;
  border-radius: 0px;
  border: 0px;
}
.chat-user-search .form-control {
  border: 0px;
}
.hidden {
  display: none;
}
/*    Home Chat Widget
---------------------------------*/
.chat-widget .chat_window {
  position: relative;
  width: 100%;
  height: 500px;
  border-radius: 10px;
  background-color: #ffffff;
  background-color: #f8f8f8;
  overflow: hidden;
}
.chat-widget .messages {
  position: relative;
  list-style: none;
  padding: 20px 10px 0 10px;
  margin: 0;
  min-height: 350px;
  overflow: scroll;
}
.chat-widget .messages .message {
  clear: both;
  overflow: hidden;
  margin-bottom: 20px;
  transition: all 0.5s linear;
  opacity: 0;
}
.chat-widget .messages .message .avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: inline-block;
}
.chat-widget .messages .message .text_wrapper {
  display: inline-block;
  padding: 20px;
  border-radius: 6px;
  width: calc(100% - 100px);
  min-width: 100px;
  position: relative;
}
.chat-widget .messages .message .text_wrapper .text {
  font-size: 18px;
  font-weight: 300;
}
.chat-widget .messages .message .text_wrapper::after {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-width: 13px;
  margin-top: 0px;
}
.chat-widget .messages .message .text_wrapper:before {
  top: 18px;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.chat-widget .messages .message .text_wrapper::before {
  border-width: 15px;
  margin-top: -2px;
}
.chat-widget .messages .message.left .text_wrapper::after,
.chat-widget .messages .message.left .text_wrapper::before {
  right: 100%;
  border-right-color: #ffe6cb;
}
.chat-widget .messages .message.left .avatar {
  background-color: #f5886e;
  float: left;
}
.chat-widget .messages .message.left .text_wrapper {
  background-color: #ffe6cb;
  margin-left: 20px;
}
.chat-widget .messages .message.left .text {
  color: #c48843;
}
.chat-widget .messages .message.right .text_wrapper::after,
.chat-widget .messages .message.right .text_wrapper::before {
  left: 100%;
  border-left-color: #c7eafc;
}
.chat-widget .messages .message.right .avatar {
  background-color: #fdbf68;
  float: right;
}
.chat-widget .messages .message.right .text_wrapper {
  background-color: #c7eafc;
  margin-right: 20px;
  float: right;
}
.chat-widget .messages .message.right .text {
  color: #45829b;
}
.chat-widget .messages .message.appeared {
  opacity: 1;
}
.chat-widget .bottom_wrapper {
  position: relative;
  position: absolute;
  width: 100%;
  background-color: #ffffff;
  padding: 20px 20px;
  bottom: 0;
}
.chat-widget .bottom_wrapper .message_input_wrapper {
  display: inline-block;
  height: 50px;
  border-radius: 25px;
  border: 1px solid #bcbdc0;
  width: calc(100% - 160px);
  position: relative;
  padding: 0 20px;
}
.chat-widget .bottom_wrapper .message_input_wrapper .message_input {
  border: none;
  height: 100%;
  box-sizing: border-box;
  width: calc(100% - 45px);
  position: absolute;
  outline-width: 0;
  color: gray;
}
.chat-widget .bottom_wrapper .send_message {
  width: 140px;
  height: 50px;
  display: inline-block;
  border-radius: 50px;
  background-color: #a3d063;
  border: 2px solid #a3d063;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s linear;
  text-align: center;
  float: right;
}
.chat-widget .bottom_wrapper .send_message .text {
  font-size: 18px;
  font-weight: 300;
  display: inline-block;
  line-height: 48px;
}
.chat-widget .bottom_wrapper .send_message:hover {
  color: #a3d063;
  background-color: #ffffff;
}
.chat-widget .message_template {
  display: none;
}
.testimonial-widget-one .testimonial-content {
  text-align: right;
}
.testimonial-widget-one .testimonial-text {
  margin-bottom: 15px;
}
.testimonial-widget-one .testimonial-author-position {
  font-family: 'Roboto', sans-serif;
  margin-right: 75px;
  position: relative;
  top: -5px;
  font-size: 12px;
}
.testimonial-widget-one .testimonial-author {
  padding-top: 15px;
  margin-right: 75px;
  position: relative;
  top: -5px;
  font-weight: 600;
  color: #373757;
}
.testimonial-widget-one .testimonial-author-img {
  height: 50px !important;
  width: 50px !important;
  border-radius: 100px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.weather-one i {
  font-size: 70px;
  position: relative;
  top: 5px;
  color: #ddd;
}
.weather-one h2 {
  display: inline-block;
  float: right;
  font-size: 48px;
  color: #ffffff;
}
.weather-one .city {
  position: relative;
  text-align: right;
  top: -25px;
}
.weather-one .currently {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: 25px;
}
.weather-one .celcious {
  text-align: right;
  font-size: 20px;
}
[contenteditable]:hover,
[contenteditable]:focus {
  background: #a4b3fe;
}
.control-bar {
  position: relative;
  z-index: 100;
  background: #5873fe;
  color: #ffffff;
  padding: 15px;
  margin-bottom: 30px;
}
.control-bar .slogan {
  font-weight: bold;
  font-size: 1.2rem;
  display: inline-block;
  margin-right: 2rem;
}
.control-bar label {
  margin: 0px;
  color: #ffffff;
}
.control-bar a {
  margin: 0;
  padding: .5em 1em;
  background: #ffffff;
  color: #373757;
}
.control-bar a:hover {
  background: #a4b3fe;
}
.control-bar input {
  border: none;
  background: #a4b3fe;
  max-width: 30px;
  text-align: center;
  color: #373757;
}
.control-bar input:hover {
  background: #a4b3fe;
}
.hidetax .taxrelated {
  display: none;
}
.showtax .notaxrelated {
  display: none;
}
.hidedate .daterelated {
  display: none;
}
.showdate .notdaterelated {
  display: none;
}
.details input {
  display: inline;
  margin: 0 0 0 .5rem;
  border: none;
  width: 55px;
  min-width: 0;
  background: transparent;
  text-align: left;
}
.invoice-edit .rate:before,
.invoice-edit .price:before,
.invoice-edit .sum:before,
.invoice-edit .tax:before,
.invoice-edit #total_price:before,
.invoice-edit #total_tax:before {
  content: '€';
}
.invoice-edit .me,
.invoice-edit .info,
.invoice-edit .bank,
.invoice-edit .smallme,
.invoice-edit .client,
.invoice-edit .bill,
.invoice-edit .details {
  padding: 15px;
}
.invoice-logo img {
  display: block;
  vertical-align: top;
  width: 50px;
}
/**
 * INVOICELIST BODY
 */
.invoicelist-body {
  margin: 1rem;
}
.invoicelist-body table {
  width: 100%;
}
.invoicelist-body thead {
  text-align: left;
  border-bottom: 2pt solid #666;
}
.invoicelist-body td,
.invoicelist-body th {
  position: relative;
  padding: 1rem;
}
.invoicelist-body tr:nth-child(even) {
  background: #eef5f9;
}
.invoicelist-body tr:hover .removeRow {
  display: block;
}
.invoicelist-body input {
  display: inline;
  margin: 0;
  border: none;
  width: 80%;
  min-width: 0;
  background: transparent;
  text-align: left;
}
.invoicelist-body .control {
  display: inline-block;
  color: white;
  background: #5873fe;
  padding: 3px 7px;
  font-size: .9rem;
  text-transform: uppercase;
  cursor: pointer;
}
.invoicelist-body .control:hover {
  background: #7188fe;
}
.invoicelist-body .newRow {
  margin: .5rem 0;
  float: left;
}
.invoicelist-body .removeRow {
  display: none;
  position: absolute;
  top: .1rem;
  bottom: .1rem;
  left: -1.3rem;
  font-size: .7rem;
  border-radius: 3px 0 0 3px;
  padding: .5rem;
}
/**
 * INVOICE LIST FOOTER
 */
.invoicelist-footer {
  margin: 1rem;
}
.invoicelist-footer table {
  float: right;
  width: 25%;
}
.invoicelist-footer table td {
  padding: 1rem 2rem 0 1rem;
  text-align: right;
}
.invoicelist-footer table tr:nth-child(2) td {
  padding-top: 0;
}
.invoicelist-footer table #total_price {
  font-size: 2rem;
  color: #5873fe;
}
/**
 * NOTE
 */
.note {
  margin: 75px 15px;
}
.hidenote .note {
  display: none;
}
.note h2 {
  margin: 0;
  font-size: 12px;
  font-weight: bold;
}
.note p {
  font-size: 12px;
  padding: 0px 5px;
}
/**
 * FOOTER
 */
footer {
  display: block;
    margin-top: 1rem;
    padding: 1rem 0 0;
    background-color: #fff;
    box-shadow: 0px 0px 20px #ccc;
    -webkit-transition: margin-left 300ms ease-in-out;
    transition: margin-left 300ms ease-in-out;
    float: left;
    width: 85%;
    position: fixed;
    bottom: 0px;
}
footer p {
  font-size: 12px;
}
/**
 * PRINT STYLE
 */
@media print {
  .header,
  .sidebar,
  .chat-sidebar,
  .control,
  .control-bar {
    display: none !important;
  }
  [contenteditable]:hover,
  [contenteditable]:focus {
    outline: none;
  }
}
#invoice {
  position: relative;
  /*  top: -290px;*/
  margin-bottom: 120px;
  /*  width: 700px;*/
  background: #ffffff;
  padding: 30px;
}
#invoice-table {
  /* Targets all id with 'col-' */
  border-bottom: 1px solid #e7e7e7;
  padding: 30px 0px;
}
#invoice-top {
  min-height: 120px;
}
#invoice-mid {
  min-height: 120px;
}
#invoice-bot {
  min-height: 250px;
}
.invoice-logo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
  background-size: 60px 60px;
}
.clientlogo {
  float: left;
  height: 60px;
  width: 60px;
  background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
  background-size: 60px 60px;
  border-radius: 50px;
}
.invoice-info {
  display: block;
  float: left;
  margin-left: 20px;
}
.invoice-info h2 {
  color: #373757;
  font-size: 14px;
}
.invoice-info p {
  font-size: 12px;
}
.title {
  float: right;
}
.title h4 {
  color: #373757;
  text-align: right;
}
.title p {
  text-align: right;
  font-size: 12px;
}
#project {
  margin-left: 52%;
}
#project p {
  font-size: 12px;
}
#invoice-table h2 {
  font-size: 18px;
}
.tabletitle {
  padding: 5px;
  background: #e7e7e7;
}
.service {
  border: 1px solid #e7e7e7;
}
.table-item {
  width: 50%;
}
.itemtext {
  font-size: .9em;
}
#legalcopy {
  margin-top: 30px;
}
#legalcopy p {
  font-size: 12px;
}
.effect2 {
  position: relative;
}
.effect2:before,
.effect2:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width: 300px;
  background: #777;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}
.effect2:after {
  -webkit-transform: rotate(3deg);
  -moz-transform: rotate(3deg);
  -o-transform: rotate(3deg);
  -ms-transform: rotate(3deg);
  transform: rotate(3deg);
  right: 10px;
  left: auto;
}
.legal {
  width: 70%;
}
/* All Invoice Page Responsive
--------------------------- */
@media (max-width: 480px) {
  .control-bar {
    padding: 15px 15px 40px;
  }
}
@media (max-width: 360px) {
  .notaxrelated {
    margin-top: 15px;
  }
}
/*    Widget One
---------------------------*/
.stat-widget-one .stat-icon {
  vertical-align: top;
}
.stat-widget-one .stat-icon i {
  font-size: 30px;
  border-width: 3px;
  border-style: solid;
  border-radius: 100px;
  padding: 15px;
  font-weight: 900;
  display: inline-block;
}
.stat-widget-one .stat-content {
  margin-left: 30px;
  margin-top: 7px;
}
.stat-widget-one .stat-text {
  font-size: 14px;
  color: #868e96;
}
.stat-widget-one .stat-digit {
  font-size: 24px;
  color: #373757;
}
/*    Widget Two
---------------------------*/
.stat-widget-two {
  text-align: center;
}
.stat-widget-two .stat-digit {
  font-size: 1.75rem;
  font-weight: 500;
  color: #373757;
}
.stat-widget-two .stat-digit i {
  font-size: 18px;
  margin-right: 5px;
}
.stat-widget-two .stat-text {
  font-size: 16px;
  margin-bottom: 5px;
  color: #868e96;
}
.stat-widget-two .progress {
  height: 8px;
  margin-bottom: 0;
  margin-top: 20px;
  box-shadow: none;
}
.stat-widget-two .progress-bar {
  box-shadow: none;
}
/*    Widget Three
---------------------------*/
.stat-widget-three .stat-icon {
  display: inline-block;
  padding: 33px;
  position: absolute;
  line-height: 21px;
}
.stat-widget-three .stat-icon i {
  font-size: 30px;
  color: #ffffff;
}
.stat-widget-three .stat-content {
  text-align: center;
  padding: 15px;
  margin-left: 90px;
}
.stat-widget-three .stat-digit {
  font-size: 30px;
}
.stat-widget-three .stat-text {
  padding-top: 4px;
}
.home-widget-three .stat-icon {
  line-height: 19px;
  padding: 27px;
}
.home-widget-three .stat-digit {
  font-size: 24px;
  font-weight: 300;
  color: #373757;
}
.home-widget-three .stat-content {
  text-align: center;
  margin-left: 60px;
  padding: 13px;
}
.stat-widget-four {
  position: relative;
}
.stat-widget-four .stat-icon {
  display: inline-block;
  position: absolute;
  top: 5px;
}
.stat-widget-four i {
  display: block;
  font-size: 36px;
}
.stat-widget-four .stat-content {
  margin-left: 40px;
  text-align: center;
}
.stat-widget-four .stat-heading {
  font-size: 20px;
}
.stat-widget-five .stat-icon {
  border-radius: 100px;
  display: inline-block;
  position: absolute;
}
.stat-widget-five i {
  border-radius: 100px;
  display: block;
  font-size: 36px;
  padding: 30px;
}
.stat-widget-five .stat-content {
  margin-left: 100px;
  padding: 24px 0;
  position: relative;
  text-align: right;
  vertical-align: middle;
}
.stat-widget-five .stat-heading {
  text-align: right;
  padding-left: 80px;
  font-size: 20px;
  font-weight: 200;
}
.stat-widget-six {
  position: relative;
}
.stat-widget-six .stat-icon {
  display: inline-block;
  position: absolute;
  top: 5px;
}
.stat-widget-six i {
  display: block;
  font-size: 36px;
}
.stat-widget-six .stat-content {
  margin-left: 40px;
  text-align: center;
}
.stat-widget-six .stat-heading {
  font-size: 16px;
  font-weight: 300;
}
.stat-widget-six .stat-text {
  font-size: 12px;
  padding-top: 4px;
}
.stat-widget-seven .stat-heading {
  text-align: center;
}
.stat-widget-seven .gradient-circle {
  text-align: center;
  position: relative;
  margin: 30px auto;
  display: inline-block;
  width: 100%;
}
.stat-widget-seven .gradient-circle i {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  top: 35px;
  font-size: 30px;
}
.stat-widget-seven .stat-footer {
  text-align: center;
  margin-top: 30px;
}
.stat-widget-seven .stat-footer .stat-count {
  padding-left: 5px;
}
.stat-widget-seven .count-header {
  color: #252525;
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
}
.stat-widget-seven .stat-count {
  font-size: 18px;
  font-weight: 400;
  color: #252525;
}
.stat-widget-seven .analytic-arrow {
  position: relative;
}
.stat-widget-seven .analytic-arrow i {
  font-size: 12px;
}
/* Stat widget Eight
--------------------------- */
.stat-widget-eight {
  padding: 15px;
}
.stat-widget-eight .header-title {
  font-size: 20px;
  font-weight: 300;
}
.stat-widget-eight .ti-more-alt {
  color: #878787;
  cursor: pointer;
  left: -5px;
  position: absolute;
  transform: rotate(90deg);
}
.stat-widget-eight .stat-content {
  margin-top: 50px;
}
.stat-widget-eight .stat-content .ti-arrow-up {
  font-size: 30px;
  color: #28a745;
}
.stat-widget-eight .stat-content .stat-digit {
  font-size: 24px;
  font-weight: 300;
  margin-left: 15px;
}
.stat-widget-eight .stat-content .progress-stats {
  color: #aaadb2;
  font-weight: 400;
  position: relative;
  top: 10px;
}
.stat-widget-eight .progress {
  margin-bottom: 0;
  margin-top: 30px;
  height: 7px;
  background: #EAEAEA;
  box-shadow: none;
}
.stat-widget-nine .all-like {
  float: right;
}
.stat-widget-nine .stat-icon i {
  font-size: 22px;
}
.stat-widget-nine .stat-text {
  font-size: 14px;
}
.stat-widget-nine .stat-digit {
  font-size: 14px;
}
.stat-widget-nine .like-count {
  font-size: 30px;
}
.horizontal {
  position: relative;
}
.horizontal:before {
  background: #ffffff;
  bottom: 0;
  content: "";
  height: 38px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  width: 1px;
}
.widget-ten span i {
  color: #ffffff;
  opacity: 0.5;
}
.widget-ten h5 {
  color: #ffffff;
}
.widget-ten p {
  color: #ffffff !important;
  opacity: 0.75;
}
/*
=================================================
    Responsive
=================================================
*/
@media (max-width: 768px) {
  .card {
    display: inline-block;
    width: 100%;
  }
}

.round-widget {
  border: 1px solid red;
  border-radius: 100px;
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-align: center;
  width: 60px;
}
.recent-comment .media {
  border-bottom: 1px solid #e7e7e7;
  padding-bottom: 10px;
  padding-top: 10px;
}
.recent-comment .media-left {
  padding-right: 25px;
}
.recent-comment .media-left img {
  border-radius: 100px;
  width: 40px;
}
.recent-comment .media-body {
  position: relative;
}
.recent-comment .media-body h4 {
  font-size: 16px;
  margin-bottom: 5px;
}
.recent-comment .media-body p {
  margin-bottom: 5px;
  line-height: 16px;
  color: #868e96;
}
.recent-comment .comment-date {
  position: absolute;
  right: 0;
  top: 0;
  color: #373757;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.comment-action {
  float: left;
}
.comment-action .badge {
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
}
.comment-action i {
  padding: 0 5px;
}
.recent-meaasge {
  margin-top: 15px;
}
.recent-meaasge .media {
  border-bottom: 1px solid #e7e7e7;
  padding-top: 10px;
  padding-bottom: 10px;
}
.recent-meaasge .media-left {
  padding-right: 25px;
}
.recent-meaasge .media-left img {
  border-radius: 100px;
}
.recent-meaasge .media-body {
  position: relative;
}
.recent-meaasge .media-body h4 {
  font-size: 16px;
}
.recent-meaasge .media-body p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.meaasge-date {
  float: right;
  color: #373757;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
}

.color-primary,
.text-primary {
  color: #5873fe;
}
.color-success,
.text-success {
  color: #28a745;
}
.color-info,
.text-info {
  color: #03a9f4;
}
.color-danger,
.text-danger {
  color: #dc3545;
}
.color-warning,
.text-warning {
  color: #e7b63a;
}
.color-pink,
.text-pink {
  color: #e6a1f2;
}
.color-dark,
.text-dark {
  color: #545454;
}
.color-grey,
.text-grey {
  color: #ddd;
}
/*    Mixins
--------------------------*/
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
/*    Background Mixins
--------------------------*/
.bg-primary {
  background: #5873fe;
  color: #ffffff;
  fill: #5873fe;
}
.bg-success {
  background: #28a745;
  color: #ffffff;
  fill: #28a745;
}
.bg-info {
  background: #03a9f4;
  color: #ffffff;
  fill: #03a9f4;
}
.bg-danger {
  background: #dc3545;
  color: #ffffff;
  fill: #dc3545;
}
.bg-warning {
  background: #e7b63a;
  color: #ffffff;
  fill: #e7b63a;
}
.bg-pink {
  background: #e6a1f2;
  color: #ffffff;
  fill: #e6a1f2;
}
.bg-dark {
  background: #545454;
  color: #ffffff;
  fill: #545454;
}
.bg-transparent {
  background: transparent;
  color: #252525;
}
.no-select-arrow {
  -moz-appearance: none !important;
  -webkit-appearance: none !important;
  border: 1px solid #e7e7e7;
}
.bg-ash {
  background: #f5f5f5;
}
.bg-white {
  background: #ffffff;
}
/*    Border Mixins
--------------------------*/
.border-primary {
  border-color: #5873fe;
}
.border-success {
  border-color: #28a745;
}
.border-info {
  border-color: #03a9f4;
}
.border-danger {
  border-color: #dc3545;
}
.border-warning {
  border-color: #e7b63a;
}
.border-pink {
  border-color: #e6a1f2;
}
.border-dark {
  border-color: #545454;
}
.no-border {
  border: 0px!important;
}
.border-top {
  border-top: 1px solid #e7e7e7;
}
.border-white {
  border: 1px solid #ffffff;
}
.border-bottom {
  border-bottom: 1px solid #e7e7e7;
}
.border-left {
  border-left: 1px solid #e7e7e7;
}
.border-right {
  border-right: 1px solid #e7e7e7;
}
.white-bottom {
  border-bottom: 1px solid #ffffff;
}
.radius-0 {
  border-radius: 0;
}



@-webkit-keyframes pace-spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes pace-spinner {
  0% {
    -moz-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes pace-spinner {
  0% {
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-ms-keyframes pace-spinner {
  0% {
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes pace-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}



.widget-card-circle i {
  font-size: 30px;
  left: 0;
  line-height: 97px;
  right: 0;
  text-align: center;
}
.widget-line-list li {
  display: inline-block;
  font-size: 1.2em;
  line-height: 27px;
  padding: 5px 20px 0 15px;
}
.widget-line-list li span {
  font-size: 12px;
}
.height-150 {
  height: 150px;
}
.social-connect ul li {
  display: inline-block;
}
.social-connect ul li a {
  display: inline-block;
  margin: 0 5px;
  padding: 12px 15px;
  border-radius: 4px;
}

.social-pad {
  padding: 40px 30px 110px;
}
.round-img img {
  border-radius: 100px;
}

.dashboardlogo img {
    width: 50%;
}
.float-right {
    float: right;
}
.counter {
    border-radius: 22px;
    color: #fff;
    font-size: 10px;
    height: 18px;
    left: 20px;
    line-height: 19px;
    position: absolute;
    text-align: center;
    top: 10px;
    width: 18px;
}
.blue {
    background: #02b5f7 none repeat scroll 0 0;
}
.red {
    background: #ff0000 none repeat scroll 0 0;
}
.headerprflimg img {
    border-radius: 50%;
    height: 35px;
    width: 35px;
    margin-top: 8px;
}
.notificationicons ul{margin-bottom: 0px;}
.notificationicons {
    float: right;
    padding: 10px 0 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.notificationicons .header-icon i {
    color: #353535;
    font-size: 16px;padding-top: 20px;
}
.nano-content li {
    position: relative;
    overflow: hidden;
}
/*
/* Version: 1.0
*/
/*-------- css code for responsive layout  --------*/
/*  To make Responsive
---------------------------------------------------------------------- /
*	1 - media screen and (max-width: 1750px)
*   2 - media screen and (max-width: 1680px)
*   3 - media screen and (max-width: 1280px)
*   4 - media screen and (max-width: 1199px)
*   5 - media screen and (max-width: 1024px)
*   6 - media screen and (max-width: 991px)
*   7 - media screen and (max-width: 767px)
*   8 - media screen and (max-width: 680px)
*   9 - media screen and (max-width: 480px)
*   10 - media screen and (max-width: 320px)
*
---------------------------------------------------------------------- */
/*  1 - media screen and (max-width: 1750px)
---------------------------------------------------------------------- */
/*  1 - media screen and (max-width: 1750px)
---------------------------------------------------------------------- */
/*  1 - media screen and (max-width: 1750px) End
---------------------------------------------------------------------- */
/*  2 - media screen and (max-width: 1680px)
---------------------------------------------------------------------- */
/*  2 - media screen and (max-width: 1680px) End
---------------------------------------------------------------------- */
/*  3 - media screen and (max-width: 1280px)
---------------------------------------------------------------------- */
/*  3 - media screen and (max-width: 1280px) End
---------------------------------------------------------------------- */
/*  4 - media screen and (max-width: 1199px)
---------------------------------------------------------------------- */
/*  4 - media screen and (max-width: 1199px) End
---------------------------------------------------------------------- */
/*  5 - media screen and (max-width: 1024px)
---------------------------------------------------------------------- */
@media (min-width: 992px) and (max-width: 1199px) {
  .title-margin-right {
    margin-right: 7px !important;
  }
  .title-margin-left {
    margin-left: 7px !important;
  }
}
/*  5 - media screen and (max-width: 1024px) End
---------------------------------------------------------------------- */
/*  6 - media screen and (max-width: 991px)
---------------------------------------------------------------------- */
@media (min-width: 768px) and (max-width: 991px) {
  .title-margin-right {
    margin-right: 7px !important;
  }
  .title-margin-left {
    margin-left: 7px !important;
  }
}
/*  6 - media screen and (max-width: 991px) End
---------------------------------------------------------------------- */
/*  7 - media screen and (max-width: 767px)
---------------------------------------------------------------------- */
@media (min-width: 680px) and (max-width: 767px) {
  .title-margin-right {
    margin-right: 7px !important;
  }
  .title-margin-left {
    margin-left: 7px !important;
  }
}
/*  7 - media screen and (max-width: 767px) End
---------------------------------------------------------------------- */
/*  8 - media screen and (max-width: 680px)
---------------------------------------------------------------------- */
@media (min-width: 480px) and (max-width: 679px) {
  .title-margin-right {
    margin-right: 7px !important;
  }
  .title-margin-left {
    margin-left: 7px !important;
  }
  .inbox-pagination {
    margin-top: 30px;
    float: left !important;
  }
  .card-badge .label {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
  }
  .mail-box .sm-side {
    width: 100%;
  }
  .mail-box aside {
    display: inline;
  }
}
/*  8 - media screen and (max-width: 680px) End
---------------------------------------------------------------------- */
/*  9 - media screen and (max-width: 480px)
---------------------------------------------------------------------- */
@media (min-width: 360px) and (max-width: 479px) {
  .title-margin-right {
    margin-right: 7px !important;
  }
  .title-margin-left {
    margin-left: 7px !important;
  }
  #project {
    margin-left: 0%;
  }
  .fc-toolbar .fc-right {
    float: left;
    margin-top: 15px;
  }
  .card-badge .label {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
  }
  .mail-box .sm-side {
    width: 100%;
  }
  .mail-box aside {
    display: inline;
  }
}
/*  9 - media screen and (max-width: 360px) End
---------------------------------------------------------------------- */
/*  10 - media screen and (max-width: 320px)
---------------------------------------------------------------------- */
@media (min-width: 320px) and (max-width: 359px) {
  .title-margin-right {
    margin-right: 7px !important;
  }
  .title-margin-left {
    margin-left: 7px !important;
  }
  #project {
    margin-left: 0%;
  }
  .fc-toolbar .fc-right {
    float: left;
    margin-top: 15px;
  }
  .br-theme-bars-pill .br-widget a {
    padding: 7px 12px;
  }
  .br-theme-bars-reversed .br-widget .br-current-rating {
    padding: 0px;
  }
  .alert-rating {
    padding-bottom: 40px;
  }
  .card-badge .label {
    display: inline-block;
    margin-bottom: 5px;
    padding: 5px;
  }
  .mail-box .sm-side {
    width: 100%;
  }
  .mail-box aside {
    display: inline;
  }
  .chk-group {
    margin-bottom: 10px;
  }
  .pagination-list {
    float: left !important;
    margin-top: 10px;
  }
  .inner-append {
    position: relative;
  }
  .inner-append .append-btn {
    position: absolute;
    right: 0;
    top: 0;
  }
  .input-text {
    margin-bottom: 12px;
  }
}
/*  10 - media screen and (max-width: 320px)
---------------------------------------------------------------------- */
/*---------------------------------------------------------------*/
/* Retina */
/*---------------------------------------------------------------*/
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2/1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
  .default-logo {
    display: none !important;
  }
  .retina-logo {
    display: inline-block !important;
  }
}

/******* parveen/new css***************/

.box_ist h3 {
    font-weight: bold;
    font-size: 26px;
    font-family: lato;
}
.box_ist p {
    font-weight: bold;
    font-size:22px;
    font-family: lato;
}
.order_box{
      padding: 0px 0px 24px 0px;display:flex;
}

.badge {
    padding: 5px 10px;
    font-weight: 400;
    border-radius: 4px;
    background-color: #3c8dbc;
}
.badge.badge-new {
    font-weight: normal;
    position: absolute;
    right: 45px;
    top: 15px;
    background-color: #00a65a;
    font-size: 11px;
}
i.clr {
    font-weight: normal;
    position: absolute;
    right: 45px;
    top: 15px;
}
.badge.dange {
    background-color: #dd4b39;
}
.badge.dangerr {
    background-color: #0073b7;
}
.box i {
    font-size: 57px;
    padding: 10px 0px;
}
.card.redbox {
    background-color: #00ccff;
    color: #fff;
}
.ist_box {
    border: 1px solid #e7e7e7;
    border-radius: 3px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    padding: 20px 10px 10px;
    color: #fff;
    margin: 10px;
  
}
.ist_box img{height: 30px;}

/****topbox clr*****/
.badge.badge-green {
    background-color: #00a65a;
}
.ist_box.clr {
    background-color: #00ccff;
    border-radius: 5px;
    background: linear-gradient(230deg, #759bff, #843cf6);
}
.box_ist {
    width: 100%;
}

.dangerclr {
    background-color: #cc3333;
    border-radius: 5px;
    background: linear-gradient(316deg, #fc5286, #fbaaa2);
}
.greenclr {
    background-color: #009966;
    border-radius: 5px;
    background: linear-gradient(316deg, #0e4cfd, #6a8eff);
}
.warningclr{
    background-color: #009966;
    border-radius: 5px;
    background: linear-gradient(135deg, #ffc480, #ff763b);
}
/****/
.top_box h3 {
    font-size: 36px;
    font-weight: bold;
     font-family: lato;
}
.top_box p {
    font-size: 22px;
    font-family: lato;
    font-weight: bold;
}

.three_box {
    display: flex;
    margin-left: -10px;
}

.ta_imgbox {
    background: #fff;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-top: 3px solid #1B9BD8;
    border-bottom: 1px solid #d8dae1;
    padding-bottom: 30px;
}
.minus {
    color: #666666;
}
a.minus:hover {
    color:#666666;
}
a.minus {
    font-size:18px;
    color: #666666;
    font-family: lato;
}

.button_side {
    width: 100%;
    /*line-height: 15px;*/
}
.button_side h6 {
    font-size: 13px;
    color: #666666;
    padding-right: 10px;
    word-break: break-all;
}
.button_side h5 {
    color: #003366;
    font-size: 17px;
    font-family: lato;
    margin: 0px;
}
.button_side p {
    color: #00ccff;
    font-size: 15px;
    font-family: lato;
}
.button_si p {
    background-color: #f29100;
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
}
.payment_box {
    margin: 0px;
}
.button_sky p {
    background-color: #00c0ef;
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
}
.button_red p {
    background-color: #dd4d3a;
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
}
.button_green p {
    background-color: #00a75c;
    color: #fff;
    font-size: 15px;
    border-radius: 4px;
}


/****2ndbox******/

.red_tab {
    border-top: 3px solid #1B9BD8;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  margin: 10px; 
  border-bottom: 1px solid #d8dae1;
  background: #fff;
}

img.istimg {
    border-radius: 50%;
   width: 60px;height: 60px;
   transition: .9s ease;
}
img.istimg:hover {
    transform: scale(1.07);
}
.img_content{
	padding:0px 0px;
	display: flex;
    flex-wrap: wrap;}
.img_content .custm_cols{padding:4px 0px !important;}
.img_content .small_txt{font-size: 10px !important;}
.img_content h6 {
    text-align: center;
    font-family: lato;
    color: #333333;
    font-size: 14px;
    margin: 0;
}
.img_content p {
    text-align: center;
    font-family: lato;
    color: #666666;  
}
.members {
    background: #333;
    border-color: #333;
    color: #ffffff;
    margin-top: 14px;
    padding: 2px 7px;
    font-size: 11px;
    border-radius: 0;
    font-weight: bold;
    border-radius: 5px;
   /* width: 105px;*/
}
/*.members::after{
      position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 53px solid transparent;
    border-right: 53px solid transparent;
    border-top: 10px solid #fe0101;
        right: 0;
    top: 24px;
}*/
.members:hover,.members:active, .members:focus{background: #333;border-color: #333;}
p.red_box {
    text-align: center;
    color: #093a6b;
    font-size: 14px;
    /*border-top: 1px solid #ecebeb;*/
    padding-top: 5px;
    margin-top:50px;
}
/*******3rdbox**/
.ist_line {
    color: #ff6666;
    font-size: 16px!important;
    font-family: lato;
}
.tab_gray {
  border-bottom: 1px solid #d8dae1;
    border-top: 3px solid #d8dae1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
}
.graphimage {
 
    width: 100%;
}

.navigator_chec {
    
    padding-left: 23px;
}
.slid {
    padding-left: 52px;
}

.dot {
    color: #666;
}
ul.graph {
    margin: 0px;
    }
    .ist_line {
    color: #ff6666;
    font-size: 16px;
    font-family: lato;
}
li.appro_line {
    color: #009966;
    font-size: 16px;
    font-family: lato;
}
li.relese_line {
    color: #0099cc;
    font-size: 16px;
    font-family: lato;
}
.navigator {
    padding: 20px 0px;
    font-size: 13px;
    color: #666666;
    font-family: lato;
    
}
.down_button {
    width: 100%;
}
.clrred i{
   
    color: #ff6666;
    
}
.down_button p {
    color: #666666;
    font-size: 16px;
    font-family: lato;
}
.clickable{
    cursor: pointer;   
}
.clrdf i {
    color: #0099cc;
    font-size: 16px;
}
.clr_yellow i {
    color: #f39e15;
    font-size: 16px;
}
.icon_box {
    padding:43px 16px;
}
p.view_content {
    text-align: center;
    color: #093a6b;
    font-size: 14px;
}
button.btn.btn-primary.button_sky {
    background-color: #00ccff;
    border-color: #00ccff;
}
/*******3rd recived table **********/

.table_box {
   /* border-top: 3px solid #d8dae1;*/
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    /*padding: 13px 0px!important;*/
     margin-top:14px;
     border-bottom: 1px solid #d8dae1;
     background: #fff;
}
.approved {
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
.table_box p {
    font-family: lato;
    font-size: 18px;
    color: #333333;
    padding: 0px 12px;
}
thead th {
    font-size: 13px !important;
    color: #000000;
    font-family: lato;
}
.table>tbody>tr>td {
    font-size: 14px;
}
.table>tbody>tr>td p {
    font-size: 14px;
}
.table_box tr {
    font-family: lato;
    font-size: 16px;
    color: #333333;
}
/**reqestbox*/

.requestbox {
    /*border-top: 3px solid #d8dae1;*/
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    margin-top:24px;
     /*padding: 13px 0px;*/
     border-bottom: 1px solid #d8dae1;
}
.requestbox p {
    font-family: lato;
    font-size: 18px;
    color: #333333;
    padding: 0px 12px;
}
.requestbox th {
    font-size: 16px;
    color: #000000;
    font-family: lato;
}
.requestbox tr {
    font-family: lato;
    font-size: 16px;
    color: #333333;

}

.Ser_Locations {
    border-top: 3px solid #1B9BD8;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    margin-top:24px;
    border-bottom: 1px solid #d8dae1;
    background: #fff;
}
img.mapimg {
    height: 470px;
    width: 100%;
    object-fit: cover;
}
.content_copy {
    padding: 10px 35px 10px 0px;
    overflow: hidden;
}

.copyright p {
    font-family: lato;
    color: #333333;
    font-size: 16px;margin-left: 63px;}
.upper_box {
    margin-top:100px;
    box-shadow: 0px 0px 10px #ccc;
    margin-left:15px;
}
.sidecontent p {
    color: #0099cc;
    font-size: 16px;
    font-family: lato;
    float: right;
}
.sidecontent p a {
    color: #0099cc;
    font-size: 16px;
    font-family: lato;
    float: right;
}
.online {
    padding: 13px 0px;
}
.online_clr {
    margin: 8px;
    font-size: 16px;
    font-family: lato;
    color: #ffff;
}
.online_icon {
    color: #00a65a;
}
.online p {
    color: #ffff;
    font-size: 20px;
    font-family: lato;
}
.rounded {
    padding: 10px 11px;
}

.img-rounded {
   border-radius: 50%;
    height: 50px;
    width: 50px;
}
.sidebar_search .form-group {
    width:92%;
    height:45px;
}
.sidebar i.fa {
    vertical-align: baseline;
     transition: .1s ease;
}
.sidebar i.fa:hover{
    vertical-align: baseline;
    transform: scale(1.09);
}
.effect:hover {
    transform: scale(1.04);
}
.effect {
    transition: .9s ease;
}

/******lock-screen/css/start*********/
.content-set {
  padding: 25px 0px;
    -webkit-transition: margin-left 300ms ease-in-out;
    transition: margin-left 300ms ease-in-out;
    margin-left: 28px;
}
.content-set h3 {
    font-size: 22px;
    color: #222d32;
    font-family: lato;
}
.list_clr {
    color: #a1a0a0;
    font-size: 16px;
    font-family: lato;
}
/***********tabstart**********/
ul.locktab_box li {
    padding: 0px 23px!important;
    font-size: 18px;
}
ul.locktab_box a {
    padding: 26px 0px;
}
.locktab {
    border-bottom: 2px solid #eee;
    box-shadow: 0px 0px 10px #cccc;
}

.locktab_box > li.active > a:hover {
      border-width: 0; }


.locktab_box > li > a {
    font-family: lato;
    border: none;
    color: #323334;
    font-size: 22px;
}


.locktab_box > li.active > a, .lock_box > li > a:hover {
  font-family: lato;
    border: none;
    color: #1fa1d4!important;
    font-size: 22px;
}
.locktab_box > li > a::after {
    content: "";
    background: #434545;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.locktab_box > li:hover > a::after { transform: scale(1); }
.locktab_box > li > a::after { background: #02b5f7 none repeat scroll 0% 0%; color: #fff; }

.tab-pane { padding: 15px 0; }
.tab-content{padding:20px}

.locktab_box {
    border-bottom: #fff;
}
.card_box {
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    margin: 10px;
    border-radius: 4px;
    border-top: 3px solid #1676ac;
    height:auto;
}

.lock_box {
    margin-left: 250px;
    -webkit-transition: margin-left 300ms ease-in-out;
    transition: margin-left 300ms ease-in-out;
}

.clrtable {
    background-color: #ecf0f5;
}
.review {
    width: 20%;
}
/*****profile-box start*******/
.upload p {
    color: #989898;
    font-size: 16px;
    font-family: lato;
}
.upload {
    padding: 20px 48px;
}
.content_anna h3 {
  font-weight: bold;
    color: #666666;
    font-size: 20px;
    font-family: lato;
}


ul.email_content {
    list-style-type: none;
    padding: 0px;
}
.clremail {
    color: #1fa1d4;
    font-size: 17px;
    font-family: lato;
    font-weight: bold;
}
.email_content li {
    padding: 8px 0px;
    font-family: lato;
    color: #222d32;
    font-size: 17px;
}
.email_content p {
    color: #999999;
    font-size: 17px;
    font-family: lato;
}
.edit p {
    color: #141414;
    font-size: 17px;
    font-family: lato;
}
/*****form-start*****/

.change_pswd h3 {
    color: #333333;
    font-size: 24px;
    font-family: lato;
}
.change_pswd {
    padding: 72px 0px;
}
input#paswdname {
    transition: all 0.5s ease;
    padding: 18px 0px;
    font-size: inherit;
    border-radius: 3px;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    background-color: #ecf0f5;
    border: #ecf0f5;
}
.new_pswd {
    font-weight: 500;
    color: #333333;
    font-size: 18px;
    font-family: lato;
}

.icontext {
    width: 220px;
    height: 45px;
    background:transparent;
    border-radius:5px;
}
.text_icon {
   width: 100%;
    border-radius:5px;
  border-color:#374850;
   background:#374850;
    height: 45px;
    cursor: pointer;
    margin: 0 auto;
    -o-text-overflow: clip;
    text-overflow: clip;
  
}
input.form-control.text_icon {
    width: 100%;
}
.inner-addon { 
    position: relative; 
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 20px 0px;
  pointer-events: none;
  color:#BDBDC7;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



.save {
    font-family: lato;
    background-color: #1fa1d4;
    border-color: #1fa1d4;
    font-size: 17px;
    color: #fff;
    padding: 11px;
}
.save:hover {
    font-family: lato;
    background-color: #1fa1d4;
    border-color: #1fa1d4;
    font-size: 17px;
    color: #fff;
}
.save_button {
    padding: 39px 0px;
}
.header.full_box {
    background: #ffffff;
    z-index: 990;
    min-height: 85px;
    margin-left: 0px!important;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    transition: margin-left 300ms ease-in-out 0s;
}

.footer_box{margin-top: 100px;
    box-shadow: 0px 0px 10px #ccc;}

    .copy p {
    font-family: lato;
    color: #333333;
    font-size: 16px;
}
.data p {
    color: #0099cc;
    font-size: 16px;
    font-family: lato;
}

/*******profile-box***********/
#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
}




.circule {
    height: 165px;
    border-radius: 50%;
    text-align: center;
}

.john_box {
    padding: 151px 0px;
}

.text {
    padding: 27px 0px;
}
.text p {
    color: #2a2a2a;
    font-size: 22px;
    font-family: lato;
}

h3.enter {
    text-align: center;
    font-size: 16px;
    color: #2a2a2a;
    font-family: lato;
  
}
p.sky_text {
    font-size: 16px;
    text-align: center;
    color: #1fa1d4;
    font-family: lato;
}
.copy_dot p {
    font-size: 16px;
    color: #333333;
    text-align: center;
    font-family: lato;
}
.copy_dot {
    padding: 30px 0px;
}
/*****service-boxstart*****/
.service_box {
    /*box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);*/
    /*margin: 10px;*/
    /*border-radius: 4px;*/
    /*border-top: 3px solid #1676ac;*/
    height: auto;
}
.heading-name th {
    color: #000000;
    font-size: 18px;
    font-family: lato;
}
.heading-name td {
    color: #666666;
    font-size: 17px;
    font-family: lato;
   
}
.painting {
    font-family: lato;
    font-size: 14px;
    color: #1fa1d4;
    
}
.button_blue:hover {
    background-color: #222d32;
    border-color: #222d32;
    color: #fff;
}
/*.heading-name td{
    color: #666666;
    font-size: 17px;
    font-family: lato;
}*/
.heading-name th { padding: 20px 0px !important;}
.heading-name td { padding: 20px 0px !important;}  

.button_blue { 
    font-size: 18px;
    padding: 12px;
    background-color: #1fa1d4;
    border-color: #1fa1d4;
    color: #fff;
}
.prev_next {
    float: right;
    display: inline-block;
}

.prev_next a {
     color: #38383d;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.prev_next a.active {
    background-color: #2f73b0;
    color: white;
    border: 1px solid #2f73b0;
}

.prev_next a:hover:not(.active) {background-color: #ddd;}

.prev_next a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.prev_next a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

img.round-icon {
    width: 16%;
    border-radius: 76%;
}

/******mailbox/css/start***********/
.top_button {
    display: inline-block;
}

.top_button a {
    border-radius: 4px;
    color: #38383d;
    float: left;
    padding: 3px 10px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.top_button a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.top_button a:hover:not(.active) {background-color: #ddd;}

.isticontext {
    padding: 0px 10px;
    font-size: 20px;
    float: left;
    margin: 0px;
    font-family: lato;
}
.mail-table th {
    color: #000000;
    font-size: 18px;
    font-family: lato;
}
.mail-table td {
    color: #666666;
    font-size: 17px;
    font-family: lato;
}
.sideicon {
    display: inline-block;
    float: right !important;
    margin-right: 42px !important;

}

.sideicon a {
    color: black;
    /*float: left;*/
   padding: 4px 8px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.sideicon a.active {
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
}

.sideicon a:hover:not(.active) {background-color: #ddd;}

.sideicon a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sideicon a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

/**************clientspage************************/
.client-table th {
    font-size: 17px;
    color: #666666;
    font-family: lato;
}
.box-client {
    border: 1px solid #bfbfbf;
}
.client-table i {
    font-size: 25px;
    color: #000;
    margin: 17px;
}
.client-table td {
    font-size: 17px;
    font-family: lato;
    color: #666666;
}
.clientimage{width: 16%;
    border-radius: 100%;}
    td.rkll {
    width: 34%;
}

/**invoice-page-start*/
ul.invoice {
    list-style-type: none;
    padding: 0px;
}
.service_box h3 {
    color: #2a2a2a;
    font-size: 22px;
    font-family: lato;
}
.admin p {
    color: #333;
    font-size: 17px;
    font-family: lato;
}
.admin h4 {
    color: #2a2a2a;
    font-size: 17px;
    font-family: lato;
    font-weight: bold;
}
ul.invoice li {
    padding: 6px 0px;
    color: #333;
    font-size: 17px;
    font-family: lato;
}

.date p {
    font-size: 16px;
    color: #333;
    font-family: lato;
}
.invoice-box {
    padding: 0px 24px;
}

.invoice-name th {
    color: #000000;
    font-size: 18px;
    font-family: lato;
    padding: 24px 17px!important;
}
.invoice-name td {
    color: #333;
    font-size: 17px;
    font-family: lato;
    padding:25px 18px!important;
}
ul.pay-images {
    list-style-type: none;
    padding: 0px;
}
ul.pay-images li {
    padding: 14px 0px;
}

.content-pay p {
    border: 1px solid #ddd;
}
.content-pay {
    padding: 0px 35px;
}
.content-pay p {
    background-color: #f5f5f5;
    padding: 8px;
}
.amount-box td {
    border-top: #fff !important;
}

.amount-box td {
    color: #333;
    font-size: 17px;
    font-family: lato;
}

.button-box {
    padding: 30px 22px;
}
.button-box {
    padding: 86px 22px;
}
.btn-primary.downlod {
    background-color: #3c8dbc;
    border-color: #3c8dbc;
}
.btn-primary.downlod:hover {
    border-color: #127dbb;
    background-color: #127dbb;
}
.btn-primary.sub {
    background-color: #00a65a;
    border-color: #00a65a;
}
.btn-primary.sub:hover {
    border-color: #057441;
    background-color: #057441;
}
.btn.print {
    color: #333;
}
p.datdata {
    float: right;
}
.btn.print:hover{background-color:#c3cace}
.hancebox {
    padding: 34px 0px;
}


/*****orderpage*********/
.yellow {
    color: #fbd436;
}
.order-clr {
    background-color: #ecf0f5;
}
@media (max-width:1024px) {
  .img_content h6 {font-size: 13px;}
}
@media (max-width:768px){
	.ta_imgbox {
    padding-bottom: 0px;
}
  .painting{font-size: 11px!important;} 
  .heading-name td {
    font-size: 13px!important;
} 
.heading-name th {
    font-size: 13px!important;
  
}

}


/**new-css-31jan2019**/
.notifi_dropdown {
    position: absolute;
    width: 100%;
    min-width: 300px;
    top: 65px;
    background: #fff;
    border: 1px solid #eee;
    border-top: 0px;
    padding: 0px;
    z-index: 999;
    right: -5px;
    left: inherit;
}
.notificationicons li a:hover{background: none !important;}
.notifi_dropdown span.notifi_title {
    font-size: 14px;
    float: left;
    width: 100%;
    background: #1B9BD8 !important;
    color: #fff;
    padding: 10px 10px;
    font-weight: 300;
    text-transform: capitalize;
    border-radius: 5px 5px 0px 0px;
}
.notifi_dropdown ul {
    padding: 10px 10px;
    list-style: none;
    float: left;
    width: 100%;
    max-height: 300px;
    overflow-y: scroll;
}
.notifi_dropdown ul li img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}
.notifi_dropdown ul li span {
    /*float: left;*/
   /* width: calc(100% - 50px);*/
   /* padding-left: 10px;
    font-size: 12px;
    overflow: hidden;
	text-overflow: ellipsis;
	height: 50px;
  display: block;*/
}
.notifi_dropdown li {
    border-bottom: 1px solid #eee;
    float: left;
    /*margin-bottom: 10px;*/
    padding-bottom: 10px;
}
.viewall_btn a {
    background: #337ab7;
    color: #fff !important;
    padding: 6px 20px !important;
    font-weight: bold;
    font-size: 14px !important;
}
.viewall_btn a:hover{background: #337ab7 !important;}
.viewall_btn {
    float: right;
}
.notifi_dropdown:before {
    content: "";
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    border-bottom: 15px solid #1B9BD8;
    position: absolute;
    top: -15px;
    right: 10px;
}
li.header-icon.headerprflimg a:hover {
    color: #0f3b5e;
}
li.header-icon.headerprflimg a:focus{background: none;color: #0f3b5e;}
ul.dropdown-menu.profile_dropdown a {
    padding: 7px 1px;
}
.sub-menu.sidebar_submenu {
    padding: 0px 40px;
}
/**new-css-1-MON-2019**/

.media-body, .media-left, .media-right {
    vertical-align: middle;
}
.navbar-collapse .active {
    border-left: 1px solid #1b9bd8;
    background: linear-gradient(to right, #1e282c , #1e282c);
    overflow: hidden;
}
.footer_section {
    overflow: hidden;
}
.viewlink {
    color: #fff !important;
    padding: 0px !important;
    text-decoration: underline;
    float: right;
    font-size: 14px !important;
    text-transform: capitalize;
}
/* chnage alert box text to center aligned pp*/
.alert{
text-align:center !important;
}

.H_ib_body {
background: #222d32 !important;
padding: .3em .5em !important;
border: 1px solid #d6d3d3;
box-shadow: 0px 0px 15px 0 rgb(27, 155, 216);
bottom: 2em !important;
}
svg.H_icon {
fill: #dedada !important;
width: .6em !important;
height: .6em !important;
}
.H_ib_body:after {
display: block;
content: "";
position: absolute;
bottom: -25px;
right: 0px;
-webkit-transform: translateX(-50%);
transform: translateX(-50%);
border: 13px solid transparent;
border-top: 13px solid #222d32;
}
.map-mainhead a {
font-size: 15px;
color: #333;
font-weight: 600;
margin-bottom: 6px;
display: inline-block;
font-family: Lato;
}
.H_ib_close {
font-size: 1.4em !important;
right: .45em !important;
top: .45em !important;
}
.mapbodytext {
font-size: 12px;
color: #fff;
font-weight: 400;
padding: 3px 0px;
font-family: Lato;
}
span.mapheading {
font-size: 14px;
color: #fff;
font-weight: 500;
font-family: Lato;
}
.H_ib_content {
min-width: 13em !important;
}
.mapheading i.fa.fa-star {
color: #dd4b39;
padding: 0px 2px;
}
.mapheading i.fa.fa-star-half-o {
color: #dd4b39;
padding: 0px 2px;
}
.mail-images img {
width: 100%;
height: 80px;
object-fit: fill;
}
.mapbodytext a {
font-size: 14px;
font-family: Lato;
}
.mapphonenumber a {
font-size: 14px;
font-family: Lato;
}
.mapphonenumber {
margin-bottom: 5px;
}
.mapbodyrating {
margin: 5px 0px;
}
.raitingread {
font-size: 14px;
}
#notifications:before {
    border-bottom: 15px solid #1B9BD8;
}
.profile_dropdown li {
    border-bottom: 1px solid #eee;
}
.profile_dropdown:before {
    content: "";
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-bottom: 10px solid #1b9bd8 !important;
    position: absolute;
    top: -10px;
    right: 20px;
    /*left: 50%;
    transform: translateX(-50%);*/
}
.profile_dropdown {
    padding:0px;
    border-radius: 5px;
}
.profile_dropdown .text-left.notifi_title {
    background-color: #1b9bd8;
    color: #1b9bd8;
    display: block;
    padding: 6px 0px;
    text-align: center;
    border-radius: 5px 5px 0px 0px;
}
.notifi_dropdown li:last-child {border:none;}
thead {
    background-color: #1B9BD8;
    color: #fff;
}
thead tr th {
    color: #fff !important;
}
.yelloback {
    margin: 35px 0px 90px 0px;
    overflow: hidden;
}
.table [name="action_request"] {
    background-color: #00ccff;
    border: 1px solid #00ccff; 
    color: #fff;
    border-radius: 2px;
}



/**4feb2019**/
footer{z-index:99;}
.mail-table th {
    border: 0px !important;
}
/*.service_box ul.pagination {
    padding-bottom: 100px;
}*/
.business_settingsec {
    width: 80%;
    margin: auto;
}
.business_settingbg {
    float: left;
    width: 100%;
    box-shadow: 5px 9px 50px 7px #eee;
    padding: 20px 20px;
    margin: 50px 0px 120px;
}
.business_settingtitle h1 {
    color: #02b5f7;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 30px;
    border-bottom: 2px solid #02b5f7;
    display: inline-block;
}
.settingdata label {
    float: left;
    width: 100%;
    font-size: 16px;
}
.settingdata input.form-control {
    box-shadow: none;
    border: 1px solid #ccc;
    height: 45px;
    border-radius: 0px;
}
.browseinputdiv {
    margin-bottom: 20px;
}
.settingdata input.form-control::moz-placeholder{color:#ccc;}
.settingdata input.form-control::webkit-input-placeholder{color:#ccc;}
/*.notificationpage{
background-color: #fff;
    float: left;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
}*/
.notificationhead{
margin:0 0;
padding-bottom: 20px;
float: left;
width:100%
}
.notificationhead h1{
    text-transform: capitalize;
    font-family: lato;
    color: #0E3C5E;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.dash-foot-sec.nfooter{
float: left;
width: 100%;
margin: 0;
}
.notificationbox{
 background-color: #fff;
    float: left;
    width: 100%;
    margin: 0px;
    padding: 30px 20px;
    border-radius: 10px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);   
}  
.crossbtnnoti{
margin: 0;
padding: 0;
float: left;
width: 5%;    
}
.notifidata{
margin: 0;
padding: 0;
float: left;
width: 93%;    
}
.crossbtnnoti span {
    background: #dee5eb;
    /* width: 30px; */
    float: left;
    /* height: 30px; */
    text-align: center;
    border-radius: 5px;
    line-height: 0px;
    padding: 4px;
}
.join {
    
    border: 0;
    font-size: 11px;
    border-radius: 5px;
    font-weight: 600;
    font-family: lato;
   /* height: 25px;*/
    line-height: 13px;
    margin: 3px 0;
    padding:4px 6px;
}
.notifidata span {
    float: right;
    margin: 0;
    padding: 0;
    font-size: 12px;
    color: #a5aeb9;
    font-weight: 500;
        font-family: lato;
        vertical-align: middle;
}
.notifidata span img {
    vertical-align: middle;
    margin-right:10px;
    width: 12px;
}
.notifidata h1{
 margin: 0;
 padding: 0; 
 color: #333;
 font-size: 14px;
 font-weight: 600;
 font-family: lato;
 margin-top: 3px; 
 word-break: break-all;
}  
.notifidata p{
 margin: 0;
 padding:3px 0;
 color: #666;
 font-size: 16px;
 font-weight: 500;
     font-family: lato;  
     text-align: justify; 
} 
.notifidata h3{
 margin: 0;
 padding:5px 0;
 color: #0099cc;
 font-size: 13px;
 font-weight: 600;
     font-family: lato;   
} 
.notiboxline{
 background: #d4dce4;
 border-color: #d4dce4;
 float: left;
 width: 100%;  
 margin:10px 0px;
}
.btn.btn-primary.join.mess{
    background: #ff9900;
}
.btn.btn-primary.join.comm{
    background: #6600cc;
}
.btn.btn-primary.join.conn{
    background: #0099cc;
}
.notifidata label {
    color: #0099cc;
}




@media (min-width:767px){
.column1{width:5%;float:left;}
.column2{width:10%;float:left;}
.column3{width:15%;float:left;}
.column4{width:20%;float:left;}   
.column5{width:25% !important;float:left;}
.column6{width:30%;float:left;}
.column7{width:35%;float:left;}
.column8{width:40%;float:left;}
.column9{width:45%;float:left;}
.column10{width:50%;float:left;}
.column11{width:55%;float:left;}
.column12{width:60%;float:left;}
.column13{width:65%;float:left;}
.column14{width:70%;float:left;}
.column15{width:75%;float:left;}
.column16{width:85%;float:left;}
.column17{width:95%;float:left;}

}
@media (min-width: 768px) and (max-width: 991px) {
  .ist_box{margin:0px 2px;padding: 0px 10px;}
  .icoo_box img {
    width: 50px;
}
.box_ist p{font-size: 15px;}
.three_box{display: block !important;}
.tabimgbox {
    width: 100%;
}

}
@media(max-width: 767px) {
  .content-wrap{margin-left: 0px !important;    float: left;
    width: 100%;}
  .sidebar .navbar-collapse{ background: #333;padding-left: 30px;}
  footer{width: 100%;margin-left: 0px;    position: static;}
  .notificationbox{width: 100%;padding: 15px 10px;}
  .crossbtnnoti{width: 10%;}
.notifidata {
    width: calc(100% - 10%);
    padding-left: 6px;
}
.firstnotification{float: left;width: 100%;}
.notifidata span{float: left;width: 100%;}
.notifidata h1{float: left;width: 100%;}
.notifidata p{float: left;width: 100%;text-align: left;}
.header {margin-top: -36px;padding-top: 15px;box-shadow: 0px 7px 10px -4px #eeeeee14; margin-left: 0;width: 100%;}
.notificationicons {
    float: left;
    padding: 0;display: flex;display: -webkit-flex;justify-content: center;
    -webkit-justify-content: center;
}
.notificationicons ul{padding: 0px;}
.tab_imgbox .latestmember_sec .navbar-nav {
    float: left;
    width: 100%;
    text-align: center;
    margin: 0px !important;
}
.latestmember_sec .navbar-header a {
    width: 100%;
    text-align: center;
}
.tab_imgbox .latestmember_sec .navbar-header {
    float: left;
    width: 100%;margin: 0px;
}
.main.main-content{margin-top: 150px;}
    .order_box{display: block !important;}
    .ist_box{margin: 0px;width: 90%;
    margin: 0px auto 10px !important;}
    .three_box {
    display: block !important;
}
.tab_imgbox .navbar-header{float: left;width: 80%;}
.tab_imgbox .navbar-nav{float: right;width: 20%;}
.tab_imgbox .nav.navbar-nav li {
    float: left;
}
.tab_imgbox .nav.navbar-nav li a{padding: 10px 6px !important;}
.tab_imgbox .navbar-brand{padding: 15px 0px;}
.lock_box {
    margin-left: 0;
}
.service_box {
    margin-top: 150px;
}
.content_box {
    margin-top: 160px;
}
}
@media(max-width: 480px) {
  .category_title {
    width: 100%;
    text-align: center;
}
.createbtn {
    width: 100%;
    margin-bottom: 20px;
}
}

.createbtn {
    text-align: right;
    /*padding-right: 90px;
    padding-top: 15px;*/
}
.tab_imgbox .navbar-nav>li>a {
    padding: 17px 8px;
}
form.navbar-form.sidebar_search {
    padding: 10px 0px;
}
.content_box h3 {
    color: #0E3C5E;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}
ul.header_div {
    padding: 0; 
}
#adminloadnotification {
    padding: 0px;
}
#adminloadnotification li {
    list-style: none;
    padding: 5px;
    float: left;
    width:100%;
    border-bottom: 1px solid #ddd;
}
#adminloadnotification li img {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 30px;
}  
#adminloadnotification li span {
    float: left;
    width: calc(100% - 50px);
    padding-left: 10px;
    font-size: 12px;
    border-bottom: none !important;
}
#adminloadnotification li b {
    float: left;
}
#adminloadnotification li span a {font-size:12px;padding:0px !important;border:none;}
#adminloadnotification li { 
    width: 100%;
}
.business_busness {
    background-color: #fff;
    float: left;
    width: 100%;
    margin: 10px 0px;
    padding: 10px 30px 30px 30px;
    border-radius: 10px;
    box-shadow: 0 0px 20px rgba(0, 0, 0, 0.1);
}
.busnessmar {
    margin-bottom: 15px;
}
.upload-btn-wrapperrr {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor:pointer;
}

.btnbusness {
    border: 1px solid #02b5f7;
    color: gray;
    background-color: white;
    padding: 5px;
    border-radius: 0px;
    font-size: 20px;
    font-weight: bold;
    height: auto;
    width: 100%;
    margin-top: 10px;
    cursor:pointer;
}

.upload-btn-wrapperrr input[type=file] {
  
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  bottom:0;
}
.bunessing {
    height: 100px;
    width: 100px;
    object-fit: fill;
}

/*.btnbusness p {
    padding: 2px 5px;
    position: absolute;
    top: 78%;
    left: 50%;
    transform: translate(-50%, -22%);
    color: #ffffff;
    border: 1px solid;
    font-size: 12px;
    font-weight: bold;
    font-family: Lato;
    background: #02b5f7;
    border-radius: 0px;
}*/
.btnbusness p {
    padding: 2px 5px;
    position: absolute;
    top: 9px;
    right: -2px;
    color: #ffffff;
    border: 1px solid;
    font-size: 12px;
    font-weight: bold;
    font-family: Lato;
    background: #02b5f7;
    border-radius: 0px;
}
.btnbussness .btnbus {
    float: right;
    background: #1b9bd8;
    border: 1px solid #1b9bd8;
    color: #fff;
    padding: 5px 25px;
    font-size: 16px;
    font-family: lato;
    font-weight: bold;
}
.orderservice {
    margin-bottom: 20px;
    position: absolute;
}
/*******custom css 18feb 2019*****/
.button_blue:hover{
  -webkit-box-shadow: 0 8px 25px -8px #4a4a4a !important;
    box-shadow: 0 8px 25px -8px #4a4a4a !important;
}
.view_btn {
    padding: 8px 10px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}
.pt-21{padding: 21px 5px 5px 5px;}
.content_wrapper{
    background: #fff;
    padding: 20px;
    margin: 0 25px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.dropdown-menu.profile_dropdown {
    position: absolute;
    left: inherit;
    right: 0;
    top: 150%;
}
.marbot {
    margin-bottom: 15px;
    position: absolute;
    width:100%;
}
#service_img {
    border: 0px;
    display: inline-block;
    background-color: transparent;
}
.edit_service_img {
    width: 70px;
    object-fit: cover;
    height: auto;
}
table.dataTable thead .sorting {
    background-image: none !important;
}
.seredback {
    background-color: #fff;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 5px;
}
.button_blueblue {
    font-size: 12px;
    padding: 5px 12px;
    background-color: #1fa1d4;
    border-color: #1fa1d4;
    color: #fff;
}
.button_blueblue:hover {
    background-color: #1fa1d4;
    border-color: #1fa1d4;
    color: #fff;
}
.dash_profile {
    display: inline-block;
    cursor: pointer;
}
.dash_profile span {
    background-color: #0E3C5E;
    font-size: 14px;
    padding: 6px 10px;
    display: inline-block;
    color: #fff;
    border-radius: 5px;
    margin-top: 10px;
}
/*******custom css 26feb 2019*****/

.dataTables_wrapper label {
    font-size: 12px;
    font-weight: 600;
    color: #444444;
}
#close_request_wrapper #close_request_length {
    margin-bottom: 10px;
}
.dataTables_wrapper select {
    background: transparent;
    border: 1px solid #ccc;
    font-size: 12px;
    padding: 2px 0px;
    border-radius: 2px;
}
.dataTables_wrapper .dataTables_filter input[type="search"] {
    border: 1px solid #ddd;
    height: 25px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.dataTables_wrapper .dataTables_paginate {
    border: 1px solid #999;
    padding: 0px !important;
    border-radius: 0px;
    margin-top: 20px;
    font-size: 11px;
    font-weight: bold;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: none;
    background-color: transparent;
    background: transparent;
    background: transparent;
    background: transparent;
    background: transparent;
    background: transparent;
    background: transparent;
    border-radius: 0px;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover, .paginate_button.current:active {
    color: #fff !important;
    border: 1px solid #1b9bd8 !important;
    background-color: #1b9bd8 !important;
    background: #1b9bd8 !important;
    background: #1b9bd8 !important;
    background: #1b9bd8 !important;
    background: #1b9bd8 !important;
    background: #1b9bd8 !important;
    background: #1b9bd8 !important;
    border-radius: 0px !important; 
    font-weight: bold !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
    color: white !important;
    border: 1px solid #1b9bd8 !important;
    background-color: #1b9bd8 !important;
    background: #1b9bd8 !important;
    background: #1b9bd8 !important;
    background: #1b9bd8 !important;
    background: #1b9bd8 !important;
    background: #1b9bd8 !important;
    background: #1b9bd8 !important;
    border-radius: 0px !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button.current {
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous.disabled:hover {
    color: #fff !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
    border-left: 1px solid #ccc !important;
    margin: 0px !important
    /*border-right: 1px solid #ccc !important;*/
}
.dataTables_wrapper .dataTables_info {
    clear: both;
    float: left;
    padding-top: 0px !important;
    margin-top: 20px;
}
span.collon {
    padding-right: 10px;
}
.profilehd h3 {
    color: #0E3C5E;
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 2px solid #0E3C5E;
    margin-bottom: 20px;
}
.dataTables_wrapper .dataTables_length {
    display: none;
}
.profilehd h3 span {
    font-size: 11px;
    color: #0E3C5E;
}
.btnmar {
    margin-bottom: 5px;
}
@media screen and (max-width: 991px) {
  .view_btn {
    position: inherit;
    transform: none;
    margin-top: 10px;
  }
} 
@media (min-width: 992px) and (max-width: 1199px) {
  .order_box{display: block;}
  .order_box .ist_box {
    margin: 5px 2px;
    padding: 10px 10px;
    width: 49%;
}
.latestmember_sec a.navbar-brand {
    padding: 15px 0px;
}
.tabimgbox a.navbar-brand{  padding: 15px 0px;font-size: 13px;}
}
@media (min-width: 768px) and (max-width: 991px) {
  .order_box{display: block;}
  .order_box .ist_box {
    margin: 5px 2px;
    padding: 10px 10px;
    width: 49%;
}
.tablediv td.dataTables_empty {
    padding-left: 0 !important;
}
}
@media(max-width: 767px) {
  .tablediv td.dataTables_empty {
    padding-left: 0 !important;
}
}
@media screen and (max-width: 640px) {  
.marbot {
    position: inherit;
}
.orderservice {
    position: inherit;
}
}
.dasicon {
    padding-top: 0px !important;
    width: 25px;
}
.mb-2 {
    margin-bottom: 20px;
}
.adminusr {
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.adusr {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
}
/*#loadnotification li span {
	word-break: break-all;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	height: 50px;
}
#loadnotification li span a {
	font-size: 12px;
}*/
.reorder {
    height: 290px;
    overflow: hidden;
}
.dashboard-cp {
    background: #eceff1 none repeat scroll 0 0;
    border: 8px solid #f7f9f9;
    float: left;
    padding: 30px 30px;
    width: 100%;
}
.btn-primary {
    color: #fff;
    background-color: #3c8dbc !important;
    border-color: #3c8dbc !important;
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus, .btn-primary:visited {
    color: #fff;
    background-color: #3c8dbc !important;
    border-color: #3c8dbc !important;
}
.capttxt {text-transform: capitalize;}
.order_detail {
    margin-bottom: 10px;
    border-bottom: 1px solid #ddd; 
} 
.order_detail .media-body {
    width: 100%;
    float: left;
    display: block !important;
} 
.order_detail .media-body .btn-primary {white-space: normal;}

.nav_nav {
    padding: 15px 0px !important;
}
.imgfree img { 
  width:100%;
  height: 150px;
  object-fit: cover;
}
.table>tbody>tr>td {
  word-break: break-word;
}
@media(max-width: 375px) {
.notifi_dropdown {min-width: 250px;} 
}
.media-body.button_side {
    width: 100%;
    display: block;
}

/*NEW CSS*/
@media(min-width: 1000px) {
.dcmt-pblc .col-sm-3.mb-2 {
    width: 12% !important;
}
.content_box h4 {
    font-size: 11px;
}
.dcmt-pblc img {
    width: 100%;
    height: 95px;
}
.dcmt-pblc .col-sm-12 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.dcmt-pblc .btn {
    padding: 5px;
    font-size: 11px;
}
}
@media only screen and (min-width: 320px) and (max-width: 800px){
.dcmt-pblc .col-sm-3.mb-2 {
    width: 100% !important;
}
}

/*Start........................26-12-2019*/
.providers-profiles {
    background: white;
    width: 12%;
    padding: 6px;
    border-radius: 5px;
}
.m-b {
    margin: 0 0 -38px 0;
}




@media (max-width:320px) {
.media-body.button_side {text-align: center;}
.payment_box h3 { margin: 0 0 0 20px !important;line-height: 3;}
.providers-profiles {background: white;width: 100%;padding: 3%;border-radius: 5px;}
.dataTables_wrapper .dataTables_filter {margin: 0 58% 15px 0px !important;}
.dataTables_wrapper .dataTables_filter input[type="search"] { position: absolute; z-index: 9;width: 52%;padding: 4%;
margin: -5px 0 0 5px;}
table.dataTable, table.dataTable th, table.dataTable td {box-sizing: inherit !important;}

.sidecontent p {margin: 0 12px 0 0 !important;}
 .m-b {margin: 0 0 0px 0;}

.sidebar .nano>.nano-content {position: relative;}

}

@media (min-width:321px) and (max-width:375px) {  
.media-body.button_side {text-align: center;}
.payment_box h3 { margin: 0 0 0 20px !important;line-height: 3;}
.providers-profiles {background: white;width: 100%;padding: 3%;border-radius: 5px;}
.dataTables_wrapper .dataTables_filter {margin: 0 58% 15px 0px !important;}
.dataTables_wrapper .dataTables_filter input[type="search"] { position: absolute; z-index: 9;width: 52%;padding: 4%;
margin: -10px 0 0 5px;}
table.dataTable, table.dataTable th, table.dataTable td {box-sizing: inherit !important;}
.sidecontent p {margin: 0 66px 0 0 !important;}

 .m-b {margin: 0 0 0px 0;}


.sidebar .nano>.nano-content {position: relative;}

}
 
@media (min-width:376px) and (max-width:425px) {  
.media-body.button_side {text-align: center;}
.payment_box h3 { margin: 0 0 0 20px !important;line-height: 3;}
.providers-profiles {background: white;width: 100%;padding: 3%;border-radius: 5px;}
.dataTables_wrapper .dataTables_filter {margin: 0 58% 15px 0px !important;}
.dataTables_wrapper .dataTables_filter input[type="search"] { position: absolute; z-index: 9;width: 52%;padding: 4%;
margin: -10px 0 0 5px;}
table.dataTable, table.dataTable th, table.dataTable td {box-sizing: inherit !important;}

.sidecontent p {margin: 0 75px 0 0 !important;}
.copyright p {  margin-left: 107px !important;}
 .m-b {margin: 0 0 0px 0;}

.sidebar .nano>.nano-content {position: relative;}


}

@media (min-width:426px) and (max-width:768px) {  
.dataTables_wrapper .dataTables_filter input[type="search"] {width: 48%;margin-top: 7px;}
.payment_box h3{font-size: 12px !important;}
table.dataTable, table.dataTable th, table.dataTable td {box-sizing: inherit !important;}

.sidecontent p {margin: 0 75px 0 0 !important;}
.copyright p {  margin-left: 0 !important;}
.content_box h3 { font-size: 18px !important;}
.dataTables_wrapper .dataTables_info { margin-top: 28px !important;}

 .m-b {margin: 0 0 -33px 0;}

}



