
body{overflow-x: hidden;}


/*******contactus page/*****parveen cs**/

.inviteform.dashboardinviteform input.form-control::-moz-placeholder{ 
    color:#323334;
    opacity: 1; 
    font-size:15px;font-family:lato;
}

.inviteform.dashboardinviteform input.form-control::-ms-input-placeholder { 
    color: #323334;font-size:15px;font-family:lato;
}

.inviteform.dashboardinviteform input.form-control::-webkit-input-placeholder { 
    color: #323334;font-size:15px;font-family:lato;
}
.top_div img{
    width:100%;
   }

.content_box h3 {
    color: #444545;
    font-size: 30px;
    font-family: lato;
    font-weight: bold;
}
.content_box p {
    color: #323334;
    font-size: 17px;
    font-family: lato;margin-bottom:40px;
}

button.btn.btn-box {
background-color: #0E3C60;
    box-shadow: 0 0 20px #ccc;
    color: #ffffff;
    font-family: lato;
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 0.8px;
    padding: 12px;
    text-transform: uppercase;
   
}
.form_section {
    padding: 78px 0px;
}

.form-button {
    padding: 10px 0px;
}
.content_map h3 {
    font-size: 30px;
    color: #444545;
    font-family: lato;
    font-weight: bold;
}
.info p {
    color: #444545;
    padding: 2px 0px;
    font-size: 17px;
    font-family: lato;
   
}
.single.contact-info li {
    border-bottom: 1px solid #eee;
    border-color: #cccc;
}

.single.contact-info li:last-child {
    border-bottom: none;}

.single.contact-info {
background: none;
border: none; }
.single.contact-info li {
margin-top: 30px; }

.single.contact-info li .icon {
background-color: #0e3c60;
    border: 3px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 20px #ccc;
    color: #ffffff;
    display: block;
    float: left;
    font-size: 20px;
    height: 50px;
    line-height: 40px;
    margin-right: 10px;
    padding-top: 3px;
    text-align: center;
    width: 50px; }

.single.contact-info li .info {
overflow: hidden; }
.reach_us{text-decoration-style: none;}


/******error page*********/

.styleli li {
    list-style-type: none;
    font-size:20px;
    color: #464646;
  font-family: lato;
   font-style: normal;
}
.sizstyle {
    padding: 10px;
}
.boxx {
    margin: auto;
    padding:63px 0px;
    float: none;
    text-align: center;
}
 
.headingclr {
    text-align: center;
}

.headingclr h3 {
    color: #e0d519;
    font-weight: 700;
    font-size: 153px;
    font-family: lato;
}
.headingclr h2 {
    color: #464646;
    font-size: 46px;
    font-family: lato;
    font-weight: bold;
}
.headingclr p {
    color: #666666;
    font-size: 25px;
    padding: 13px;
}
/***********tabstart**********/
.nav-tabs {
    border-bottom: none;
}
ul.nav.nav-tabs.tabs_box li {
    padding: 15px 20px;
    font-size: 18px;
    transation: .9s ease;
}
ul.nav.nav-tabs.tabs_box a {
    padding: 0px 0px;
    display: inline-block;
}
.bottomnav {
    box-shadow: 4px 4px 13px 0 #eee;
    background-color: #3399cc;
    padding: 2px 0px;
}

.tabs_box.nav-tabs > li.active > a:hover {
      border-width: 0; }


.tabs_box.nav-tabs > li > a {
    border: none;
    font-family: lato;
    color: #ffffff;
    font-size: 18px;
}
.bookmsgsec > h4 {
    color: #444545;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}

.tabs_box.nav-tabs > li.active > a, .tabs_box .nav-tabs > li > a:hover {
    border: none;
    color: #ffffff;
    background: transparent !important;
    cursor:pointer;
}
.tabs_box.nav-tabs > li >a::after {
    content: "";
    background: #ffffff;
    height: 3px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: -1px;
    transition: .6s ease;
    transform: scale(0);
}


    .tabs_box.nav-tabs > li >a.active::after, .tabs_box.nav-tabs > li >a:hover::after { transform: scale(1); }
.tabs_box .tab-nav > li::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.tabs_box .tab-pane { padding: 15px 0; }
.tabs_box .tab-content{padding:20px}
.tabs_box .nav>li>a:focus, .nav>li>a:hover {
    background-color: transparent !important;
    color: #fff;
}
.tabs_box .nav>li {
    transition: .9s ease !important;
}
.tabs_box .nav>li>a {
    transition: .9s ease !important;
}
 .tabs_box.main-box .nav>li:focus, .tabs_box.main-box .nav>li:hover, .tabs_box.main-box .nav>li:active {  
    background-color: rgb(51, 153, 204);
    color: #fff;
}
.tabs_box.main-box {
    text-align: center;
}
.tabs_box.main-box li {
    float: inherit;
    display: inline-block;
}
/*****end****/

/*******boxstart********/
.istbox:last-child {
    padding: 60px 0px;
    background-color: #ffff;
}
.istbox:first-child {
    padding: 40px 0px;
    background-color: #f8f9fa;
}
img.profimg {
    border-radius: 50%;
    width: 180px;
    height: 180px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
}
.profimg-img {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
}
.profile_box p {
    color: #434545;
    font-size: 16px;
    font-family: lato;
}
ul.style-chnage {
     padding: 0px;
}
.text_content {
    padding: 25px 0px;
}
.text_content h3 {
    font-size: 20px;
    color: #434545;
    font-weight: bold;
    font-family: lato;
}
ul.style-chnage span {
    color: #3399cc;
    font-size: 18px;
    font-weight: bold;
}

ul.style-chnage li {
    color: #999999;
    font-size: 18px;
    font-family: lato;
    list-style-type: none;
    padding: 5px 0px;
}
.profile_box {
    /*background-color: #f6f6f6;*/
    /* padding: 10px 0px; */
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
    border-top: 5px solid #3399cc;
}
.box-clr {
    padding:20px 0px;
    position: relative;
}
.topicon{
    position: absolute;
    top: 0;
    right:17px;
}
.box {
    padding: 40px;
    box-shadow: 7px 7px 10px 0 rgba(76, 110, 245, .1);
}
.box span {
    color: #333333;
    font-size: 30px;
    font-weight:bold;
}
.box p {
    color: #666666;
    font-size: 19px;
    margin-bottom: 25px;
    padding-bottom: 20px;
    border-bottom: 5px solid #3399cc;
    border-radius: 0px;
}

ul.right_icon {
    padding: 0px;
    list-style-type: none;
    color: #666666;
    font-family: lato;
}
i.fa.fa-share.ico {
    margin-right: 15px;  
    text-align: center;
    font-size: 29px;
    line-height:64px;
    vertical-align: middle;
    color: #3399cc;
}

ul.right_icon li {
    color: #999999;
    padding: 5px 0px;
    font-size: 18px;
    font-family: lato;
}
ul.right_icon li:hover {
    color:#1da0db;
}
.heading_content h3 {
    color: #333333;
    font-size: 30px;
    font-family: lato;
    font-weight:bold;
}

.heading_content p {
    color: #999999;
    font-size: 18px;
    font-family: lato;
}
.heading_content {
    padding: 26px 0px;
}

/*sidebar babysetter start*/


.baby_box h3 {
    font-size: 20px;
    color: #434545;
    font-family: lato;
}
ul.side_icon {
    list-style-type: none;
    padding: 0px;
}
ul.side_icon li {
    padding: 2px 0px;
    font-family: lato;
   color: #666666;
    font-size: 16px;
}


.invite_box {
    text-align: center;
    padding: 3px 0px;
}
.box_div {
    padding: 0px 0px;
}
img.inviteimg {border-radius: 50%;height:auto;width: auto;float:none;}

.paid h3 {
    color: #333333;
    font-family: lato;
    font-size: 20px;

}
.paid {
    padding: 10px 0px;
}
.sky_clr {
    color: #028eff;
    font-size: 20px;
    font-family: lato;
}
.doler_box h4 {
    font-size: 40px;
    font-weight: bold;
    color: #333;
}
.doler_box p {
    color: #333;
    font-size: 17px;
    font-family: lato;
}
.doler_box {
    padding: 10px 0px;
}


input.form-control.copy_input::placeholder { 
    color:#797777;
    opacity: 1; 
    font-size:15px;font-family:lato;
}

.accounttabs {
    padding: 40px 0px;
    background-color: #f8f9fa;
}
.delete_btn {
    position: relative;
}
.delete_btn i.fa.fa-trash {
    position: absolute;
    left: 0px;
    padding: 5px;
    background-color: #3399cc;
    color: #fff;
    border-radius: 2px;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    border-radius: 100%;
    background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #3399cc;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.closeaccount label {
    margin: 10px 0px;
}
.closeaccount {
    overflow: hidden;
}
#closeaccount .changerolebtn input {
    margin-top: 30px;
}
.closeaccount {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    /* box-shadow: 3px 4px 32px 16px #eee; */
    float: left;
    margin-bottom: 100px;
    margin-top: 50px;
    padding: 50px 50px;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(101, 177, 215, 0.29);
    border-top: 5px solid #3399cc;
}
/****@media******/
@media (max-width:1024px) {
    br {
    display: none;
}
}
@media (max-width:991px) {
img.profimg {
    width: 100%;
    height: auto;}
.text_content {padding: 0px;}
img.inviteimg.inving {width: 100%;}
.accounttabs .nav.nav-tabs li a {font-size: 16px;line-height: 20px;}
.accounttabs .nav.nav-tabs li a span {
    color: #ffffff;
    float: left;
    font-size: 12px;
    width: 100%;
}
.accounttabs .nav.nav-tabs li.active:after {
    border: 20px solid #3399cc;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 10px solid transparent;
    bottom: -26px;
}
}
@media (max-width:768px){

/*img.profimg {width: auto;height: auto;}*/
.text_content {padding: 0px 15px;}
.box-clr {padding: 20px 15px;}
.boxx { padding: 26px 0px;}
ul.styleli {padding: 12px 0px;}
.headingclr p {font-size: 15px;}
.headingclr h2 {font-size: 38px;}
.headingclr p {font-size: 22px;}
.headingclr h3 {font-size: 128px;}
}
@media (max-width:767px){
img.profimg {width: 180px;height: 180px;}
img.inviteimg.inving {width: 200px;}
.accounttabs .nav.nav-tabs li.active:after {display: none;}
form.completionform {padding-top: 35px;padding-bottom: 0px;}
.accounttabs {padding: 50px 0px;}
}
@media (max-width:414px) {.boxx {
    padding: 8px 0px;} 
    .headingclr h3 {font-size: 82px;}
      .headingclr h2 {font-size: 29px;}
       .headingclr p {
    font-size: 13px;
} }
@media (max-width:411px) {
    .boxx {
    padding: 8px 0px;} 
    .headingclr h3 {font-size: 82px;}
      .headingclr h2 {font-size: 29px;}
       .headingclr p {
    font-size: 13px;
} 
}
@media (max-width:375px) {
    .boxx {
    padding: 8px 0px;} 
    .headingclr h3 {font-size: 82px;}
      .headingclr h2 {font-size: 29px;}
       .headingclr p {
    font-size: 12px;
}
}

@media (max-width:360px) {
    .nav-tabs > li > a {font-size: 17px;}
    .boxx {
    padding: 8px 0px;}
    .headingclr h3 {font-size: 88px;}
    .headingclr h2 {font-size: 29px;}
    .headingclr p {
    font-size: 12px;
}
}
@media (max-width:320px) {
 .headingclr h3 {font-size: 68px;} 
 .headingclr p {
    font-size: 12px;
} .headingclr h2 {
    font-size: 26px;
}  
}
img.img-circle {
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -webkit-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -o-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -moz-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    -ms-border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
    box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -o-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 15px 38px 0 rgba(0, 0, 0, 0.2);
}


/**new-css**/
.feedback_listing ul{list-style: none;padding: 0px;}
.feedback_leftdiv i.feedbackicon {
    color: #1B9BD8;
    border: 1px solid;
    width: 60px;
    height: 60px;
    font-size: 30px;
    text-align: center;
    padding-top: 12px;
    border-radius: 90px;
    float: left;
}
.feedback_leftdiv p {
    float: left;line-height: 22px;
    color: #000;
    width: calc(100% - 60px);padding-left: 15px;
}
.feedback_listing h2 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 30px;
}
.feedback_centerdiv img {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 80px;
}
.feedback_centerdiv p {
    color: #000;
    padding-left: 20px;
    float: left;
    width: calc(100% - 70px);
}
.feedback_rightdiv i {
    color: #1B9BD8;
    padding-right: 10px;
}
.feedback_rightdiv p {
    margin-bottom: 4px;
    color: #333;
}
.feedback_listing ul li {
    border: 1px solid #eee;
    padding: 30px 20px;    box-shadow: 3px 5px 23px 0px #eee;
}
.feedback_listing .pagination li{border: 0px;padding: 0px;}
.feedback_listing .pagination{float: right;}
.feedback_listing .pagination a {
    color: #000;
}
#complete_service select {
    border-radius: 0px;
    box-shadow: none;
    height: 45px;
}
#complete_service .nextbtn input {
    width: auto !important;
    float: right;
}
#complete_service .nextbtn {
    padding: 0;
}
.acccompletionsec.profile-accountcomplete li a{text-align: center;}
.serviceseccontent button i{font-size:20px;}

/**new-css-start-6feb**/
.avalability_sec {
    width: 650px;
    margin: auto;
}
.avalability_bg {
    float: left;
    width: 100%;
    box-shadow: 8px 12px 36px 8px #eee;
    margin: 40px 0;
}
.avalability_bg h2 {
    background: #eee;
    margin: 0;
    font-size: 24px;
    font-weight: bold;
    padding: 10px 10px;
    border-bottom: 1px solid #ccc;
}
.avalability_bg p {
    padding: 10px;
    background: #fafafa;
    margin: 10px 20px 30px;
}

.radiodiv {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;line-height: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.radiodiv input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radiodiv .checkmark {
  position: absolute;
  top: 0;
  left: 0;border: 1px solid #ccc;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiodiv:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the radio button is checked, add a blue background */
.radiodiv input:checked ~ .checkmark {
  background-color: #eee;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiodiv .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiodiv input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiodiv .checkmark:after {
    top: 3.5px;
    left: 3.5px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #888;
}
.hours_title h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}

.schedule_timings {
    float: left;margin-bottom: 10px;
    width: 100%;
    display: flex;display: -webkit-flex;
}


.checkbox_div {
  display: block;padding-right: 20px;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;line-height: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;float: left;
    width: 30%;
  user-select: none;margin-top: 8px;
}

/* Hide the browser's default checkbox */
.checkbox_div input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkbox_div .checkmark {
  position: absolute;
  top: 0;
  left: 0;border: 1px solid #ccc;
  height: 17px;
  width: 15px;border-radius: 0;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox_div:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.checkbox_div input:checked ~ .checkmark {
  background-color: #eee;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox_div .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox_div input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox_div .checkmark:after {
  left: 5px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #888;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.schedule_timings input.form-control {
    width: 120px;
    border-radius: 2px;
    box-shadow: none;
    float: left;height: 35px;
}
.schedule_timings i.fa.fa-plus {
    background: #eee;
    width: 30px;height: 35px;
    text-align: center;
    padding-top: 10px;
    border: 1px solid #ccc;
    color: #888;
    margin-left: 5px;
}
.schedule_timings span {
    padding: 0px 8px;
    font-size: 21px;
    float: left;
    width: 30px;
    text-align: center;
}

.available_footer{float: right;
    padding-right: 15px;
    padding-bottom: 20px;
    padding-top: 10px;}
.available_footer button.btn {
    border-radius: 0;
    text-transform: uppercase;
    font-weight: bold;
}
button.btn.savebtn {
    background: #1B9BD8;
    color: #fff;
}
.fieldswrapper {
    margin-top: 10px;
}
.modal-dialog.feedback_modaldiv {
    margin-top: 170px;
}
.feedback_modaldiv h4.modal-title {
    font-weight: bold;
    font-size: 21px;
}
.feedback_modaldiv button.close {
    margin-top: 4px;
}
.feedback_modaldiv .modal-body h3 {
    margin-top: 0;
    font-size: 18px;
    font-weight: bold;
}
.feedback_modaldiv .modal-body h4 {
    color: #333;margin-bottom: 5px;
    font-size: 16px;
}
.rating_stars i {
    float: left;
    color: #999;
    padding-right: 3px;
}
p.rating_stars {
    margin-bottom: 8px;
    margin-top: 2px;
    float: left;
    width: 100%;
}
.feedback_modaldiv textarea.form-control {
    box-shadow: none;
    height: 150px;
}
input.modalsubmit {
    background: #1B9BD8;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: 17px;
    height: 40px;width: 100%;
    font-weight: bold;
    border-radius: 0;
    margin-top: 15px;
}
.feedback_rightdiv a , .feedback_rightdiv a:hover {
    color: #333;
}



@media(max-width: 767px) {
    .avalability_sec{width: 100%;}
    .schedule_timings{display: block;}
    .checkbox_div{width: 100%;}
    .schedule_timings input.form-control{width: 35%;}
}

/**new-css-end-6feb**/

ul#loadnotification li {
    width: 100%;
}

.radiofilter {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 15px;line-height: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;font-weight: normal;
  user-select: none;color: #888;
}

/* Hide the browser's default radio button */
.radiofilter input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.radiofilter .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.radiofilter:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.radiofilter input:checked ~ .checkmark {
    background-color: #fff;
    border: 1px solid #1B9BD8;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiofilter .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.radiofilter input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.radiofilter .checkmark:after {
    top: 3px;
    left: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #1B9BD8;
}
.advertisement_bg {
    background: #eee;
}
.adver_srchfilters {
    background: #fff;
    box-shadow: 4px 8px 41px -4px #ccc;
    padding: 5px 15px 60px;
    float: left;
    width: 100%;
}
.adver_srchfilters h3 {
    font-weight: bold;
    font-size: 18px;
}
label.radiofilter {
    float: left;
    width: 50%;color: #888;
}
.adver_srchfilters .form-group label {
    font-size: 18px;
}
span.rangeValues {
    position: absolute;
    bottom: 0;
    left: 0;
}
.adver_srchfilters section.range-slider input[type="range"]{top: 0px;background: #eee;
box-shadow: none !important;}
.adver_srchfilters section.range-slider{height: 40px;margin-bottom: 10px;}
.srchfilter input#search {
    float: left;height: 35px;border-radius: 5px 0px 0px 5px;
    width: calc(100% - 30px);
}
.srchfilter button {
    float: left;
    width: 30px;
    height: 35px;
    background: #1B9BD8;
    border: 0px;
    color: #fff;
    border-radius: 0px 5px 5px 0px;}
.advertisement_sec {
    margin: 40px 0px;
}
.searchbar {
    background: #fff;
    padding: 30px 20px;
    float: left;
    width: 100%;
}
.searchbar input#searchinput {
  float: left;
    width: calc(100% - 100px);
    height: 35px;
    border-radius: 0px;
    box-shadow: none;
}
.searchbar button {
    float: left;
    width: 100px;
    background: #1B9BD8;
    color: #fff;
    border: 0;
    height: 35px;
    font-weight: bold;
}
.adver_blkbg img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin: auto;
}
.adver_blkbg {
    background: #fff;
    float: left;
}
.adver_img {
    float: left;
    width: 100%;
    text-align: center;
}
.adver_blkleft h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}
.adver_blkright h4 {
    margin: 0;
    text-align: right;
    color: #888;
    font-size: 15px;
}
.adver_blkleft i {
    color: #FFDF00;
    padding-right: 4px;
}
.adver_blkright h2 {
    margin: 4px 0 0 0;
    font-size: 16px;
    text-align: right;
    font-weight: bold;
}
.adver_bottom_bg {
    float: left;
    width: 100%;
    border-top: 1px solid #eee;
    padding-top: 7px;
    margin-top: 10px;
}
.adver_bottom_bg h5 {
    text-transform: uppercase;
    color: #888;
    font-size: 12px;
    margin: 0;
}
.ratingdiv p {
    color: #FFDF00;
    line-height: 12px;
}
.ratingdiv i {
    padding-right: 4px;
}
.schedulebtn a {
    background: #1B9BD8;
    width: 100%;
    float: left;margin-top: 10px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    padding: 6px 0px;
    font-weight: bold;
}
.adver_blkbg {
    background: #fff;width: 100%;
    float: left;padding-top: 20px;
    padding-bottom: 30px;margin-top: 30px;
}
@media (min-width: 768px) and (max-width: 991px) {
    .adver_blk {
    width: 50%;
}
} 
/****notification tabs 18FEB******/
button.join.mess {
background-color: #5cb85c;
border: 1px solid #5cb85c;
color: #fff;
font-size: 12px;
padding: 3px 20px;
border-radius: 40px;
margin-bottom: 10px;
}
.notifidata span {
color: #acbac9;
font-size: 12px;
float: right;
}
.notifidata h1 { 
font-size: 15px;
font-weight: bold;
font-family: lato;
color: #555555;
margin-bottom: 0px;
text-align: left;
}
.notifidata h3 {
font-size: 14px;
font-weight: bold;
font-family: lato;
color: #555555;
margin: 0px;
}

.main_notificationData {
float: left;
width: 100%;
margin-bottom: 0px;
}
.crossbtnnoti {
width: 4%;
float: left;
}
.notifidata {
float: left;
width: 96%;
text-align: left;
}
/*****services page19Feb****/
.pricing_fields h3{margin-top: 5px !important;}
.pricing_fields{padding: 0 15px;}
.pricing_table>tr>th, .pricing_table>tr>td, .pricing_table > tbody > tr > th, .pricing_table > tbody > tr > td{border-bottom: 1px solid #ddd;border-top: none !important;}

/******Footer******/
.site-footer a{color: #aaaaaa;}
.site-footer a:hover{color: #42a5f5;}
/***services page****/
.page_sidebar{box-shadow: 0px 0px 10px #ccc;z-index: 1;}