/*thead tr th {
    text-align: center; 
}
tbody tr td {
    text-align: center;
}*/
/* Force table to not be like tables anymore */
@media (min-width:991px){
.column1{width:5%;float:left;}
.column2{width:10% !important;float:left;padding: 20px 0px !important;}
.column3{width:15% !important;float:left;padding: 20px 0px !important;}
.column4{width:20% !important;float:left;padding: 20px 0px !important;}		
.column5{width:25%;float:left;padding: 20px 0px !important;}
.column6{width:30%;float:left;padding: 20px 0px !important;}
.column7{width:35%;float:left;padding: 20px 0px !important;} 
.column8{width:40%;float:left;padding: 20px 0px !important;}
.column9{width:45%;float:left;padding: 20px 0px !important;}
.column10{width:50%;float:left;padding: 20px 0px !important;}
.column11{width:55%;float:left;}
.column12{width:60%;float:left;}
.column13{width:65%;float:left;}
.column14{width:70%;float:left;}  
.column15{width:75%;float:left;}
.column16{width:85%;float:left;}
.column17{width:95%;float:left;}

}
@media (min-width: 768px) and (max-width: 991px) {
		.tablesection.tablediv thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.tablesection.tablediv tr { border: 1px solid #ccc; }
	
	.tablesection.tablediv td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;float: left;width: 100%;
		padding-left: 50% !important; 
	}
	
	.tablesection.tablediv td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;font-weight: bold;
		padding-right: 10px; 
		white-space: nowrap;
	}
	.tablesection.tablediv tr {
    border: 1px solid #ccc;
}
.tablesection.tablediv table{border: 0px !important;}
.tabledata {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
/**closereq_table-start***/
	.closereq_table td:nth-of-type(1):before { content: "Sr No."; }
	.closereq_table td:nth-of-type(2):before { content: "Name/Email"; }
	.closereq_table td:nth-of-type(3):before { content: "Reason"; }
	.closereq_table td:nth-of-type(4):before { content: "Phone"; }
	.closereq_table td:nth-of-type(5):before { content: "Address"; }
	.closereq_table td:nth-of-type(6):before { content: "Status"; }
	/**closereq_table-end**/



}
@media (max-width:991px){

	
	/* Hide table headers (but not display: none;, for accessibility) */
	.tablediv thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	.tablediv tr { border: 1px solid #ccc; }
	
	.tablediv td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;float: left;width: 100%;
       padding-left: 46% !important;
	}
	
	.tablediv td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;font-weight: bold;
		padding-right: 10px; 
		white-space: nowrap;
	}
	.tablediv tr {
    border: 1px solid #ccc;
}
.tablediv table{border: 0px !important;}
.tabledata {
    margin-bottom: 20px;
    float: left;
    width: 100%;
}
	/*
	Label the data
	*/
	/**dashboard_table1-start***/
	.dashboard_table1 td:nth-of-type(1):before { content: "ID"; }
	.dashboard_table1 td:nth-of-type(2):before { content: "User"; }
	.dashboard_table1 td:nth-of-type(3):before { content: "Data"; }
	.dashboard_table1 td:nth-of-type(4):before { content: "Status"; }
	.dashboard_table1 td:nth-of-type(5):before { content: "Reason"; }
	.dashboard_table1 td:nth-of-type(6):before { content: "Amount"; }
	/**dashboard_table1-end**/

	/**dashboard_table1-start***/
	.dashboard_table2 td:nth-of-type(1):before { content: "ID"; }
	.dashboard_table2 td:nth-of-type(2):before { content: "User"; }
	.dashboard_table2 td:nth-of-type(3):before { content: "Data"; }
	.dashboard_table2 td:nth-of-type(4):before { content: "Status"; }
	.dashboard_table2 td:nth-of-type(5):before { content: "Reason"; }
	.dashboard_table2 td:nth-of-type(6):before { content: "Amount"; }
	/**dashboard_table1-end**/

	/**closereq_table-start***/
	.closereq_table td:nth-of-type(1):before { content: "Sr No."; }
	.closereq_table td:nth-of-type(2):before { content: "Name/Email"; }
	.closereq_table td:nth-of-type(3):before { content: "Reason"; }
	.closereq_table td:nth-of-type(4):before { content: "Phone"; }
	.closereq_table td:nth-of-type(5):before { content: "Address"; }
	.closereq_table td:nth-of-type(6):before { content: "Status"; }
	/**closereq_table-end**/
	
		/**feedbk_table-start***/
	.feedbk_table td:nth-of-type(1):before { content: "Order Name"; }
	.feedbk_table td:nth-of-type(2):before { content: "Taker Name"; }
	.feedbk_table td:nth-of-type(3):before { content: "Taker Email"; }
	.feedbk_table td:nth-of-type(4):before { content: "Provider Name"; }
	.feedbk_table td:nth-of-type(5):before { content: "Provider Email"; }
	.feedbk_table td:nth-of-type(6):before { content: "Message"; }
	.feedbk_table td:nth-of-type(7):before { content: "Rating"; }
	.feedbk_table td:nth-of-type(8):before { content: "Action"; }
	/**feedbk_table-end**/

		/**orders_table-start***/
	.orders_table td:nth-of-type(1):before { content: "Service Name	"; }
	.orders_table td:nth-of-type(2):before { content: "Subcategory"; }
	.orders_table td:nth-of-type(3):before { content: "Booked By"; }
	.orders_table td:nth-of-type(4):before { content: "Email"; }
	.orders_table td:nth-of-type(5):before { content: "Provider Name"; }
	.orders_table td:nth-of-type(6):before { content: "Provider Email"; }
	.orders_table td:nth-of-type(7):before { content: "Booking Date"; }
	.orders_table td:nth-of-type(8):before { content: "Request Date"; }
	.orders_table td:nth-of-type(9):before { content: "Amount"; }
	.orders_table td:nth-of-type(10):before { content: "Booking Status"; }
	/**orders_table-end**/
	
	/**bclosereq_table-start***/
	.bclosereq_table td:nth-of-type(1):before { content: "Sr No."; }
	.bclosereq_table td:nth-of-type(2):before { content: "Report By"; }
	.bclosereq_table td:nth-of-type(3):before { content: "Report To"; }
	.bclosereq_table td:nth-of-type(4):before { content: "Reason"; }
	.bclosereq_table td:nth-of-type(5):before { content: "Status"; }
	/**bclosereq_table-end**/
	
	/**pusers_table-start***/
	.puserstable td:nth-of-type(1):before { content: "Name"; }
	.puserstable td:nth-of-type(2):before { content: "Email"; }
	.puserstable td:nth-of-type(3):before { content: "Access"; }
	.puserstable td:nth-of-type(4):before { content: "Category"; }
	.puserstable td:nth-of-type(5):before { content: "Sub-Category"; }
	.puserstable td:nth-of-type(6):before { content: "Phone"; }
	.puserstable td:nth-of-type(7):before { content: "Address"; }
	.puserstable td:nth-of-type(8):before { content: "CEP"; }
	.puserstable td:nth-of-type(9):before { content: "Action"; }
	/**pusers_table-end**/
    
    /**tusers_table-start***/
	.tuserstable td:nth-of-type(1):before { content: "Name"; }
	.tuserstable td:nth-of-type(2):before { content: "Email"; }
	.tuserstable td:nth-of-type(3):before { content: "Registration date"; }
	.tuserstable td:nth-of-type(4):before { content: "Access"; }
	.tuserstable td:nth-of-type(5):before { content: "Phone"; }
	.tuserstable td:nth-of-type(6):before { content: "Address"; }
	.tuserstable td:nth-of-type(7):before { content: "Action"; }
	/**tusers_table-end**/
	
	/**iusers_table-start***/
	.iuserstable td:nth-of-type(1):before { content: "Name"; }
	.iuserstable td:nth-of-type(2):before { content: "Email"; }
	.iuserstable td:nth-of-type(3):before { content: "Type"; }
	.iuserstable td:nth-of-type(4):before { content: "Phone"; }
	.iuserstable td:nth-of-type(5):before { content: "Address"; }
	.iuserstable td:nth-of-type(6):before { content: "Email Count"; }
	.iuserstable td:nth-of-type(7):before { content: "Date"; }
	.iuserstable td:nth-of-type(8):before { content: "Action"; }
	/**iusers_table-end**/
	
		/**users_table-start***/
	.userstable td:nth-of-type(1):before { content: "Sr No."; }
	.userstable td:nth-of-type(2):before { content: "Name/Email"; }
	.userstable td:nth-of-type(3):before { content: "Role"; }
	.userstable td:nth-of-type(4):before { content: "Category"; }
	.userstable td:nth-of-type(5):before { content: "Phone"; }
	.userstable td:nth-of-type(6):before { content: "Address"; }
	.userstable td:nth-of-type(7):before { content: "Address Approve"; }
	.userstable td:nth-of-type(8):before { content: "Action"; }
	/**orders_table-end**/

		/**category_table-start***/
	.category_table td:nth-of-type(1):before { content: "S.no"; }
	.category_table td:nth-of-type(2):before { content: "Image"; }
	.category_table td:nth-of-type(3):before { content: "Name"; }
	.category_table td:nth-of-type(4):before { content: "Action"; }
	/**category_table-end***/

	/**service_table-start***/
	.service_table td:nth-of-type(1):before { content: "Sr No"; }
	.service_table td:nth-of-type(2):before { content: "Image"; }
	.service_table td:nth-of-type(3):before { content: "Name"; }
	.service_table td:nth-of-type(4):before { content: "Description"; }
	.service_table td:nth-of-type(5):before { content: "Status"; }
	.service_table td:nth-of-type(6):before { content: "Action"; }
	/**service_table-end***/
/**invite_table-start***/
	.invite_table td:nth-of-type(1):before { content: "Invited By"; }
	.invite_table td:nth-of-type(2):before { content: "Total No. of Invitation Sent"; }
	.invite_table td:nth-of-type(3):before { content: "Total Earning"; }
	.invite_table td:nth-of-type(4):before { content: "Phone"; }
	.invite_table td:nth-of-type(5):before { content: "Location"; }
	.invite_table td:nth-of-type(6):before { content: "Status"; }
	/**invite_table-end**/

}

.tablediv table {
    width: 100%; border: 1px solid #bfbfbf;border-radius: 4px; margin-bottom: 0px;
}
.tablediv .tableheader th {
    background: #444545 none repeat scroll 0 0;
    border: 0 none;
    color: #f5e812;
    font-size: 20px;font-weight: normal;
    padding: 20px 10px;
}
.tabledata .username img {
    border-radius: 40px;
    float: left;
    width: 60px;
}

.tablediv .table-striped > tbody > tr:nth-of-type(2n+1) {
    background-color: #f6f6f6;
}
