ul.dropdown-menu.mega-dropdown-menu.droplist{left:-5rem;padding:0 0}ul.dropdown-menu.mega-dropdown-menu.droplist li a{padding:8px}.loginbtn a{font-size:16px;margin-top:5px}img.logimg{width:25px;height:25px;border-radius:30px;margin-right:5px}