/**404-error-page-start**/
.errormsg_content {
    margin-top: 5%;
}
.errorpage_content {
    margin-top: 2%;
}
.innercontentpart {
    background: url('../../public/images/main_image_erro.jpg');
        background-repeat: repeat;
        background-size: auto auto;
    background-repeat: repeat;
    background-size: auto auto;
    background-repeat: no-repeat;
    background-size: cover;
}
.error_page {
    padding: 70px 0;height: 100vh;
}
.errorpage_content {
    text-align: center;padding: 0px 80px;
}
.errorpage_content .logo {
    color: #fff;
    font-family: Poppins;
    font-size: 60px;
    font-weight: bold;
}
.innercontent_text .error_msg h1 {
    color: #1B9BD8;
    font-size: 160px;
    margin: 0;
}
.error_msg h2 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
}
.error_msg h3 {
    color: #fff;
    font-size: 20px;
    margin: 10px 0 80px;
}
.error_msg > a {
    background: #4c4c4b none repeat scroll 0 0;
    color: #fff;
    font-family: Poppins;
    padding: 12px 30px;
    text-transform: capitalize;
}
.error_msg {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    margin: auto;
    padding: 40px 0;
    width: 700px;
}
/**404-error-page-end**/

/**errormsg**/
.error_msg_page {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;float: left;width: 100%;padding: 40px 0px;color: #fff;
}
.errormsg_content {
    text-align: center;padding: 0px 80px;
}
.errormsg_content .logo {
    color: #fff;
    font-family: Poppins;
    font-size: 60px;
    font-weight: bold;
}
.error_list li {
    font-size: 15px;
    text-align: left;float: left;padding-bottom: 10px;
}
.error_list ul {
    height: 300px;
    overflow-y: scroll;
}
.errormsg_div h1 {
    font-family: Poppins;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
    color: #a50406 !important;
}
.errormsg_div i {
    color: #a50406;
    margin-right: 20px;
}
.errormsg_div h2 {
    color: #fff;
    font-size: 25px;
}
.errormsg_div h3 {
    font-size: 20px;
}
.errormsg_div > a {
    color: #fff;
    font-family: Poppins;
    font-size: 20px;
    text-decoration: underline;
}
.errormsg_div {
    padding-top: 50px;
}