body{margin: 0px;padding: 0px;font-family: DejaVuSans,Lato;color: #919191;}
a:focus , a:hover{outline:0;text-decoration: none;}
a {
    color: #42a5f5;
}
@font-face {
font-family:"DejaVuSans";
src:url("../fonts/DejaVuSans.ttf");
}
@font-face {
font-family:"DejaVuSans-Bold";
src:url("../fonts/DejaVuSans-Bold.ttf");
}
.centered{float: none;margin: auto;}
.leftheader > ul {
    list-style: outside none none;
    padding: 0;margin: 0px;
}
.leftheader li {
    border-right: 1px solid #fff;
    display: inline;
    padding: 0 40px;
}
.leftheader li:first-child{padding-left: 0px;}
.leftheader li:last-child{border-right: 0px;}
.top_header {
    background: #696969 none repeat scroll 0 0; padding: 10px 0;
}
.leftheader a {
    color: #fff;
    font-family: DejaVuSans;
}
.leftheader a b{font-family:"DejaVuSans-Bold";}
.rightheader ul li {
    display: inline;padding: 0 2px;
}
.rightheader ul{margin: 0px;padding:0px;}
.rightheader span{color: #fff;font-family:"DejaVuSans-Bold"; padding-right: 10px;}
.rightheader li a i {
    color: #fff;
    font-size: 20px;
}
nav.navigationbar {
    background: #444545 none repeat scroll 0 0;
    border: 0 none;
    border-radius: 0;
    box-shadow: none;margin-bottom: 0px;
}
.navbar-default.navigationbar li a {
    color: #fff;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    padding-bottom: 25px;
    padding-top: 25px;
}
.navbar-default.navigationbar li a:hover , .navbar-default.navigationbar li a:focus{background: #F5E812;color: #000;}
.navigationbar ul {
    margin-right: 0;
}
.nopadding{padding:0px;}
.logodiv{padding: 20px 15px;}
.loginbtn a {
    color: #f5e812;
    float: left;
    font-family: Roboto;
    font-size: 19px;
    padding-top: 20px;
    width: 100%;
}
.loginbtn a i {
    padding-right: 10px;
}
.site-footer {
    background: rgba(0, 0, 0, 0) url("../images/footerbg.jpg") no-repeat fixed center center / cover ;
    font-family: open sans;float: left;width: 100%;
}
.tg-features li {
    float: left;
    line-height: inherit;
    list-style-type: none;
    padding: 0 1px;
    width: 33.33%;
}
.tg-feature {
    background: #333 none repeat scroll 0 0;
    border-radius: 3px;
    float: left;
    padding: 20px 26px;
    width: 100%;
}
.tg-features {
    color: #919191;
    float: left;
    font-size: 13px;
    line-height: 16px;
    list-style: outside none none;
    padding: 60px 0;
    width: 100%;
}
.tg-featureicon {
    border-radius: 50%;
    float: left;
    height: 60px;
    line-height: 60px;
    overflow: hidden;
    text-align: center;
    width: 60px;
}
.tg-featureicon.pinkicon{background: #ec407a;}
.tg-featureicon.blueicon{background: #42a5f5;}
.tg-featureicon.greenicon{background: #66bb6a;}

.tg-featureicon i {
    color: #fff;
    display: block;
    font-size: 30px;
    line-height: inherit;
}
.tg-featurecontent {
    overflow: hidden;
    padding: 11px 0 10px 10px;
}
.tg-features li:nth-child(1) .tg-featurecontent h3 {
    color: #ec407a;
}
.tg-features li:nth-child(2) .tg-featurecontent h3 {
    color: #42a5f5;
}
.tg-features li:nth-child(3) .tg-featurecontent h3 {
    color: #66bb6a;
}
.tg-featurecontent h3 {
    font-size: 18px;
    line-height: 18px;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.tg-featurecontent span {
    display: block;
    overflow: hidden;
    padding: 5px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.tg-footercolumn .tg-description {
    padding: 0 0 30px;
}
.tg-description {
    float: left;
    width: 100%;
}
.tg-footercolumn .tg-description p {
    margin: 0;
}
.tg-description a:hover{color: #42a5f5;}
.tg-contactinfo li i {
    width: 25px;
}
footer .tg-logo {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}
.tg-contactinfo {
    float: left;margin-bottom: 0px;
    list-style: outside none none;
    width: 100%;padding-left: 0px;
}
.tg-contactinfo li i {
    float: left;
    padding-top: 3px;
    width: 25px;
}
.tg-contactinfo address {
    margin-bottom: 0;
}
.tg-contactinfo > li {
    padding-bottom: 10px;
}
.tg-socialicons li a i {
    color: #fff;
    display: block;
    font-size: 13px;
    line-height: 30px;
    text-align: center;
    width: 30px;
}
.tg-socialicons li a {
    background: #000 none repeat scroll 0 0;
    border-radius: 30px;
    color: #fff;
    display: block;
    height: 30px;
    line-height: 30px;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-transform: capitalize;
    width: 30px;
}
.tg-footercolumn .tg-socialicons {
    float: left;
    padding: 20px 0 0;
    width: 100%;
}
.tg-socialicons li {
    float: left;
    line-height: inherit;
    list-style-type: none;
    padding: 0 4px;
}
.tg-socialicons li.tg-facebook a{background: #3B5999;}
.tg-socialicons li.tg-twitter a{background: #55ACEE;}
.tg-socialicons li.tg-linkedin a{background: #0077B5;}
.tg-socialicons li.tg-googleplus a{background: #DD4B39;}
.tg-socialicons li.tg-rss a{background: #FF6600;}
.tg-fourcolumns .tg-footercolumn {
    padding: 0 0 60px;
}
.tg-widgettitle {
    border-bottom: 1px solid #ddd;
    float: left;
    margin: 0 0 20px;
    padding: 0 20px 20px;
    position: relative;
    width: 100%;
}
.tg-footercolumn .tg-widgettitle h3 {
    color: #aaa;
}
.tg-footercolumn .tg-widgetcontent {
    padding: 0;
}
.tg-widgetcontent ul {
    float: left;
    font-size: 13px;
    line-height: 16px;
    list-style: outside none none;
    width: 100%;
}
.tg-widgettwitter .tg-widgetcontent ul li {
    padding: 0 0 0 25px;
    position: relative;
}
.tg-widgettitle h3 {
    color: #333;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 100;
    line-height: 18px;
    margin: 0;
}
.tg-widgetcontent ul {
    float: left;padding: 0px;
    font-size: 13px;
    line-height: 16px;
    list-style: outside none none;
    width: 100%;
}
.tg-widgettwitter .tg-widgetcontent ul li::before {
    content: "";
    font-family: "FontAwesome";
    font-size: 12px;
    left: 0;
    line-height: 10px;
    position: absolute;
    top: 7px;
}
.tg-widgettwitter .tg-widgetcontent ul li .tg-description {
    padding: 0;
}
.tg-widgettwitter .tg-widgetcontent ul li:last-child::before {
    display: none;
}
.tg-widgettwitter .tg-widgetcontent ul li {
    padding: 0 0 0 25px; line-height: 20px;
    position: relative;
}
.tg-widgetcontent > ul > li {
    float: left;
    width: 100%;
}
.tg-widgettwitter .tg-widgetcontent ul li a {
    display: block;
    margin: 5px 0;
}
.tg-widgettwitter .tg-widgetcontent ul li + li {
    margin: 30px 0 0;
}
.tg-widgetusefullinks .tg-widgetcontent ul li {
    padding: 0 0 8px;
    width: 50%;
}
.tg-widgetusefullinks .tg-widgetcontent ul li a::before {
    content: "\f105";
    font-family: "fontawesome";
    font-size: 15px;
    left: 0;
    line-height: inherit;
    position: absolute;
    top: 0;
}
.tg-widgetcontent ul li a {
    color: #aaa;
    float: left;
    line-height: 16px;
    position: relative;
}
.tg-widgetusefullinks .tg-widgetcontent ul li a {
    padding: 0 0 0 15px;
}
footer.site-footer .viewlink a{color: #42a5f5;}
.tg-widgetfreeinspection ul li figure {
    background: #fff none repeat scroll 0 0;
    border-radius: 50%;
    float: left;
    height: 40px;
    margin: 0 10px 0 0;
    width: 40px;
}
.tg-widgetcontent img {
    width: 40px;
}
.tg-widgetfreeinspection .tg-contentbox {
    float: none;
    overflow: hidden;
    padding: 2px 0;
    width: auto;
}
.tg-widgetfreeinspection .tg-contentbox h4 {
    float: left;
    font-size: 14px;
    line-height: 17px;
    margin: 0 0 4px;
    width: 100%;
}
.tg-widgetfreeinspection .tg-contentbox .tg-matadata {
    margin: 0;
}
.tg-stars span::after, .tg-stars::before {
    color: rgba(218, 218, 218, 0.8);
    content: "";
    font-family: "FontAwesome";
    font-size: 16px;
    left: 0;
    letter-spacing: 4px;
    line-height: 16px;
    position: absolute;
    top: 0;
}
.tg-matadata li .tg-stars {
    width: 80px;
}
.tg-matadata li .tg-stars, .tg-matadata li .tg-stars span::after, .tg-matadata li .tg-stars::before {
    font-size: 13px;
    height: 13px;
    line-height: 13px;
}
.tg-stars span, .tg-stars {
    float: left;
    height: 16px;
    line-height: 16px;
    position: relative;
    width: 100px;
}
.tg-stars span::after {
    color: #fdd003;
}
.tg-widgetfreeinspection .tg-widgetcontent > ul > li + li {
    padding: 30px 0 0;
}
.tg-matadata li + li::before {
    content: "/";
    font-size: 13px;
    left: -2px;
    line-height: 16px;
    position: absolute;
    top: 0;
}
.tg-matadata li {
    float: left;
    line-height: inherit;
    list-style-type: none;
    padding: 0 10px;
    position: relative;
}
.tg-widgetfreeinspection .tg-contentbox .tg-matadata li:first-child {
    padding-left: 0;
}
.tg-widgetfreeinspection .tg-contentbox .tg-matadata li {
    padding: 0 5px;
    width: auto;
}
.tg-widgetcontent time {
    float: left;
    width: 100%;
}
a, a:hover, a:focus, a:active, p a, p a:hover, .tg-features li:nth-child(2) .tg-featurecontent h3, .tg-widgettwitter .tg-widgetcontent ul li a, .tg-widgetfreeinspection ul li:last-child a, .tg-breadcrumb li a, .tg-matadata li a:hover, .alert-info strong, .tg-btnaddservices, .tg-weatherarea i {
    color: #42a5f5;
}
.formbg {
    background: #eceff1 none repeat scroll 0 0;
    border: 8px solid #f7f9f9;
    float: left;
    margin: 60px 0;
    padding: 70px 30px;
    width: 100%;
}
.formarea h2 {
    color: #323334;margin-top:0px;
    font-family: Lato;
}
.formarea p {
    color: #323334;
    font-family: Lato;
    font-size: 16px;
    margin-bottom: 40px;
}
.formarea .forminput > input {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    border-radius: 5px;font-family: Lato;
    font-size: 16px;
    height: 50px;color: #323334;
    width: 100%;padding: 0 10px;
}
.formarea .forminput > input::-moz-placeholder {
    color: #323334;
    font-family: Lato;
    font-size: 16px;
    opacity: 1;
}
.formarea .forminput > input::-webkit-placeholder {
    color: #323334;
    font-family: Lato;
    font-size: 16px;
    opacity: 1;
}
.formarea .forminput > input::placeholder {
    color: #323334;
    font-family: Lato;
    font-size: 16px;
    opacity: 1;
}
.buttondiv input.btn {
    background: #323334 none repeat scroll 0 0;
    color: #f5e812;
    font-family: Lato;
    font-size: 24px;
    padding: 12px 0;height: 60px;
    width: 100%;
}
.buttondiv input.btn:hover{background: #f5e812;color: #323334;}
.buttondiv {
    margin-top: 30px;
}
.formlink > span {
    color: #323334;
    font-family: Lato;
    font-size: 17px;
}
.formlink {
    text-align: center;margin-top: 30px;
}
.formlink > a {
    color: #105eac;
    font-family: Lato;
    font-size: 17px;
}
.formlink > a:hover{color: #323334;}
/**checkbox-css**/
.checkboxdiv {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkboxdiv input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkboxdiv .checkmark {
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 7px;
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px;
}

/* On mouse-over, add a grey background color */
.checkboxdiv:hover input ~ .checkmark {
    background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.checkboxdiv input:checked ~ .checkmark {
    background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkboxdiv .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkboxdiv input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.checkboxdiv .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid #323334;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.checkboxdiv .checkmark:hover {
    background: transparent none repeat scroll 0 0 !important;
}
label.checkboxdiv {
    color: #323334;
    font-family: Lato;
    font-size: 16px;
    font-weight: 200;
}
/**checkbox-end**/

.forminput .error {
    color: red;
    font-size: 13px;
}
.serviceformbg {
    background: #636363 none repeat scroll 0 0;
    float: left;
    padding: 25px;
    width: 100%;
}
.serviceform h3 {
    color: #f5e812;
    font-family: Lato;
    font-size: 30px;
    margin-top: 0;
}
.formdiv {
    padding: 0 3px;
}
.formdiv select {
    border: 0 none;
    height: 45px;-moz-appearance:none;-webkit-appearance:none;background-image: url(../images/dropdwonicon.png);
    background-repeat: no-repeat;background-position: 97%;color: #666666;font-size: 17px;font-family: Lato;

}
.formdiv input {
    border: 0 none;
    height: 45px;
}
.formbutton input {
    background: #f5e812 none repeat scroll 0 0;
    color: #2c2c2c;
    font-family: Lato;
    font-size: 21px;
    font-weight: bold;
    height: 45px;
    width: 100%;
}
.formbutton{padding: 0px 4px;}
.serviceformbg {
    background: #636363 none repeat scroll 0 0;
    float: left;
    margin-top: -158px;
    padding: 35px 25px;
    position: relative;
    width: 100%;
}
h1.pagetitle {
    color: #444545;
    font-family: Lato;
    font-weight: bold;
}
.pagetext {
    color: #000;
    font-family: Lato;
    font-size: 17px;
    line-height: 30px;
    margin: 20px 0;
}
.pagesection {
    padding-top: 60px;
}
.howitwrkblkbg {
    background: #fff none repeat scroll 0 0;
    border-radius: 6px;
    box-shadow: 14px 31px 94px 0 #d4ccd5;
    padding: 20px 0 60px;
}
.howitwrkblkbg img {
    margin: auto;
}
.howitwrkblkbg > h3 {
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;padding: 0 20px;
    line-height: 26px;min-height: 80px;
}
.howitwrkblkbg > p {
    color: #666666;
    font-family: Lato;
    font-size: 17px;
    margin-top: 25px;
    padding: 0 50px;
}
.howitworkimg {
    align-items: center;
    display: flex;
    min-height: 210px;
}

/**slider-start**/
.serviceblks .carousel-inner > .item.next,
  .serviceblks .carousel-inner > .item.active.right {
    left: 0;
    -webkit-transform: translate3d(16.6%, 0, 0);
            transform: translate3d(16.6%, 0, 0);
  }
  .serviceblks .carousel-inner > .item.prev,
  .serviceblks .carousel-inner > .item.active.left {
    left: 0;
    -webkit-transform: translate3d(-16.6%, 0, 0);
            transform: translate3d(-16.6%, 0, 0);
  }
  .serviceblks .carousel-inner > .item.next.left,
  .serviceblks .carousel-inner > .item.prev.right,
  .serviceblks .carousel-inner > .item.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
.serviceblks .carousel-control{background: none;opacity: 1}
.serviceblks {
    background: #fff none repeat scroll 0 0;padding: 30px 40px; margin-top: 50px;
    box-shadow: 14px 31px 94px 0 #d4ccd5;border-radius: 6px;position: relative;
}
.slideboxcontent {
    background: #f5f5f5 none repeat scroll 0 0;
    min-height: 150px;
    padding: 3px 0;
}
.slideimg img{margin: auto;height: 90px;}
.slideimg{   }
.slidebox {
    padding: 0 5px;
}
.slideboxcontent > h4 {
    color: #323334;
    font-family: Lato;
    font-size: 19px;
    font-weight: bold;
    margin-top: 0;
    padding: 0 20px;
}
.serviceblks .item.active .slideboxcontent:hover{box-shadow:1px 1px 74px 0 #dadada; }
.serviceblks .carousel-control i {
    background: #f5e812 none repeat scroll 0 0;
    border-radius: 40px;
    color: #000;
    font-size: 20px;
    height: 40px;
    padding-top: 9px;
    text-shadow: none;
    width: 40px;
}
.serviceblks .right.carousel-control{right: -6%;}
.serviceblks .left.carousel-control{left: -6%;}
/**slider-end**/
.abtservicecontent p {
    margin: 30px auto;
    width: 720px;
}
.abtserviceimg img{margin:auto;}
.aboutservice.pagesection {
    background: #f6f6f6 none repeat scroll 0 0;
    margin-top: -110px;
    padding-top: 170px;
}
.whitebg {
    background: #fff none repeat scroll 0 0;
    height: 220px;
    margin-top: -220px;
}
.testimonialslider h4 {
    color: #9b9b9f;
    font-family: Lato;
    font-weight: bold;
}
.testimonialslider h1 {
    color: #05040e;
    font-family: Lato;
    font-weight: bold;
}
.testimonialslider .carousel-control{background: none;}
.testislidecntnt > p {
    font-family: Lato;
    font-size: 17px;
    line-height: 28px;
}
.clientinfo > img {
    border-radius: 60px;
    float: left;
    height: 50px;
    margin-right: 20px;
    width: 50px;margin-top: 3px;
}
.clientinfo > h4 {
    color: #05040e;
    font-family: Roboto;
    font-weight: bold;margin-bottom: 4px;
}
.clientinfo > span {
    font-family: Roboto;
}
.clientinfo {
    float: left;
    width: calc(100% - 50px);
}
.clientinfo img.quoteimg {
    float: right;
    height: auto;
    margin-top: -40px;
    width: 70px;
}
.testimonialsection.pagesection {
    padding-bottom: 130px;
}
.newslettersec {
    background: rgba(0, 0, 0, 0) url("../images/subscribe-bg.jpg") no-repeat scroll center center / cover ;
    padding: 70px 0;
}
.newsletterbox {
    background: #fff none repeat scroll 0 0;
    padding: 80px 80px;
    text-align: center;
}
.newsletterbox > h1 {
    color: #21201e;
    font-family: Lato;
    font-weight: bold;margin-top:0px;
    text-transform: uppercase;
}
.newsletterbox > h4 {
    color: #1d1d1d;
    font-family: Lato;
    font-size: 16px;
    margin-bottom: 20px;
}
.newsletterform {
    margin: auto;
    width: 65%;
}
.newsletterform .formgroup input {
    border: 1px solid #b4a273;
    box-shadow: none;
    height: 45px;
}
.newsletterform .formgroup input::-moz-placeholder{color: #333131;font-size: 15px;font-family: Open sans;}
.newsletterform .formgroup input::-webkit-input-placeholder{color: #333131;font-size: 15px;font-family: Open sans;}
.subscribebtn .btn {
    background: #b4a273 none repeat scroll 0 0;
    border: 0 none;
    color: #fff;
    font-family: Lato;
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
    padding: 10px 0;
    width: 100%;
}
.howitwrkblkbg span {
    color: #ee6526;
}
.roundborderimg img{margin: auto;}
label.error {
    color: red;
    font-size: 13px;
}
.sidebarbg {
    background: #fff none repeat scroll 0 0;
    float: left;
    padding: 0 25px;
    width: 100%;
}
.sidebartitle h4 {
    color: #333333;
    font-family: Lato;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}
.leftsidebar span {
    color: #2e4c65;
    font-family: Lato;
    font-size: 17px;
}
.sidebartitle {
    border-bottom: 3px solid #e0dede;
    float: left;
    padding: 20px 0;
    width: 100%;position: relative;
}
.mainmenu .list-group-item {
    border-left: 0 none;
    border-right: 0 none;
    border-top: 0 none;
    padding: 0;
}

.mainmenu .list-group a {
    color: #333333;
    font-family: Lato;
    font-size: 19px;margin: 0px;
    padding: 15px 0; border-bottom: 1px solid #ddd;
}
.mainmenu .list-group a:hover , .mainmenu .list-group a:focus{background: none ;}
.sidebartitle::before {
 background: #000 none repeat scroll 0 0;
    content: "";
    height: 3px;
    position: absolute;
    top: 100%;
    width: 100px;
}
.mainmenu .list-group a.selected{font-weight: bold;border-bottom: 0px;}
.mainmenu .list-group .selected .submenu{display: block;}
.mainmenu a i {
    float: right;
    font-size: 34px;
    line-height: 21px;
}
.mainmenu .list-group .selected .fa-angle-down{display: block;}
.mainmenu .list-group .selected .fa-angle-up{display: none;}
.mainmenu a i.fa-angle-down{display: none;}
.mainmenu ul{padding: 0px;list-style: none;}
.mainmenu .list-group.panel{box-shadow: none;}
.submenu {
    padding-left: 30px;
}
.mainmenu .list-group .submenu{border-bottom: 1px solid #ddd;}
.mainmenu .list-group .submenu a{border-bottom: 0px;padding: 10px 0;}
.sidebartitle.filterdiv {
    border-bottom: 1px solid #ddd;
    padding: 15px 0;
}
.sidebartitle.filterdiv:before{background: none;}
.filterblks li {
    background: #e9e9e9 none repeat scroll 0 0;
    border-radius: 4px;
    float: left;
    font-family: Lato;
    font-size: 17px;
    list-style: outside none none;
    margin: 3px 2px;
    padding: 10px 15px;
    width: auto;color: #202020;
}
.filterblks ul{padding: 0px;}
.filterblks i {
    padding-left: 4px;
}
.filterblks {
    float: left;
    padding-top: 20px;
    width: 100%;
}

*::after, *::before {
    box-sizing: border-box;
}
*::after, *::before {
    box-sizing: border-box;
}
.sidebarinput select {
    background: #f2f2f2 none repeat scroll 0 0;
    border: 1px solid #c7c7c7;
    border-radius: 5px;
    font-family: Lato;
    font-size: 17px;
    height: 45px;
    padding: 0 10px;
    width: 100%;-moz-appearance:none;-webkit-appearance:none;background-image: url(../images/dropdwonicon.png);
    background-repeat: no-repeat;background-position: 97%;
}
.sidebartitle.areatitle{border-bottom: 0px; padding: 10px 0;}
.sidebartitle.areatitle:before{background: none;}

.pricecheckbox {
    -moz-user-select: none;
    cursor: pointer;
    display: block;
    float: left;
    font-family: Lato;
    font-size: 19px;
    font-weight: normal;
    line-height: 21px;
    margin-bottom: 12px;
    padding-left: 30px;
    position: relative;
    width: auto;padding-right: 30px;
}
/* Hide the browser's default checkbox */
.pricecheckbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.pricecheckbox .checkmark {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
}

/* On mouse-over, add a grey background color */
.pricecheckbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.pricecheckbox input:checked ~ .checkmark {
    background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.pricecheckbox .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.pricecheckbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.pricecheckbox .checkmark::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #696969;
    border-image: none;
    border-style: solid;
    border-width: 0 3px 3px 0;
    height: 10px;
    left: 7px;
    top: 3px;
    transform: rotate(45deg);
    width: 5px;
}
.topspacing {
    float: left;
    padding-top: 20px;
    width: 100%;
}
.fillratingbox {
    background: #696969 none repeat scroll 0 0;
    float: left;
    height: 15px;border-radius: 3px;
    width: 15px;   margin-right: 10px;
}
.ratingbox {
    border: 1px solid #696969;
    float: left;
    height: 15px;border-radius: 3px;
    width: 15px;margin-right: 10px;
}
.fa.fa-star.ycolor {
    color: #ffcd00;
}
.fa.fa-star.gcolor {
    color: #dad9d9;
}
.starratingdiv span i {
    float: left;
    font-size: 20px;
    line-height: 17px;
    padding: 0 2px;
}
.starratingdiv {
    float: left;
    margin-bottom: 10px;
    width: 100%;
}
.mapimg img {
    height: 470px; width: 100%;
    object-fit: cover;
}
.searchbarbg{float: left;width: 100%;}
.resultdiv h5 {
    color: #333333;
    font-family: Lato;
    font-size: 20px;
    font-weight: bold;
}
.resultselbox > select {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #999999;
    border-radius: 5px;
    font-family: Lato;
    font-size: 17px;
    height: 45px;
    padding-left: 5px;
    width: 100%;-moz-appearance:none;-webkit-appearance:none;background-image: url(../images/dropdwonicon.png);
    background-repeat: no-repeat;background-position: 97%;
}
.srchheaderbrdr {
    border-bottom: 1px solid #d6d6d6;
    float: left;padding-bottom: 30px;
    width: 100%; padding-top: 50px;
}
.wishlistdiv {
    position: absolute;
    top: 0;
    width: 100%;
}
.discountdiv > span {
    background: rgba(68, 69, 69, 0.8) none repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: Lato;
    font-size: 20px;
    left: -8px;
    margin: 10px 0;
    padding: 2px 10px;
    position: relative;
}
.wishlisticon {
    float: right;
    position: relative;
    right: 10px;
    top: 10px;
}
.wishlisticon i {
    background: #f5e812 none repeat scroll 0 0;
    border-radius: 28px;
    color: #696969;
    font-size: 21px;
    height: 40px;
    padding-top: 11px;
    text-align: center;
    width: 40px;
}
.resultcntntbox {
    background: #fff none repeat scroll 0 0;
}
.searchresultbg {
    border: 1px solid #d9dee1;position: relative;
}
.resultbox_title h4 {
    color: #3399cc;font-size: 16px;
    font-family: Lato;margin-top: 0px;
    font-weight: bold;
}
.resultbox_title span {
    color: #333333;
    padding-left: 10px;
}
.startdiv i {
    color: #ffcc00;
    float: left; padding: 0 1px;
}
.startdiv{padding-left: 0px; display: flex;display: -webkit-flex; -webkit-justify-content: right;
    justify-content: right; padding-top: 5px;}
.resultcntntbox > p {
    color: #333333;
    float: left;
    font-family: Lato;
    font-size: 17px;
    line-height: 21px;
    margin-top: 5px;
    width: 100%;
}
.amtdiv {
    color: #0099cc;
    font-family: Lato;
    font-size: 20px;
}
.amtdiv span {
    color: #686868;
    font-size: 18px;
}
.resultcntntbox {
    padding: 20px 12px;
}
.searchresults {
    float: left;
    margin-top: 30px;
    width: 100%;
}
.searchresultdiv {
    margin-bottom: 25px;
}
.searchresults {
    margin-bottom: 100px;
}
.pagecontent{float: left;}
.greybgdiv {
    background: #edf2f5 none repeat scroll 0 0;
}
.whitebgdiv {
    background: #ffffff none repeat scroll 0 0;
}
.banner_content h1 {
    color: #444545;
    font-family: Lato;
    font-size: 30px;
    font-weight: bold;
    margin: 0;
}
.bannerimg {
    background: rgba(0, 0, 0, 0) url("../images/banner-img.jpg") no-repeat scroll 0 0 / cover ;
    padding: 70px 0;
}
.profileinfo > h2 {
    color: #666666;
    font-family: Lato;
    margin-top: 0;
}
.maincontent {
    font-family: Lato;
}
.profileinfo > p {
    color: #333333;
    font-size: 20px;
}
.profileinfo p i {
    color: #ffdb4b;
    padding: 0 1px;
}
.profileinfo b {
    padding-right: 10px;
}
.reviews {
    color: #666666;
    font-size: 17px;
    padding-left: 15px;
}
.profile_img > img {
    border: 4px solid #fff;
    border-radius: 4px;
    box-shadow: 3px 6px 19px 4px #b6b6b6;
    width: 100%;
}
.profileinfo .prflinfo {
    font-size: 18px;
}
.prflinfo > span {
    color: #3399cc;
    font-weight: bold;
    padding-right: 20px;
}
.profilebtns a {
    background: red none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 1px 3px 12px 0 #919191;
    font-family: Lato;
    font-size: 18px;
    font-weight: bold;
    margin-right: 10px;
    padding: 20px 30px;
}
.profilebtns a.yellowbtn{background: #fff10e;color: #444545;}
.profilebtns a.greybtn{background: #696969;color: #fff;}
.profilebtns a i {
    margin-right: 5px; font-size: 20px;
}
.greybtn .fa.fa-heart-o {
    background: #fff none repeat scroll 0 0;
    border-radius: 30px;
    color: #696969;
    height: 30px;
    padding-top: 5px;
    position: relative;
    text-align: center;
    width: 30px;
}
.profilebtns {
    float: left;
    margin-top: 40px;
    width: 100%;
}
.durationdiv h2 {
    color: #444545;
    font-family: Lato;
    font-weight: bold;
}
.singlepageslider .carousel-control{background:none;}
.singlepageslider .item img {
    height: 320px;
    object-fit: cover;
    width: 100%;
}
.singlepageslider {
    border: 6px solid #fff;
    border-radius: 6px;
    box-shadow: 2px 0 23px -1px #d0d0d0;
}
.singlepageslider a.carousel-control span {
    background: #f2f2fa none repeat scroll 0 0;
}
.singlepageslider a.carousel-control{opacity: 1;}
.singlepageslider a.carousel-control span {
      background: #f2f2fa none repeat scroll 0 0;
    border-radius: 60px;
    box-shadow: -1px 0 14px -3px #5b5b5b;
    color: #000;
    font-size: 18px;
    height: 50px;
    padding-top: 16px;
    text-shadow: none;
    width: 50px;
}
.singlepageslider a.left.carousel-control {
    left: -20px;
    width: auto;
}
.singlepageslider a.right.carousel-control{right: -20px;
    width: auto;}
    .singlepageleft > h2 {
    color: #444545;
}
.singlepageleft > p {
    color: #666666;
    font-size: 17px;
    line-height: 30px;
    margin-top: 20px;
}
.singlepageslider {
    border: 6px solid #fff;
    border-radius: 6px;
    box-shadow: 2px 0 23px -1px #d0d0d0;
    margin-top: 30px;margin-bottom: 40px;
}
.singlepagecontent {
    padding-top: 30px;
}
.singleprofile_listing > h3 {
    border-bottom: 3px solid #e2e2e2;
    padding-bottom: 15px;color: #444545;
}
.listingitem1 > li {
    color: #444545;
    font-size: 17px;
    padding-bottom: 5px;list-style: none;
}
ul.listingitem1{padding-left: 0px;}
.listingitem1 > li i {
    font-size: 30px;
    padding-right: 10px;
    position: relative;
    top: 4px;
}
.listingitem1 > li i.fa-check-circle{color: #41ad49;}
.listingitem1 > li i.fa.fa-times-circle {
    color: #f05228;
}
.listingitem2 {
    padding: 10px 0 0;
}
.listingitem2 > li {
    color: #000;
    font-size: 17px;margin-bottom: 4px;
    list-style: outside none none;
}
.listingitem2 span {
    color: #159ee2;
}
.singleprofile_listing > h4 {
    color: #0091cb;
    font-weight: bold;
}
.singleprofile_listing > p {
    color: #444545;
    font-size: 17px;
}
.singleprofile_listing h5 {
    color: #0091cb;
    font-size: 17px;
}
.singleprofile_listing {
    margin-top: 40px;
}
.imgbtns {
    align-items: center;
    background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;
    border-radius: 50%;
    display: flex;
    height: 200px;
    justify-content: center;
    position: absolute;
    text-align: center;
    top: 0;
    width: 200px;
}
.imgbtns i {
    color: #d7d1cf;
    font-size: 25px;
}
.imagediv {
    position: relative;
}
.acccompletion_tabs ul li a {
    background: #f6f6f6 none repeat scroll 0 0;
    border-radius: 0;
    color: #323334;
    font-size: 20px;
    margin: 0;
    padding: 15px 50px;
}
.acccompletion_tabs ul li.active a {
    border-top: 4px solid #f5e812 !important;border-bottom: 0px;
}
.acccompletion_tabs ul li a:hover {
border-bottom: 0px;
}
.profileform_right label {
    color: #8f8f8f;
    font-family: Lato;
    font-size: 20px;
    font-weight: normal;
}
.profileform_right {
    margin-bottom: 60px;
}
.profileinput input {
    border: 0 none;
    box-shadow: none;
    color: #444545;
    float: left;
    font-size: 20px;
    padding: 0;
    width: calc(100% - 30px);
}
.profileinput select {
    border: 0 none;
    box-shadow: none;padding: 0;
    color: #444545;
    font-size: 20px;-moz-appearance:none;-webkit-appearance:none;background: url(../images/black-arrow.png);
    background-repeat: no-repeat;background-position: right;
}
.profileinput input:focus{box-shadow: none;}
.profileinput select:focus{box-shadow: none;outline: 0;}
.profileinput {
    border-bottom: 1px solid #eeeeef;
    padding-bottom: 10px;
}
.nextbtn input {
    background: #ffff00 none repeat scroll 0 0;
    border: 0 none;
    box-shadow: 4px 5px 18px -3px #eee;
    float: left;
    font-size: 24px;
    font-weight: bold;
    height: auto;
    padding: 14px 40px;
    width: auto;
}
.nextbtn {
    margin-top: 40px;
}
.profileinput i.fa.fa-check {
    color: #16d972; padding-top: 10px;
    float: left;
    font-size: 20px;
    width: 30px;
}
form.completionform {
    padding-top: 70px;
}
.acccompletionsec h1 {
    color: #444545;
    font-size: 40px;
    margin-bottom: 30px;
}
.acccompletionsec {
    padding-top: 30px;
}




@media (min-width: 1600px) and (max-width: 1920px) {
    .seriveformsec .container{width: 1500px;}
}
@media (max-width:1600px) {
    .leftsidebar span{font-size:15px;}
}
@media (min-width: 1200px) and (max-width: 1280px) {
.navbar-default.navigationbar li a{ font-size: 16px;}
.loginbtn a{font-size: 16px;}
}
@media (min-width: 992px) and (max-width: 1199px) {
    .navbar-default.navigationbar li a{font-size: 14px;}
    .navbar-default.navigationbar li a {
    font-size: 15px;
    padding-left: 8px;
    padding-right: 8px;
}
.navlinks .navbar-collapse {
    padding: 0;
}
.loginbtn a{font-size: 14px;padding-top: 25px;}
.loginbtn a i {
    padding-right: 2px;
}
}
@media (min-width: 768px) and (max-width: 991px) {
    .navigationbar .navbar-header{display: block;}
    .navigationbar .navbar-header .navbar-toggle{display: block;}
      .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse {
        overflow-x: visible !important;
    }

    .navbar-collapse.in {
      overflow-y: auto !important;
    }

    .collapse.in {
      display: block !important;
    }
    .loginbtn {text-align: center;}
    .loginbtn a{padding-top: 0;}
    .mapimg img {
    height: 470px;
    object-fit: cover;
}
nav.navigationbar {
    padding-bottom: 10px;
}
    .navigationbar .navbar-header button {
    background: #f5e812 none repeat scroll 0 0;
    border: 0 none;
    margin: 15px 0;
}
}
@media (max-width: 767px) {
    .navigationbar .navbar-header button {
    background: #f5e812 none repeat scroll 0 0;
    border: 0 none;
    margin: 15px 0;
}
.loginbtn {text-align: center;}
.loginbtn a{padding-top: 0;}
nav.navigationbar {
    padding-bottom: 10px;
}
}
@media (max-width: 480px) {
    .leftheader li {
    border: 0 none;
    float: left;
    padding: 0;
    text-align: center;
    width: 100%;
}
.rightheader ul {
    float: left;
    text-align: center;
    width: 100%;
}
.loginbtn a{padding-top: 0;}
.loginbtn {text-align: center;}
nav.navigationbar {
    padding-bottom: 10px;
}
.tg-features li{width: 100%;}
.tg-featurecontent span{white-space: normal;}
.formbg{ margin: 60px 0;
    padding: 40px 10px;}
    .acccompletionsec h1{font-size: 30px;}
    .acccompletion_tabs li {
    text-align: center;
    width: 50%;
}
.acccompletion_tabs ul li a{padding: 10px 15px;}
form.completionform {
    padding-top: 30px;
}

}