

@media (min-width:767px) {
	.column1 {
		width: 5%;
		float: left
	}
	.column2 {
		width: 10%;
		float: left
	}
	.column3 {
		width: 15%;
		float: left
	}
	.column4 {
		width: 20%;
		float: left
	}
	.column5 {
		width: 25%;
		float: left
	}
	.column6 {
		width: 30%;
		float: left
	}
	.column7 {
		width: 35%;
		float: left
	}
	.column8 {
		width: 40%;
		float: left
	}
	.column9 {
		width: 45%;
		float: left
	}
	.column10 {
		width: 50%;
		float: left
	}
	.column11 {
		width: 55%;
		float: left
	}
	.column12 {
		width: 60%;
		float: left
	}
	.column13 {
		width: 65%;
		float: left
	}
	.column14 {
		width: 70%;
		float: left
	}
	.column15 {
		width: 75%;
		float: left
	}
	.column16 {
		width: 85%;
		float: left
	}
	.column17 {
		width: 95%;
		float: left
	}
}

.hifen {
	display: none
}

@media (max-width:980px) {
	.headings {
		display: none
	}
	.tabledata.confirmedtable td:nth-of-type(1):before {
		content: "Sobre o contratante"
	}
	.tabledata.confirmedtable td:nth-of-type(2):before {
		content: "Nome contato"
	}
	.tabledata.confirmedtable td:nth-of-type(3):before {
		content: "Mensagem"
	}
	.tabledata.confirmedtable td:nth-of-type(4):before {
		content: "Categoria"
	}
	.tabledata.confirmedtable td:nth-of-type(5):before {
		content: "Serviço"
	}
	.tabledata.confirmedtable td:nth-of-type(6):before {
		content: "Data de início"
	}
	.tabledata.confirmedtable td:nth-of-type(7):before {
		content: "Valor total"
	}
	
	.tabledata.confirmedtable.ppending td:nth-of-type(1):before {
		content: "Tem interesse no serviço?"
	}
	.tabledata.confirmedtable.ppending td:nth-of-type(2):before {
		content: "Nome contato"
	}
	.tabledata.confirmedtable.ppending td:nth-of-type(3):before {
		content: "Mensagem"
	}
	.tabledata.confirmedtable.ppending td:nth-of-type(4):before {
		content: "Categoria"
	}
	.tabledata.confirmedtable.ppending td:nth-of-type(5):before {
		content: "Serviço"
	}
	.tabledata.confirmedtable.ppending td:nth-of-type(6):before {
		content: "Data de início"
	}
	.tabledata.confirmedtable.ppending td:nth-of-type(7):before {
		content: "Valor total"
	}
	

	.tabledata.confirmedtable.tkr td:nth-of-type(1):before {
		content: "Nome contato"
	}
	.tabledata.confirmedtable.tkr td:nth-of-type(2):before {
		content: "Mensagem"
	}
	.tabledata.confirmedtable.tkr td:nth-of-type(3):before {
		content: "Categoria"
	}
	.tabledata.confirmedtable.tkr td:nth-of-type(4):before {
		content: "Serviço"
	}
	.tabledata.confirmedtable.tkr td:nth-of-type(5):before {
		content: "Data de início"
	}
	.tabledata.confirmedtable.tkr td:nth-of-type(6):before {
		content: "Valor total"
	}
	
	.tabledata.confirmedtable.tkrpending td:nth-of-type(1):before {
		content: "Avaliação"
	}
	.tabledata.confirmedtable.tkrpending td:nth-of-type(2):before {
		content: "Nome contato"
	}
	.tabledata.confirmedtable.tkrpending td:nth-of-type(3):before {
		content: "Mensagem"
	}
	.tabledata.confirmedtable.tkrpending td:nth-of-type(4):before {
		content: "Categoria"
	}
	.tabledata.confirmedtable.tkrpending td:nth-of-type(5):before {
		content: "Serviço"
	}
	.tabledata.confirmedtable.tkrpending td:nth-of-type(6):before {
		content: "Data de início"
	}
	.tabledata.confirmedtable.tkrpending td:nth-of-type(7):before {
		content: "Valor total"
	}

	
	.tabledata.confirmedtable td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		float: left;
		width: 100%;
		padding-left: 50%!important;
	}
	.tabledata.confirmedtable td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		font-weight: 700;
		padding-right: 10px;
		white-space: nowrap
	}
	tr#pending_32 {
		overflow: hidden;
		float: left;
		width: 100%
	}
	.bookingmsg_sec tr {
		margin-bottom: 40px!important;
		float: left;
		width: 100%;
		border: 0
	}
	.tablediv .tabledata td {
		border-bottom: 1px solid #ccc!important
	}
	.hifen {
		color: transparent;
		display: inline-block;
		margin-left: -10px
	}
}

@media (max-width:767px) {
	.tablediv thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px
	}
	.tablediv tr {
		border: 1px solid #ccc
	}
	.tablediv td {
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%
	}
	.tablediv td:before {
		position: absolute;
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap
	}
	.summary td:nth-of-type(1):before {
		content: "No"
	}
	.summary td:nth-of-type(2):before {
		content: "First Name"
	}
	.summary td:nth-of-type(3):before {
		content: "Last Name"
	}
	.summary td:nth-of-type(4):before {
		content: "Present"
	}
	.summary td:nth-of-type(5):before {
		content: "Late"
	}
	.summary td:nth-of-type(6):before {
		content: "Auth Absent"
	}
	.summary td:nth-of-type(7):before {
		content: "Unauth Absent"
	}
	.summary td:nth-of-type(8):before {
		content: "Total Sessions"
	}
}

.tablediv table {
	width: 100%;
	border: 1px solid #bfbfbf;
	border-radius: 4px;
	margin-bottom: 0
}

.tablediv .tableheader th {
	background: #39c none repeat scroll 0 0;
	border: 0 none;
	color: #fff;
	font-size: 14px;
	padding: 15px 10px;
	font-family: lato;
	font-weight: 700
}

.tabledata .username img {
	border-radius: 40px;
	float: left;
	width: 40px;
	height: 40px
}

.tablediv .tabledata td {
	padding: 5px 10px;
	border: 0;
	color: #444545;
	font-size: 13px;
	text-align: left;
	text-align: left;
	border: 1px solid #f4f4f4
}

.username h4 span {
	float: left;
	padding-left: 10px
}

.userdesc p {
	color: #444545;
	font-size: 13px;
	margin-bottom: 0
}

.tablediv .table-striped>tbody>tr:nth-of-type(2n+1) {
	background-color: #fff
}

.tablediv .table-striped>tbody>tr:nth-of-type(2n) {
	background-color: rgba(51, 153, 204, .05)
}

.tablediv .tabledata td:first-child a {
	display: flex;
	align-items: center
}

.tablediv .tabledata td:first-child span {
	padding-left: 5px
}

@media (max-width:767px) {
	.tablediv .tabledata td {
		font-size: 14px;
		width: 100% !important;
	}
	.userdesc p {
		font-size: 14px
	}
}

.tablediv .tabledata td h4 {
	font-size: 14px
}

@media (max-width:320px) {
td.column2.bkngaction.bkngActionMob.colum-2 {padding-left: 64%!important;     padding: 5px 0px;}
.butt {margin-left: 0px;}

.leftbox {display: block !important;}
td.column3.leftbox3 {padding-left: 50% !important;}
td.column2.bkngActionMob.leftbox2 {padding-left: 50% !important;}
.userdesc .column3 .leftbox3 {padding-left: 50% !important;} 
td.column3.leftbox3 {padding: 18px 0px;}


.userdesc.column5 {padding: 7% !important;}
.userdesc.column4 {padding: 7% !important;}
.tablediv .tabledata td:first-child a {display: initial;} 


}

@media (min-width:321px) and (max-width:375px) { 
td.column2.bkngaction.bkngActionMob.colum-2 {padding-left: 55%!important;  } 
td.column3.leftbox3 {padding: 18px 0px;}
 

.userdesc.column5 {padding: 6% !important;}
.userdesc.column4 {padding: 6% !important;}
.tablediv .tabledata td:first-child a {display: initial;}
 
}


@media (min-width:376px) and (max-width:425px) { 
td.column2.bkngaction.bkngActionMob.colum-2 {padding-left: 55%!important;  } 
td.column3.leftbox3 {padding: 18px 0px;}

 .userdesc.column4 p {width: 150px !important;}
.userdesc.column5 {padding: 5% !important;}
.userdesc.column4 {padding: 5% !important;}
.tablediv .tabledata td:first-child a {display: initial;}
 
}
